Repository pennlabs/penn-clubs: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-lint-fix, frontend

.pre-commit-config.yaml:

---
repos:
  - repo: local
    hooks:
      - id: ruff-format
        name: Ruff Formatter
        entry: bash -c "export PIPENV_IGNORE_VIRTUALENVS=1 && cd backend && pipenv run ruff format ."
        language: python
        types: [python]
        require_serial: true
        files: ^backend/
        pass_filenames: false
      - id: ruff-lint-fix
        name: Ruff Lint (Apply Fixes)
        entry: ruff check . --fix
        language: python
        types: [python]
        require_serial: true
        files: ^backend/
      - id: frontend
        name: Yarn Linter
        entry: bash -c "cd frontend && yarn lint"
        language: system
        files: ^frontend/
        require_serial: false
        pass_filenames: false

bump(@pennlabs/kittyhawk): 1.1.11
  k8s/package.json
  k8s/yarn.lock
Due: none

Minor bug, typos, and removing placeholder code
  frontend/components/ClubEditPage/TicketsViewCard.tsx
  frontend/components/EventPage/EventModal.tsx
  frontend/pages/tickets/[[...slug]].tsx
Due: frontend

Handle invalid ticket page slugs gracefully
  frontend/pages/tickets/[[...slug]].tsx
Due: frontend

add search field for username on ApplicationSubmission in Django Admin
  backend/clubs/admin.py
Due: ruff-format, ruff-lint-fix

Revert "Add default timeout to dev cache"
  backend/pennclubs/settings/development.py
Due: ruff-format, ruff-lint-fix

Revert "Use dummy cache as fallback"
  backend/clubs/utils.py
  backend/pennclubs/settings/production.py
Due: ruff-format, ruff-lint-fix

Revert "Use default timeout settings"
  backend/clubs/views.py
Due: ruff-format, ruff-lint-fix

Revert "Create custom CacheManager"
  backend/clubs/utils.py
  backend/pennclubs/settings/production.py
Due: ruff-format, ruff-lint-fix

Ignore Redis connection errors
  backend/pennclubs/settings/production.py
Due: ruff-format, ruff-lint-fix

Add socket timeouts
  backend/pennclubs/settings/production.py
Due: ruff-format, ruff-lint-fix

Handle Redis connection errors (#611)
  backend/pennclubs/settings/production.py
Due: ruff-format, ruff-lint-fix

Add temporary download data button to Wharton data dashboard
  frontend/components/Settings/WhartonApplicationStatus.tsx
Due: frontend

Fix check for editing club application committees after start time
  backend/clubs/serializers.py
Due: ruff-format, ruff-lint-fix

Typo with committee check
  backend/clubs/serializers.py
Due: ruff-format, ruff-lint-fix

Move ticketing migration to end
  backend/clubs/migrations/0096_cart_ticket.py
Due: ruff-format, ruff-lint-fix

Try sorting committees to check equality
  backend/clubs/serializers.py
Due: ruff-format, ruff-lint-fix

Fix case where committees not in ClubApplication save request
  backend/clubs/serializers.py
Due: ruff-format, ruff-lint-fix

Add export anonymized application submissions feature for Wharton Council cycles
  backend/clubs/permissions.py
  backend/clubs/views.py
  frontend/components/Settings/WhartonApplicationCycles.tsx
Due: ruff-format, ruff-lint-fix, frontend

Include DSOs in Wharton cycle applications export
  backend/clubs/views.py
Due: ruff-format, ruff-lint-fix

fix channels
  backend/Pipfile
  backend/Pipfile.lock
  backend/pennclubs/routing.py
  backend/pennclubs/settings/base.py
  backend/tests/clubs/test_commands.py
Due: ruff-format, ruff-lint-fix

use ruff w/shared actions, remove black, flake8, isort
  .github/workflows/build-and-deploy.yaml
  backend/Pipfile
  backend/Pipfile.lock
  backend/pyproject.toml
Due: none

oops lol
  .github/workflows/build-and-deploy.yaml
Due: none

this is embarrassing
  .github/workflows/build-and-deploy.yaml
Due: none

use 3.11 base image
  backend/Dockerfile
Due: none

temporarily add integration tests
  .github/workflows/build-and-deploy.yaml
Due: none

Fix typescript errors
  frontend/pages/club/[club]/alumni.tsx
  frontend/pages/club/[club]/application/[application]/index.tsx
  frontend/pages/club/[club]/apply.tsx
  frontend/pages/club/[club]/org.tsx
  frontend/pages/events.tsx
  frontend/pages/tickets/[[...slug]].tsx
  frontend/pages/user/[user]/index.tsx
Due: frontend

Update node to 16
  frontend/package.json
Due: frontend

Update Dockerfile to node16
  frontend/Dockerfile
Due: frontend

Pass in node16 to shared actions
  .github/workflows/build-and-deploy.yaml
Due: none

Make linter happy
  frontend/pages/club/[club]/alumni.tsx
  frontend/pages/club/[club]/application/[application]/index.tsx
  frontend/pages/club/[club]/apply.tsx
  frontend/pages/club/[club]/org.tsx
  frontend/pages/events.tsx
  frontend/pages/user/[user]/index.tsx
Due: frontend

Update TS linting, enable legacy SSL
  frontend/package.json
Due: frontend

Fix pageProps type
  frontend/renderPage.tsx
Due: frontend

Update yarn lockfile
  frontend/yarn.lock
Due: frontend

attempt to fix
  docker-compose.test.yaml
Due: none

fixed django base
  backend/Dockerfile
  docker-compose.test.yaml
Due: none

fix integration tests
  frontend/cypress/integration/authed_spec.js
  frontend/cypress/support/commands.js
Due: frontend

fix csrf?
  frontend/cypress/support/commands.js
Due: frontend
