Repository pennlabs/penn-clubs: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-lint-fix, frontend

.pre-commit-config.yaml:

---
repos:
  - repo: local
    hooks:
      - id: ruff-format
        name: Ruff Formatter
        entry: bash -c "export PIPENV_IGNORE_VIRTUALENVS=1 && cd backend && pipenv run ruff format ."
        language: python
        types: [python]
        require_serial: true
        files: ^backend/
        pass_filenames: false
      - id: ruff-lint-fix
        name: Ruff Lint (Apply Fixes)
        entry: ruff check . --fix
        language: python
        types: [python]
        require_serial: true
        files: ^backend/
      - id: frontend
        name: Frontend Linter
        entry: bash -c "cd frontend && bun run lint"
        language: system
        files: ^frontend/
        require_serial: false
        pass_filenames: false

make frontend build work
  frontend/components/ClubDetails.tsx
  frontend/components/ClubPage/ClubApprovalDialog.tsx
  frontend/components/ClubPage/LiveEventsDialog.tsx
  frontend/components/FormComponents.tsx
  frontend/components/Header/index.tsx
  frontend/components/SearchBar.tsx
  frontend/components/Settings/FairEventsTab.tsx
  frontend/components/Settings/WhartonApplicationTab.tsx
  frontend/components/common/CSVTagInput.tsx
  frontend/pages/club/[club]/application/[application]/index.tsx
  frontend/pages/constitutions.tsx
  frontend/renderPage.tsx
  frontend/utils/branding.tsx
  frontend/utils/sentry.tsx
Due: frontend

make frontend build work v2
  frontend/bun.lock
  frontend/components/ClubDetails.tsx
  frontend/components/ClubPage/LiveEventsDialog.tsx
  frontend/components/Settings/FairEventsTab.tsx
  frontend/components/Settings/WhartonApplicationTab.tsx
  frontend/next-env.d.ts
  frontend/pages/constitutions.tsx
Due: frontend

make frontend build work v3
  frontend/components/ClubDetails.tsx
  frontend/components/ClubPage/LiveEventsDialog.tsx
  frontend/components/Settings/FairEventsTab.tsx
  frontend/components/Settings/WhartonApplicationTab.tsx
  frontend/pages/constitutions.tsx
Due: frontend

Merge master
  .github/workflows/build-and-deploy.yaml
  .pre-commit-config.yaml
  README.md
  backend/Dockerfile
  backend/Pipfile
  backend/Pipfile.lock
  backend/clubs/admin.py
  backend/clubs/models.py
  backend/clubs/serializers.py
  backend/clubs/views.py
  backend/pyproject.toml
  backend/scripts/asgi-run
  backend/tests/clubs/test_ticketing.py
  backend/tests/clubs/test_views.py
  backend/uv.lock
  frontend/Dockerfile
  frontend/bun.lock
  frontend/package.json
Due: ruff-format, ruff-lint-fix, frontend

Actually merge
  frontend/bun.lock
  frontend/server.js
Due: frontend

Make Ruff happy
  backend/tests/clubs/test_views.py
Due: ruff-format, ruff-lint-fix

Bump event location char limit
  backend/clubs/models.py
Due: ruff-format, ruff-lint-fix

Revert and enforce char limit for event location
  backend/clubs/models.py
Due: ruff-format, ruff-lint-fix

Truncate event group name before saving
  backend/clubs/models.py
Due: ruff-format, ruff-lint-fix

Tweak add_ics_events to work with null locations
  backend/clubs/models.py
Due: ruff-format, ruff-lint-fix

Squash and integrate migrations
  backend/clubs/migrations/0120_remove_event_club.py
  backend/clubs/migrations/0120_remove_event_club_remove_event_code_and_more.py
  backend/clubs/migrations/0121_alter_event_group.py
  backend/clubs/migrations/0122_remove_event_name_eventgroup_created_at_and_more.py
  backend/clubs/migrations/0123_remove_event_code.py
  backend/clubs/migrations/0124_merge_20250322_0259.py
Due: ruff-format, ruff-lint-fix

Fix event gating
  backend/clubs/views.py
  backend/tests/clubs/test_ticketing.py
Due: ruff-format, ruff-lint-fix

Integrate LiveEventsDialog
  backend/clubs/views.py
  frontend/components/ClubPage/LiveEventsDialog.tsx
Due: ruff-format, ruff-lint-fix, frontend

Add support for checkout questions
  backend/clubs/migrations/0121_checkoutquestion_checkoutmultiplechoice.py
  backend/clubs/models.py
  backend/clubs/serializers.py
  backend/clubs/urls.py
  backend/clubs/views.py
  backend/tests/clubs/test_views.py
Due: ruff-format, ruff-lint-fix

Get individual event pages and events page to work
  backend/clubs/admin.py
  backend/clubs/management/commands/populate.py
  backend/clubs/models.py
  backend/clubs/views.py
  backend/tests/clubs/test_views.py
  frontend/components/ClubEditPage/EventsCard.tsx
  frontend/pages/events/[code].tsx
  frontend/pages/events/[id].tsx
  frontend/pages/events/index.tsx
  frontend/types.ts
Due: ruff-format, ruff-lint-fix, frontend

update serializers.py
  backend/clubs/serializers.py
Due: ruff-format, ruff-lint-fix

update views.py + add more tests
  backend/clubs/views.py
  backend/tests/clubs/test_views.py
Due: ruff-format, ruff-lint-fix

Fix student-facing frontend code for eventgroups
  backend/clubs/serializers.py
  backend/clubs/views.py
  frontend/components/ClubPage/EventCarousel.tsx
  frontend/components/EventPage/EventCard.tsx
  frontend/components/EventPage/EventModal.tsx
  frontend/components/Tickets/CartTickets.tsx
  frontend/components/Tickets/TicketCard.tsx
  frontend/pages/club/[club]/index.tsx
  frontend/pages/events/[code].tsx
  frontend/pages/events/index.tsx
  frontend/types.ts
Due: ruff-format, ruff-lint-fix, frontend

End-to-end frontend integration for multi-events
  backend/clubs/serializers.py
  backend/clubs/views.py
  frontend/components/ClubEditPage/EventsCard.tsx
  frontend/components/ClubEditPage/TicketsModal.tsx
  frontend/components/ClubEditPage/TicketsViewCard.tsx
  frontend/components/Tickets/ManageBuyer.tsx
  frontend/pages/events/[code]/index.tsx
  frontend/pages/events/[code]/tickets/[id].tsx
Due: ruff-format, ruff-lint-fix, frontend

Fix lint
  frontend/components/ClubPage/Events.tsx
  frontend/package.json
  frontend/pages/zoom.tsx
Due: frontend

Add EventShowing model (and other updates)
  backend/clubs/migrations/0120_remove_event_parent_recurring_event_and_more.py
  backend/clubs/models.py
Due: ruff-format, ruff-lint-fix

Refactor API to support event showings
  backend/clubs/permissions.py
  backend/clubs/serializers.py
  backend/clubs/urls.py
  backend/clubs/views.py
Due: ruff-format, ruff-lint-fix

Refactor commands to support event showings
  backend/clubs/management/commands/import_paideia_events.py
  backend/clubs/management/commands/populate.py
  backend/clubs/management/commands/rank.py
  backend/clubs/management/commands/send_emails.py
Due: ruff-format, ruff-lint-fix

Refactor admin interface to support event showings
  backend/clubs/admin.py
Due: ruff-format, ruff-lint-fix

Refactor (and add) unit tests
  backend/tests/clubs/test_commands.py
  backend/tests/clubs/test_models.py
  backend/tests/clubs/test_ticketing.py
  backend/tests/clubs/test_views.py
Due: ruff-format, ruff-lint-fix

Misc fixes and frontend for Events page and individual Event page
  .gitignore
  .pre-commit-config.yaml
  backend/.python-version
  backend/clubs/models.py
  backend/clubs/serializers.py
  frontend/components/ClubPage/Events.tsx
  frontend/components/ClubPage/LiveEventsDialog.tsx
  frontend/components/EventPage/EventCard.tsx
  frontend/pages/events/[id].tsx
  frontend/pages/events/index.tsx
  frontend/pages/zoom.tsx
  frontend/types.ts
Due: ruff-format, ruff-lint-fix, frontend

Frontend for event and eventshowing creation and ticket management
  backend/clubs/serializers.py
  backend/clubs/views.py
  backend/tests/clubs/test_views.py
  frontend/components/ClubEditPage/EventsCard.tsx
  frontend/components/ClubEditPage/TicketsModal.tsx
  frontend/components/ClubPage/EventCarousel.tsx
  frontend/components/EventPage/EventModal.tsx
  frontend/components/Tickets/ManageBuyer.tsx
  frontend/pages/club/[club]/index.tsx
  frontend/pages/events/[id]/index.tsx
  frontend/pages/events/[id]/tickets/[showing-id].tsx
  frontend/pages/tickets/[[...slug]].tsx
  frontend/types.ts
Due: ruff-format, ruff-lint-fix, frontend

Fix handling of ticketed property for individual showings
  backend/clubs/serializers.py
  frontend/pages/events/[id]/index.tsx
Due: ruff-format, ruff-lint-fix, frontend

Complete cart integration
  frontend/components/ClubEditPage.tsx
  frontend/components/ClubEditPage/EventsCard.tsx
  frontend/components/ClubEditPage/TicketsViewCard.tsx
  frontend/components/Tickets/CartTickets.tsx
  frontend/components/Tickets/TicketCard.tsx
  frontend/types.ts
Due: frontend

Add date filter to event editor
  frontend/components/ClubEditPage/EventsCard.tsx
  frontend/components/ModelForm.tsx
Due: frontend

Add (and migrate to) event showings (#804)
  .gitignore
  .pre-commit-config.yaml
  backend/.python-version
  backend/clubs/admin.py
  backend/clubs/management/commands/import_paideia_events.py
  backend/clubs/management/commands/populate.py
  backend/clubs/management/commands/rank.py
  backend/clubs/management/commands/send_emails.py
  backend/clubs/migrations/0120_remove_event_parent_recurring_event_and_more.py
  backend/clubs/models.py
  backend/clubs/permissions.py
  backend/clubs/serializers.py
  backend/clubs/urls.py
  backend/clubs/views.py
  backend/tests/clubs/test_commands.py
  backend/tests/clubs/test_models.py
  backend/tests/clubs/test_ticketing.py
  backend/tests/clubs/test_views.py
  frontend/components/ClubEditPage.tsx
  frontend/components/ClubEditPage/EventsCard.tsx
  frontend/components/ClubEditPage/TicketsModal.tsx
  frontend/components/ClubEditPage/TicketsViewCard.tsx
  frontend/components/ClubPage/EventCarousel.tsx
  frontend/components/ClubPage/Events.tsx
  frontend/components/ClubPage/LiveEventsDialog.tsx
  frontend/components/EventPage/EventCard.tsx
  frontend/components/EventPage/EventModal.tsx
  frontend/components/ModelForm.tsx
  frontend/components/Tickets/CartTickets.tsx
  frontend/components/Tickets/ManageBuyer.tsx
  frontend/components/Tickets/TicketCard.tsx
  frontend/pages/club/[club]/index.tsx
  frontend/pages/events/[id].tsx
  frontend/pages/events/[id]/index.tsx
  frontend/pages/events/[id]/tickets/[showing-id].tsx
  frontend/pages/events/index.tsx
  frontend/pages/tickets/[[...slug]].tsx
  frontend/pages/zoom.tsx
  frontend/types.ts
Due: ruff-format, ruff-lint-fix, frontend

Perform eventshowing creation for existing events (except for deletion of old fields for safety) in actual migration file
  backend/clubs/migrations/0120_remove_event_parent_recurring_event_and_more.py
Due: ruff-format, ruff-lint-fix

Revert "Perform eventshowing creation for existing events (except for deletion of old fields for safety) in actual migration file"
  backend/clubs/migrations/0120_remove_event_parent_recurring_event_and_more.py
Due: ruff-format, ruff-lint-fix

Revert "Add (and migrate to) event showings (#804)"
  .gitignore
  .pre-commit-config.yaml
  backend/.python-version
  backend/clubs/admin.py
  backend/clubs/management/commands/import_paideia_events.py
  backend/clubs/management/commands/populate.py
  backend/clubs/management/commands/rank.py
  backend/clubs/management/commands/send_emails.py
  backend/clubs/migrations/0120_remove_event_parent_recurring_event_and_more.py
  backend/clubs/models.py
  backend/clubs/permissions.py
  backend/clubs/serializers.py
  backend/clubs/urls.py
  backend/clubs/views.py
  backend/tests/clubs/test_commands.py
  backend/tests/clubs/test_models.py
  backend/tests/clubs/test_ticketing.py
  backend/tests/clubs/test_views.py
  frontend/components/ClubEditPage.tsx
  frontend/components/ClubEditPage/EventsCard.tsx
  frontend/components/ClubEditPage/TicketsModal.tsx
  frontend/components/ClubEditPage/TicketsViewCard.tsx
  frontend/components/ClubPage/EventCarousel.tsx
  frontend/components/ClubPage/Events.tsx
  frontend/components/ClubPage/LiveEventsDialog.tsx
  frontend/components/EventPage/EventCard.tsx
  frontend/components/EventPage/EventModal.tsx
  frontend/components/ModelForm.tsx
  frontend/components/Tickets/CartTickets.tsx
  frontend/components/Tickets/ManageBuyer.tsx
  frontend/components/Tickets/TicketCard.tsx
  frontend/pages/club/[club]/index.tsx
  frontend/pages/events/[id].tsx
  frontend/pages/events/[id]/index.tsx
  frontend/pages/events/[id]/tickets/[showing-id].tsx
  frontend/pages/events/index.tsx
  frontend/pages/tickets/[[...slug]].tsx
  frontend/pages/zoom.tsx
  frontend/types.ts
Due: ruff-format, ruff-lint-fix, frontend

Move ZoomMeetingVisit back to Event
  backend/clubs/migrations/0120_remove_event_parent_recurring_event_and_more.py
  backend/clubs/models.py
  backend/clubs/views.py
  backend/tests/clubs/test_views.py
Due: ruff-format, ruff-lint-fix

Add (and migrate to) event showings (V2) (#806)
  .gitignore
  .pre-commit-config.yaml
  backend/.python-version
  backend/clubs/admin.py
  backend/clubs/management/commands/import_paideia_events.py
  backend/clubs/management/commands/populate.py
  backend/clubs/management/commands/rank.py
  backend/clubs/management/commands/send_emails.py
  backend/clubs/migrations/0120_event_showing_add_fields_nondestructive.py
  backend/clubs/models.py
  backend/clubs/permissions.py
  backend/clubs/serializers.py
  backend/clubs/urls.py
  backend/clubs/views.py
  backend/tests/clubs/test_commands.py
  backend/tests/clubs/test_models.py
  backend/tests/clubs/test_ticketing.py
  backend/tests/clubs/test_views.py
  frontend/components/ClubEditPage.tsx
  frontend/components/ClubEditPage/EventsCard.tsx
  frontend/components/ClubEditPage/TicketsModal.tsx
  frontend/components/ClubEditPage/TicketsViewCard.tsx
  frontend/components/ClubPage/EventCarousel.tsx
  frontend/components/ClubPage/Events.tsx
  frontend/components/ClubPage/LiveEventsDialog.tsx
  frontend/components/EventPage/EventCard.tsx
  frontend/components/EventPage/EventModal.tsx
  frontend/components/ModelForm.tsx
  frontend/components/Tickets/CartTickets.tsx
  frontend/components/Tickets/ManageBuyer.tsx
  frontend/components/Tickets/TicketCard.tsx
  frontend/pages/club/[club]/index.tsx
  frontend/pages/events/[id].tsx
  frontend/pages/events/[id]/index.tsx
  frontend/pages/events/[id]/tickets/[showing-id].tsx
  frontend/pages/events/index.tsx
  frontend/pages/tickets/[[...slug]].tsx
  frontend/pages/zoom.tsx
  frontend/types.ts
Due: ruff-format, ruff-lint-fix, frontend

Fix backend hosting of static files (temporary)
  backend/Dockerfile
  backend/scripts/wsgi-run
Due: none

Copy new script into bin
  backend/Dockerfile
Due: none

Complete migration to event showings
  backend/clubs/models.py
Due: ruff-format, ruff-lint-fix
