Repository pennlabs/penn-clubs: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, flake8, frontend

.pre-commit-config.yaml:

---
repos:
  - repo: local
    hooks:
      - id: black
        name: black
        entry: bash -c "export PIPENV_IGNORE_VIRTUALENVS=1 && cd backend && pipenv run black ."
        language: python
        types: [python]
        require_serial: true
        files: ^backend/
        pass_filenames: false
      - id: isort
        name: isort
        entry: isort
        language: python
        types: [python]
        require_serial: true
        files: ^backend/
      - id: flake8
        name: flake8
        entry: flake8
        language: python
        types: [python]
        require_serial: true
        files: ^backend/
        args: [--config, backend/setup.cfg]
      - id: frontend
        name: Yarn Linter
        entry: bash -c "cd frontend && yarn lint"
        language: system
        files: ^frontend/
        require_serial: false
        pass_filenames: false

Add tests for group discounts and cart totaling
  backend/tests/clubs/test_ticketing.py
Due: black, isort, flake8

landing page started
  frontend/components/Frontpage/EventsTrending.tsx
  frontend/components/Frontpage/Navbar.tsx
  frontend/components/Frontpage/Searchbar.tsx
  frontend/pages/frontpage.tsx
Due: frontend

Move submissions from /apply to user profile (#638)
  frontend/package.json
  frontend/pages/settings.tsx
  frontend/yarn.lock
Due: frontend

Add carousel (#622)
  frontend/components/ClubPage/EventCarousel.tsx
  frontend/components/ClubPage/Events.tsx
  frontend/components/EventPage/EventCard.tsx
  frontend/package.json
  frontend/pages/club/[club]/index.tsx
  frontend/yarn.lock
Due: frontend

Revert "Move submissions from /apply to user profile (#638)"
  frontend/package.json
  frontend/pages/settings.tsx
  frontend/yarn.lock
Due: frontend

Revert "Move submissions from /apply to user profile (#638)" (#673)
  frontend/package.json
  frontend/pages/settings.tsx
  frontend/yarn.lock
Due: frontend

Revert "Add carousel (#622)"
  frontend/components/ClubPage/EventCarousel.tsx
  frontend/components/ClubPage/Events.tsx
  frontend/components/EventPage/EventCard.tsx
  frontend/package.json
  frontend/pages/club/[club]/index.tsx
  frontend/yarn.lock
Due: frontend

Revert "Add carousel (#622)" (#674)
  frontend/components/ClubPage/EventCarousel.tsx
  frontend/components/ClubPage/Events.tsx
  frontend/components/EventPage/EventCard.tsx
  frontend/package.json
  frontend/pages/club/[club]/index.tsx
  frontend/yarn.lock
Due: frontend

Minor change to docs
  backend/tests/clubs/test_ticketing.py
Due: black, isort, flake8

Only populate `sold_out_tickets` if tickets cannot be replaced
  backend/clubs/views.py
Due: black, isort, flake8

Refactor tests to use new cart API
  backend/tests/clubs/test_ticketing.py
Due: black, isort, flake8

Make openAPI docs happy
  backend/clubs/views.py
Due: black, isort, flake8

Make `_calculate_cart_total` static method
  backend/clubs/views.py
  backend/tests/clubs/test_ticketing.py
Due: black, isort, flake8

Group discount shouldn't activate below threshold
  backend/tests/clubs/test_ticketing.py
Due: black, isort, flake8

remove serializer, add tests
  backend/clubs/migrations/0105_remove_ticket_transaction_record_ticket_transferable_and_more.py
  backend/clubs/models.py
  backend/clubs/serializers.py
  backend/clubs/views.py
  backend/tests/clubs/test_ticketing.py
Due: black, isort, flake8

Fix API docs & improve tests
  backend/clubs/views.py
  backend/tests/clubs/test_ticketing.py
Due: black, isort, flake8

Add minor subtest
  backend/tests/clubs/test_ticketing.py
Due: black, isort, flake8

Add frontend auth check to cart page and fix sold_out toast functionality (multiple toasts per ticket, ticket event name)
  backend/clubs/views.py
  frontend/components/Tickets/CartTickets.tsx
  frontend/components/Tickets/TicketCard.tsx
  frontend/pages/events/checkout.tsx
Due: black, isort, flake8, frontend

Align tests with new API
  backend/clubs/views.py
  backend/tests/clubs/test_ticketing.py
Due: black, isort, flake8

Fix backend tests for group discounts, new cart API, and more (#675)
  backend/clubs/views.py
  backend/tests/clubs/test_ticketing.py
Due: black, isort, flake8

Revert unneeded changes to Pipfile.lock
  backend/Pipfile.lock
Due: none

first pass
  backend/clubs/migrations/0105_ticket_attended.py
  backend/clubs/models.py
  backend/clubs/views.py
  backend/pennclubs/settings/base.py
Due: black, isort, flake8

fix doc
  backend/clubs/views.py
Due: black, isort, flake8

Allow users to specify drop time + more guards/tests
  backend/clubs/views.py
  backend/tests/clubs/test_ticketing.py
Due: black, isort, flake8

Remove dev artifact in tests
  backend/tests/clubs/test_ticketing.py
Due: black, isort, flake8

Fix all typos with "transferred"
  backend/tests/clubs/test_ticketing.py
Due: black, isort, flake8

Improve error reporting in mgmt cmds
  backend/clubs/management/commands/expire_membership_invites.py
  backend/clubs/management/commands/find_broken_images.py
  backend/clubs/management/commands/update_club_counts.py
Due: black, isort, flake8

Improve error reporting in mgmt cmds (#678)
  backend/clubs/management/commands/expire_membership_invites.py
  backend/clubs/management/commands/find_broken_images.py
  backend/clubs/management/commands/update_club_counts.py
Due: black, isort, flake8

Improve invalid ticket replacement
  backend/clubs/views.py
Due: black, isort, flake8

fix N+1 query due to attribute
  backend/clubs/views.py
Due: black, isort, flake8

Add 403 to response schema
  backend/clubs/views.py
Due: black, isort, flake8

Only display tickets after they've dropped
  backend/clubs/views.py
  backend/tests/clubs/test_ticketing.py
Due: black, isort, flake8

:tada: Default to 1 ticket when buying smh
  frontend/pages/events/[id].tsx
Due: frontend

tests + fix
  backend/clubs/views.py
  backend/tests/clubs/test_ticketing.py
Due: black, isort, flake8

Add support for ticket drop times (#672)
  backend/Pipfile
  backend/Pipfile.lock
  backend/clubs/migrations/0104_event_ticket_drop_time.py
  backend/clubs/models.py
  backend/clubs/views.py
  backend/tests/clubs/test_ticketing.py
Due: black, isort, flake8

:tada: Add a bunch of style and features
  backend/clubs/views.py
  frontend/components/ClubEditPage/EventsCard.tsx
  frontend/components/ModelForm.tsx
  frontend/components/Tickets/CartTickets.tsx
  frontend/components/Tickets/TicketCard.tsx
  frontend/package.json
  frontend/yarn.lock
Due: black, isort, flake8, frontend

here at Penn Clubs, we love nits
  backend/tests/clubs/test_ticketing.py
Due: black, isort, flake8

lint
  backend/tests/clubs/test_ticketing.py
Due: black, isort, flake8

Add ability to transfer ownership of tickets (#653)
  backend/clubs/migrations/0105_event_ticket_drop_time.py
  backend/clubs/migrations/0106_remove_ticket_transaction_record_ticket_transferable_and_more.py
  backend/clubs/models.py
  backend/clubs/views.py
  backend/templates/emails/ticket_confirmation.html
  backend/templates/emails/ticket_transfer.html
  backend/tests/clubs/test_ticketing.py
Due: black, isort, flake8

:art: Kinda responsive
  frontend/components/ClubPage/Actions.tsx
  frontend/components/Tickets/CartTickets.tsx
  frontend/components/common/Modal.tsx
  frontend/pages/events/[id].tsx
Due: frontend
