Repository pennlabs/penn-clubs: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, flake8, frontend

black:
  name: black
  entry: bash -c "export PIPENV_IGNORE_VIRTUALENVS=1 && cd backend && pipenv run black ."
  language: python
  require_serial: true
  pass_filenames: false

isort:
  name: isort
  entry: isort
  language: python
  require_serial: true

flake8:
  name: flake8
  entry: flake8
  language: python
  require_serial: true
  args:
  - --config
  - backend/setup.cfg

frontend:
  name: Yarn Linter
  entry: bash -c "cd frontend && yarn lint"
  language: system
  require_serial: false
  pass_filenames: false

plz
  frontend/cypress/support/commands.js
Due: frontend

remove integration tests
  .github/workflows/build-and-deploy.yaml
Due: none

Update file storage API to Django 4.2
  backend/pennclubs/settings/production.py
Due: black, isort, flake8

Add staticfiles
  backend/pennclubs/settings/production.py
Due: black, isort, flake8

Fix AWS bucket routing for boto
  backend/pennclubs/settings/production.py
Due: black, isort, flake8

Try setting credentials through env vars
  backend/pennclubs/settings/production.py
Due: black, isort, flake8

Try renaming env vars?
  backend/pennclubs/settings/production.py
Due: black, isort, flake8

Set AWS region
  backend/pennclubs/settings/production.py
Due: black, isort, flake8

add back staticfiles
  backend/pennclubs/settings/production.py
Due: black, isort, flake8

Fix django storages API (#617)
  backend/pennclubs/settings/production.py
Due: black, isort, flake8

Remove region and signature version
  backend/pennclubs/settings/production.py
Due: black, isort, flake8

Move credentials to new API
  backend/pennclubs/settings/production.py
Due: black, isort, flake8

Bump node in build step
  .github/workflows/build-and-deploy.yaml
Due: none

Add Node 18 to build step as well
  .github/workflows/build-and-deploy.yaml
Due: none

Update build image
  frontend/Dockerfile
Due: frontend

Fix TextField styling
  .github/workflows/build-and-deploy.yaml
  frontend/components/ClubEditPage/ClubEditCard.tsx
  frontend/components/FormComponents.tsx
Due: frontend

Definitely not a typo
  .github/workflows/build-and-deploy.yaml
Due: none

update django check to use codecov
  .github/workflows/build-and-deploy.yaml
  backend/Pipfile
  backend/Pipfile.lock
Due: none

Add back codecov (#619)
  .github/workflows/build-and-deploy.yaml
  backend/Pipfile
  backend/Pipfile.lock
Due: none

Fix add club button, tag deletion, textarea, orderinput dropdown trigger.
  frontend/components/DisplayButtons.tsx
  frontend/components/FilterSearch.tsx
  frontend/components/FormComponents.tsx
  frontend/components/OrderInput.tsx
Due: frontend

Fix multi-select tag delete and downgrade react-datepicker.
  frontend/components/FilterSearch.tsx
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Use next Script tag
  frontend/components/Header/Head.tsx
  frontend/components/common/Metadata.tsx
Due: frontend

Whitelist localhost from CSRF
  backend/pennclubs/settings/development.py
Due: black, isort, flake8

Whitelist localhost from CSRF (#620)
  backend/pennclubs/settings/development.py
Due: black, isort, flake8

Add limit and autoclose faster
  frontend/renderPage.tsx
Due: frontend

Bump autoClose
  frontend/renderPage.tsx
Due: frontend

Style Toastify notifications (#621)
  frontend/renderPage.tsx
Due: frontend

add carousel
  frontend/components/ClubPage/EventCarousel.tsx
  frontend/components/ClubPage/Events.tsx
  frontend/components/EventPage/EventCard.tsx
  frontend/package-lock.json
  frontend/package.json
  frontend/pages/club/[club]/index.tsx
  frontend/yarn.lock
Due: frontend

Old react-multi-carousel
  frontend/package-lock.json
  frontend/package.json
  frontend/yarn.lock
Due: frontend

BUN!
  frontend/bun.lockb
  frontend/pages/api/[...all].ts
  frontend/server.js
Due: frontend

Suppress hydration warnings for dates to satisfy bun
  frontend/components/ClubPage/Events.tsx
  frontend/components/EventPage/DateInterval.tsx
Due: frontend

Add next middleware proxy library
  frontend/bun.lockb
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Use env variables and remove staticfiles
  backend/pennclubs/settings/production.py
Due: black, isort, flake8

Add back staticfiles
  backend/pennclubs/settings/production.py
Due: black, isort, flake8

Make code look pretty
  backend/pennclubs/settings/production.py
Due: black, isort, flake8

update frontend Dockerfile
  frontend/Dockerfile
Due: frontend

update pre-commit to use bun
  .pre-commit-config.yaml
Due: none

Path conditions:
  black: any of: ^backend/ and \.py$
  isort: any of: ^backend/ and \.py$
  flake8: any of: ^backend/ and \.py$
  frontend: any of: ^frontend/
