Repository pennlabs/penn-clubs: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-lint-fix, frontend

.pre-commit-config.yaml:

---
repos:
  - repo: local
    hooks:
      - id: ruff-format
        name: Ruff Formatter
        entry: bash -c "export PIPENV_IGNORE_VIRTUALENVS=1 && cd backend && pipenv run ruff format ."
        language: python
        types: [python]
        require_serial: true
        files: ^backend/
        pass_filenames: false
      - id: ruff-lint-fix
        name: Ruff Lint (Apply Fixes)
        entry: ruff check . --fix
        language: python
        types: [python]
        require_serial: true
        files: ^backend/
      - id: frontend
        name: Frontend Linter
        entry: bash -c "cd frontend && bun run lint"
        language: system
        files: ^frontend/
        require_serial: false
        pass_filenames: false

Add migration
  backend/clubs/migrations/0121_remove_event_parent_recurring_event_and_more.py
Due: ruff-format, ruff-lint-fix

Fix tests
  backend/tests/clubs/test_commands.py
  backend/tests/clubs/test_ticketing.py
Due: ruff-format, ruff-lint-fix

Make wsgi-run script executable
  backend/scripts/wsgi-run
Due: none

Turns out we still need asgi for websockets :/
  backend/Dockerfile
Due: none

Club Diff V2, missing title
  backend/clubs/serializers.py
  backend/clubs/views.py
  backend/pyproject.toml
  backend/uv.lock
  frontend/components/ClubPage/Description.tsx
  frontend/components/Settings/QueueTab.tsx
Due: ruff-format, ruff-lint-fix, frontend

removing line
  frontend/components/ClubPage/Description.tsx
Due: frontend

linting
  frontend/components/ClubPage/Description.tsx
  frontend/components/Settings/QueueTab.tsx
Due: frontend

lint
  backend/clubs/serializers.py
Due: ruff-format, ruff-lint-fix

Complete migration to event showings (#807)
  backend/clubs/migrations/0121_remove_event_parent_recurring_event_and_more.py
  backend/clubs/models.py
  backend/tests/clubs/test_commands.py
  backend/tests/clubs/test_ticketing.py
Due: ruff-format, ruff-lint-fix

Add secure acceptance fields to transaction records
  backend/clubs/migrations/0122_remove_tickettransactionrecord_buyer_phone_and_more.py
  backend/clubs/models.py
Due: ruff-format, ruff-lint-fix

Migrate views to secure acceptance
  backend/clubs/views.py
Due: ruff-format, ruff-lint-fix

Migrate environment settings
  backend/pennclubs/settings/ci.py
  backend/pennclubs/settings/development.py
  backend/pennclubs/settings/production.py
Due: ruff-format, ruff-lint-fix

update initiate and complete checkout
  backend/clubs/views.py
Due: ruff-format, ruff-lint-fix

update other ticketing routes
  backend/clubs/models.py
  backend/clubs/views.py
Due: ruff-format, ruff-lint-fix

Uploading Thomas' tests
  backend/tests/clubs/test_views.py
Due: ruff-format, ruff-lint-fix

Complete test coverage
  backend/clubs/serializers.py
  backend/tests/clubs/test_views.py
Due: ruff-format, ruff-lint-fix

Fix linting
  backend/clubs/serializers.py
  backend/tests/clubs/test_views.py
Due: ruff-format, ruff-lint-fix

Fixing diff test case
  backend/tests/clubs/test_views.py
Due: ruff-format, ruff-lint-fix

Edit ownership request to keep track of accepted and denied ownership request
  backend/clubs/admin.py
  backend/clubs/migrations/0120_remove_ownershiprequest_withdrawn_and_more.py
  backend/clubs/models.py
  backend/clubs/serializers.py
  backend/clubs/views.py
  backend/tests/clubs/test_views.py
Due: ruff-format, ruff-lint-fix

Update migration dependencies
  backend/clubs/migrations/0122_remove_ownershiprequest_withdrawn_and_more.py
Due: ruff-format, ruff-lint-fix

fix migration dependency
  backend/clubs/migrations/0120_checkoutquestion_checkoutmultiplechoice.py
Due: ruff-format, ruff-lint-fix

temporarily remove events_router to allow merge master
  backend/clubs/urls.py
Due: ruff-format, ruff-lint-fix

Add checkout questions to event_router and fix migration dependencies
  backend/clubs/migrations/0122_checkoutquestion_checkoutmultiplechoice.py
  backend/clubs/urls.py
Due: ruff-format, ruff-lint-fix

Added links to all clubs in the directory page. Added "request ownership" buttons to inactive club pages as well as an Ownership Request queue on the admin page.
  backend/clubs/serializers.py
  frontend/components/Settings/QueueTab.tsx
  frontend/pages/club/[club]/index.tsx
  frontend/pages/directory.tsx
  frontend/public/static/img/icons/box.svg
  frontend/public/static/img/icons/check-box.svg
  frontend/types.ts
Due: ruff-format, ruff-lint-fix, frontend

Get rid of TicketSettings (should not be here if we are merging into master)
  backend/clubs/models.py
Due: ruff-format, ruff-lint-fix

Header diff and permissions lock
  backend/clubs/serializers.py
  frontend/components/ClubPage/Description.tsx
  frontend/components/ClubPage/Header.tsx
  frontend/components/Settings/QueueTab.tsx
Due: ruff-format, ruff-lint-fix, frontend

make checkout questions work with clubs_event_router
  backend/clubs/urls.py
  backend/tests/clubs/test_views.py
Due: ruff-format, ruff-lint-fix

minor bug fixes + refactor
  backend/clubs/migrations/0118_remove_cart_checkout_context_remove_ticket_buyable_and_more.py
  backend/clubs/permissions.py
  backend/clubs/views.py
Due: ruff-format, ruff-lint-fix

check in view -> 400 error -> frontend redirection
  backend/clubs/views.py
  frontend/pages/club/[club]/application/[application]/index.tsx
Due: ruff-format, ruff-lint-fix, frontend

woops
  frontend/pages/club/[club]/apply.tsx
Due: frontend

Add delimiter to error help text for application updates
  backend/clubs/views.py
Due: ruff-format, ruff-lint-fix

Application submission management clarity (#781)
  backend/clubs/views.py
  frontend/components/ClubEditPage/ApplicationsPage.tsx
  frontend/pages/club/[club]/application/[application]/index.tsx
Due: ruff-format, ruff-lint-fix, frontend

Fix not-notified case
  frontend/components/ClubEditPage/ApplicationsPage.tsx
Due: frontend

Change deactivate script to use email flag
  backend/clubs/management/commands/deactivate.py
  backend/tests/clubs/test_commands.py
  backend/tests/clubs/test_views.py
Due: ruff-format, ruff-lint-fix

update migration
  backend/clubs/migrations/0122_remove_cart_checkout_context_remove_ticket_buyable_and_more.py
Due: ruff-format, ruff-lint-fix

Use correct syntax for bool flag
  backend/clubs/management/commands/deactivate.py
Due: ruff-format, ruff-lint-fix

Fix hardcoded outdated language in renewal email (#797)
  backend/clubs/management/commands/deactivate.py
  backend/clubs/models.py
  backend/templates/emails/renew.html
  backend/templates/emails/renewal_reminder.html
  backend/tests/clubs/test_commands.py
  backend/tests/clubs/test_views.py
Due: ruff-format, ruff-lint-fix

Re-add trailing space for now
  frontend/package.json
Due: frontend

Add frontend health route (#776)
  frontend/pages/health.tsx
Due: frontend

Add approval queue check for club image uploads
  backend/clubs/views.py
Due: ruff-format, ruff-lint-fix
