Repository pennlabs/penn-clubs: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, flake8, frontend

.pre-commit-config.yaml:

---
repos:
  - repo: local
    hooks:
      - id: black
        name: black
        entry: bash -c "export PIPENV_IGNORE_VIRTUALENVS=1 && cd backend && pipenv run black ."
        language: python
        types: [python]
        require_serial: true
        files: ^backend/
        pass_filenames: false
      - id: isort
        name: isort
        entry: isort
        language: python
        types: [python]
        require_serial: true
        files: ^backend/
      - id: flake8
        name: flake8
        entry: flake8
        language: python
        types: [python]
        require_serial: true
        files: ^backend/
        args: [--config, backend/setup.cfg]
      - id: frontend
        name: Yarn Linter
        entry: bash -c "cd frontend && yarn lint"
        language: system
        files: ^frontend/
        require_serial: false
        pass_filenames: false

Change comments and assert status codes for test_ownership_requests
  backend/clubs/views.py
  backend/tests/clubs/test_views.py
Due: black, isort, flake8

Change basename for membership requests and add test for creating and viewing membership requests
  backend/clubs/urls.py
  backend/tests/clubs/test_views.py
Due: black, isort, flake8

Add test for withdrawing membership requests
  backend/tests/clubs/test_views.py
Due: black, isort, flake8

Add test for accepting membership requests
  backend/tests/clubs/test_views.py
Due: black, isort, flake8

Add test for destroying membership requests
  backend/tests/clubs/test_views.py
Due: black, isort, flake8

Fix lint, styling, wording for public email warning
  frontend/components/ClubEditPage/ClubEditCard.tsx
  frontend/package.json
Due: frontend

Add cron job to update membership_count and favorite_count 😭
  k8s/main.ts
Due: none

Update Membership Requests model and logic to match Ownership Requests
  backend/clubs/admin.py
  backend/clubs/migrations/0119_rename_withdrew_ownershiprequest_withdrawn_and_more.py
  backend/clubs/models.py
  backend/clubs/serializers.py
  backend/clubs/views.py
Due: black, isort, flake8

backend
  backend/clubs/middleware.py
  backend/clubs/urls.py
  backend/clubs/views.py
  backend/pennclubs/settings/base.py
  backend/tests/clubs/test_views.py
Due: black, isort, flake8

Finish UI for club approval history + testcase
  backend/clubs/serializers.py
  backend/clubs/views.py
  backend/tests/clubs/test_views.py
  frontend/components/ClubPage/ClubApprovalDialog.tsx
  frontend/components/DropdownFilter.tsx
Due: black, isort, flake8, frontend

Add docs to approval history endpoint
  backend/clubs/views.py
Due: black, isort, flake8

Fix non-admin case
  backend/clubs/serializers.py
  frontend/components/ClubPage/ClubApprovalDialog.tsx
Due: black, isort, flake8, frontend

Add backend health route (#743)
  backend/clubs/urls.py
  backend/clubs/views.py
  backend/tests/clubs/test_views.py
Due: black, isort, flake8

Add permissioning on route-level, change ordering convention for history
  backend/clubs/serializers.py
  backend/clubs/views.py
  backend/tests/clubs/test_views.py
  frontend/components/ClubPage/ClubApprovalDialog.tsx
Due: black, isort, flake8, frontend

Consolidate approval_history perms into ClubPermission
  backend/clubs/permissions.py
  backend/clubs/views.py
Due: black, isort, flake8

Approval history UI (#746)
  backend/clubs/permissions.py
  backend/clubs/serializers.py
  backend/clubs/views.py
  backend/tests/clubs/test_views.py
  frontend/components/ClubPage/ClubApprovalDialog.tsx
  frontend/components/DropdownFilter.tsx
Due: black, isort, flake8, frontend

Make abstract base class Request for MembershipRequest and OwnershipRequest models and combine migration files
  backend/clubs/migrations/0118_ownershiprequest.py
  backend/clubs/migrations/0119_rename_withdrew_ownershiprequest_withdrawn_and_more.py
  backend/clubs/models.py
  backend/clubs/serializers.py
Due: black, isort, flake8

Modify and rename request.html email template to membership_request.html
  backend/templates/emails/membership_request.html
Due: none

Shorten and rename tests for membership and ownership requests
  backend/tests/clubs/test_views.py
Due: black, isort, flake8

minor edits to ownership requests accept and destroy tests
  backend/tests/clubs/test_views.py
Due: black, isort, flake8

Fixing nits
  backend/clubs/serializers.py
  backend/templates/emails/membership_request.html
  backend/templates/emails/ownership_request.html
Due: black, isort, flake8

Fix redundant UniqueTogether logic in Membership/OwnerhipRequestSerializer already in model
  backend/clubs/serializers.py
Due: black, isort, flake8

handle invalid club code in request creation
  backend/clubs/models.py
  backend/clubs/views.py
Due: black, isort, flake8

Change old-requests to all-requests
  backend/clubs/views.py
  backend/tests/clubs/test_views.py
Due: black, isort, flake8

Restrict event creation to approved clubs
  backend/clubs/views.py
Due: black, isort, flake8

Add tests
  backend/tests/clubs/test_views.py
Due: black, isort, flake8

Add retroactive checks to validate that ticket_drop_time has not changed following a ticket being added to a user's cart
  backend/clubs/views.py
Due: black, isort, flake8

Add action to go to public-facing event page in event editing interface
  frontend/components/ClubEditPage/EventsCard.tsx
Due: frontend

Support email blasts to ticket holders
  backend/clubs/views.py
  backend/templates/emails/blast.html
Due: black, isort, flake8

Add tests
  backend/tests/clubs/test_ticketing.py
Due: black, isort, flake8

Update ticket-related emails
  backend/clubs/models.py
  backend/templates/emails/ticket_confirmation.html
  backend/templates/emails/ticket_transfer.html
Due: black, isort, flake8

Minor refactor of confirmation email
  backend/clubs/models.py
Due: black, isort, flake8

Prevent unregistered clubs from selling tickets, display events from clubs which require reapproval
  backend/clubs/models.py
  backend/clubs/views.py
  frontend/pages/events/[id].tsx
  frontend/pages/events/index.tsx
Due: black, isort, flake8, frontend

Add styling for link to drop time field
  frontend/components/ClubEditPage/TicketsModal.tsx
Due: frontend

Fix types
  frontend/components/EventPage/EventCard.tsx
Due: frontend

Fix ticketing tests
  backend/clubs/views.py
Due: black, isort, flake8

Migrate from Babel to SWC
  frontend/.babelrc
  frontend/.swcrc
  frontend/components/EventPage/HappeningNow.tsx
  frontend/next.config.js
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Fix permissioning and add 400 response
  backend/clubs/permissions.py
  backend/clubs/views.py
  backend/tests/clubs/test_ticketing.py
Due: black, isort, flake8

Migrate from Babel to SWC (#751)
  frontend/.babelrc
  frontend/.swcrc
  frontend/components/EventPage/HappeningNow.tsx
  frontend/next.config.js
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Address nits
  backend/clubs/views.py
Due: black, isort, flake8
