Repository pennlabs/penn-clubs: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-lint-fix, frontend

ruff-format:
  name: Ruff Formatter
  entry: bash -c "export PIPENV_IGNORE_VIRTUALENVS=1 && cd backend && pipenv run ruff format ."
  language: python
  require_serial: true
  pass_filenames: false

ruff-lint-fix:
  name: Ruff Lint (Apply Fixes)
  entry: ruff check . --fix
  language: python
  require_serial: true

frontend:
  name: Frontend Linter
  entry: bash -c "cd frontend && bun run lint"
  language: system
  require_serial: false
  pass_filenames: false

Pass in mandatory params
  .github/workflows/build-and-deploy.yaml
Due: none

Inherit secrets
  .github/workflows/build-and-deploy.yaml
Due: none

Re-add Typescript as dev dependency to fix lint in CICD
  frontend/bun.lock
  frontend/package.json
Due: frontend

Skip codecov
  .github/workflows/build-and-deploy.yaml
Due: none

Use production versions of shared actions
  .github/workflows/build-and-deploy.yaml
Due: none

Add email blast route for admins
  backend/clubs/permissions.py
  backend/clubs/views.py
Due: ruff-format, ruff-lint-fix

Add tests
  backend/tests/clubs/test_views.py
Due: ruff-format, ruff-lint-fix

Add UI in admin dashboard
  frontend/components/Settings/BulkEditTab.tsx
  frontend/pages/admin/[[...slug]].tsx
Due: frontend

Restore frontend check, bump action versions (#785)
  .github/workflows/build-and-deploy.yaml
  frontend/bun.lock
  frontend/package.json
Due: frontend

Fix email blast frontend
  frontend/components/Settings/BulkEditTab.tsx
Due: frontend

Add clarity to email blast command description
  backend/clubs/views.py
  frontend/components/Settings/BulkEditTab.tsx
Due: ruff-format, ruff-lint-fix, frontend

Add email blast feature to admin dashboard (#786)
  backend/clubs/permissions.py
  backend/clubs/views.py
  backend/tests/clubs/test_views.py
  frontend/components/Settings/BulkEditTab.tsx
  frontend/pages/admin/[[...slug]].tsx
Due: ruff-format, ruff-lint-fix, frontend

split up views (WIP)
  backend/clubs/serializers.py
  backend/clubs/urls.py
  backend/clubs/views.py
Due: ruff-format, ruff-lint-fix

Improve email blast tests
  backend/tests/clubs/test_views.py
Due: ruff-format, ruff-lint-fix

Update OSA policies
  frontend/pages/club/[club]/renew.tsx
Due: frontend

Update OSA policies (#787)
  frontend/pages/club/[club]/renew.tsx
Due: frontend

Club diff draft pr
  backend/clubs/models.py
  backend/clubs/serializers.py
  backend/clubs/views.py
  frontend/components/ClubPage/Description.tsx
  frontend/components/ClubPage/Header.tsx
  frontend/components/Settings/QueueTab.tsx
  frontend/package.json
Due: ruff-format, ruff-lint-fix, frontend

Models, Serializers for Checkout Questions/Responses and new viewset for checkout questions
  backend/clubs/admin.py
  backend/clubs/migrations/0119_checkoutquestionsubmission_checkoutquestion_and_more.py
  backend/clubs/models.py
  backend/clubs/serializers.py
  backend/clubs/urls.py
  backend/clubs/views.py
Due: ruff-format, ruff-lint-fix

Add frontend auth gate for all pages
  frontend/renderPage.tsx
Due: frontend

Make it toggleable
  frontend/renderPage.tsx
  frontend/utils/branding.tsx
Due: frontend

dependency updates
  backend/Pipfile
  backend/Pipfile.lock
  backend/clubs/views.py
  frontend/yarn.lock
Due: ruff-format, ruff-lint-fix, frontend

Add frontend auth gate for all pages (#788)
  frontend/renderPage.tsx
  frontend/utils/branding.tsx
Due: frontend

add admin, models, serializers changes
  backend/clubs/admin.py
  backend/clubs/migrations/0122_remove_event_name_eventgroup_created_at_and_more.py
  backend/clubs/models.py
  backend/clubs/serializers.py
  backend/clubs/views.py
Due: ruff-format, ruff-lint-fix

update modles.py
  backend/clubs/models.py
Due: ruff-format, ruff-lint-fix

update populate.py
  backend/clubs/management/commands/populate.py
Due: ruff-format, ruff-lint-fix

fix add_ics_events
  backend/clubs/models.py
Due: ruff-format, ruff-lint-fix

use slugify for eventgroup code
  backend/clubs/management/commands/populate.py
  backend/clubs/models.py
Due: ruff-format, ruff-lint-fix

small fix in populate.py
  backend/clubs/management/commands/populate.py
Due: ruff-format, ruff-lint-fix

test_command tests passing
  backend/clubs/management/commands/merge_duplicates.py
  backend/clubs/management/commands/rank.py
  backend/clubs/management/commands/send_emails.py
  backend/clubs/models.py
  backend/tests/clubs/test_commands.py
Due: ruff-format, ruff-lint-fix

test_models tests passing
  backend/clubs/models.py
  backend/tests/clubs/test_models.py
Due: ruff-format, ruff-lint-fix

add tests
  backend/clubs/admin.py
  backend/clubs/migrations/0119_checkoutquestion_checkoutmultiplechoice.py
  backend/clubs/migrations/0119_checkoutquestionsubmission_checkoutquestion_and_more.py
  backend/clubs/models.py
  backend/clubs/serializers.py
  backend/clubs/urls.py
  backend/tests/clubs/test_views.py
Due: ruff-format, ruff-lint-fix

fix indenting issues
  backend/tests/clubs/test_views.py
Due: ruff-format, ruff-lint-fix

Close registration queue
  backend/pennclubs/settings/base.py
Due: ruff-format, ruff-lint-fix

Add RegistrationQueueSettings model
  backend/clubs/migrations/0119_registrationqueuesettings.py
  backend/clubs/models.py
Due: ruff-format, ruff-lint-fix

Add view to patch queue settings
  backend/clubs/serializers.py
  backend/clubs/urls.py
  backend/clubs/views.py
Due: ruff-format, ruff-lint-fix

Add unit tests
  backend/tests/clubs/test_views.py
Due: ruff-format, ruff-lint-fix

Migrate away from env variables
  backend/clubs/management/commands/daily_notifications.py
  backend/clubs/serializers.py
  backend/pennclubs/settings/base.py
  backend/tests/clubs/test_commands.py
  backend/tests/clubs/test_views.py
Due: ruff-format, ruff-lint-fix

Add test for precedence
  backend/tests/clubs/test_views.py
Due: ruff-format, ruff-lint-fix

Add frontend support for queue settings
  backend/clubs/admin.py
  backend/clubs/serializers.py
  frontend/components/Settings/QueueTab.tsx
  frontend/types.ts
Due: ruff-format, ruff-lint-fix, frontend

Fix null case for updated_by field, break queue settings into separate section
  backend/clubs/serializers.py
  frontend/components/Settings/QueueTab.tsx
Due: ruff-format, ruff-lint-fix, frontend

Path conditions:
  ruff-format: any of: ^backend/ and \.py$
  ruff-lint-fix: any of: ^backend/ and \.py$
  frontend: any of: ^frontend/
