Repository pennlabs/penn-clubs: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-lint-fix, frontend

ruff-format:
  name: Ruff Formatter
  entry: bash -c "export PIPENV_IGNORE_VIRTUALENVS=1 && cd backend && pipenv run ruff format ."
  language: python
  require_serial: true
  pass_filenames: false

ruff-lint-fix:
  name: Ruff Lint (Apply Fixes)
  entry: ruff check . --fix
  language: python
  require_serial: true

frontend:
  name: Yarn Linter
  entry: bash -c "cd frontend && yarn lint"
  language: system
  require_serial: false
  pass_filenames: false

update Python version in backend check, revert pin black version
  .github/workflows/build-and-deploy.yaml
  backend/Pipfile
  backend/Pipfile.lock
Due: none

:arrow_up: Scale for Club Fair
  k8s/main.ts
  nginx/certs/_wildcard.localhost.net-key.pem
  nginx/certs/_wildcard.localhost.net.pem
Due: none

fix..?
  .github/workflows/build-and-deploy.yaml
Due: none

switch to Python 3.11, fix tests
  .github/workflows/build-and-deploy.yaml
  backend/Pipfile
  backend/Pipfile.lock
  backend/clubs/routing.py
  backend/tests/clubs/test_commands.py
  backend/tests/clubs/test_views.py
Due: ruff-format, ruff-lint-fix

fix dependency
  backend/Dockerfile
  backend/Pipfile
  backend/Pipfile.lock
Due: none

lint
  backend/clubs/migrations/0091_clubapplication_application_end_time_exception.py
  backend/clubs/migrations/0092_merge_20240106_1117.py
  backend/clubs/migrations/0094_applicationcycle_release_date.py
Due: ruff-format, ruff-lint-fix

Write Initial Testing Script
  backend/clubs/management/commands/stress_test.py
Due: ruff-format, ruff-lint-fix

Remove NGINX keys
  nginx/certs/_wildcard.localhost.net-key.pem
  nginx/certs/_wildcard.localhost.net.pem
Due: none

Finish Working Script
  backend/clubs/management/commands/stress_test.py
  backend/clubs/views.py
Due: ruff-format, ruff-lint-fix

Lint
  backend/clubs/management/commands/stress_test.py
Due: ruff-format, ruff-lint-fix

Remove Extra Space
  backend/clubs/views.py
Due: ruff-format, ruff-lint-fix

Refactor Subset Size
  backend/clubs/management/commands/stress_test.py
Due: ruff-format, ruff-lint-fix

Fix Deletion and Question Data
  backend/clubs/management/commands/stress_test.py
Due: ruff-format, ruff-lint-fix

Add Bulk Creations for Setup
  backend/clubs/management/commands/stress_test.py
Due: ruff-format, ruff-lint-fix

Bulk Creation User Model
  backend/clubs/management/commands/stress_test.py
Due: ruff-format, ruff-lint-fix

Bulk Update and Testing
  backend/clubs/management/commands/update_club_counts.py
  backend/clubs/migrations/0095_merge_20240124_1227.py
  backend/pennclubs/settings/base.py
  backend/tests/clubs/test_commands.py
  k8s/main.ts
Due: ruff-format, ruff-lint-fix

committee validation improvements
  backend/clubs/serializers.py
Due: ruff-format, ruff-lint-fix

missing object init
  backend/clubs/serializers.py
Due: ruff-format, ruff-lint-fix

Fix types and migrations
  backend/clubs/migrations/0095_merge_20240128_1321.py
  frontend/components/ClubEditPage/TicketsModal.tsx
  frontend/components/ClubEditPage/TicketsViewModal.tsx
  frontend/components/Settings/TicketTransferModal.tsx
  frontend/pages/tickets/checkout.tsx
Due: ruff-format, ruff-lint-fix, frontend

Re-add membership requests and remove apply button visibility for open clubs and clubs in which user is a member of.
  frontend/components/ClubPage/Actions.tsx
  frontend/utils/branding.tsx
Due: frontend

Remove member check from request membership and apply buttons to display proper status of request.
  frontend/components/ClubPage/Actions.tsx
Due: frontend

:arrow_up: Scale Up
  k8s/main.ts
Due: none

Re-generate Pipfile.lock
  backend/Pipfile.lock
Due: none

Merge in New Master
  backend/Pipfile
  backend/docker-compose.yaml
Due: none

Revert Pipfile to wildcard Python 3 and re-gen lock file using 3.8
  backend/Pipfile
  backend/Pipfile.lock
Due: none

Stored Favorite / Membership Counts (#601)
  backend/Pipfile.lock
  backend/clubs/management/commands/update_club_counts.py
  backend/clubs/migrations/0091_auto_20231019_1730.py
  backend/clubs/migrations/0095_merge_20240124_1227.py
  backend/clubs/models.py
  backend/clubs/views.py
  backend/docker-compose.yaml
  backend/tests/clubs/test_commands.py
  k8s/main.ts
Due: ruff-format, ruff-lint-fix

:arrow_up: Update Django Base
  backend/Dockerfile
Due: none

Init
  backend/Dockerfile
  backend/clubs/management/commands/update_club_counts.py
  backend/clubs/migrations/0095_auto_20240202_1929.py
  backend/clubs/models.py
  backend/clubs/views.py
Due: ruff-format, ruff-lint-fix

Typo
  backend/clubs/models.py
Due: ruff-format, ruff-lint-fix

Init
  backend/Dockerfile
  backend/clubs/management/commands/update_club_counts.py
  backend/clubs/migrations/0095_auto_20240202_2013.py
  backend/clubs/models.py
  backend/clubs/views.py
Due: ruff-format, ruff-lint-fix

:bug: Update Dockerfile
  backend/Dockerfile
Due: none

remove archived field from application submissions
  backend/clubs/admin.py
  backend/clubs/migrations/0095_remove_applicationsubmission_archived.py
  backend/clubs/models.py
  backend/clubs/views.py
  frontend/components/Submissions.tsx
Due: ruff-format, ruff-lint-fix, frontend

remove archived field from application submissions (#610)
  backend/clubs/admin.py
  backend/clubs/migrations/0095_remove_applicationsubmission_archived.py
  backend/clubs/models.py
  backend/clubs/views.py
  frontend/components/Submissions.tsx
Due: ruff-format, ruff-lint-fix, frontend

fix migration
  backend/clubs/migrations/0096_merge_20240203_1758.py
Due: ruff-format, ruff-lint-fix

migration conflict
  backend/clubs/migrations/0095_remove_applicationsubmission_archived.py
  backend/clubs/migrations/0095_rm_field_add_count.py
  backend/clubs/migrations/0096_merge_20240203_1758.py
Due: ruff-format, ruff-lint-fix

Create custom CacheManager
  backend/clubs/utils.py
  backend/pennclubs/settings/production.py
Due: ruff-format, ruff-lint-fix

Use default timeout settings
  backend/clubs/views.py
Due: ruff-format, ruff-lint-fix

Use dummy cache as fallback
  backend/clubs/utils.py
  backend/pennclubs/settings/production.py
Due: ruff-format, ruff-lint-fix

Add default timeout to dev cache
  backend/pennclubs/settings/development.py
Due: ruff-format, ruff-lint-fix

Path conditions:
  ruff-format: any of: ^backend/ and \.py$
  ruff-lint-fix: any of: ^backend/ and \.py$
  frontend: any of: ^frontend/
