Repository pennlabs/penn-clubs: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, flake8, frontend

.pre-commit-config.yaml:

---
repos:
  - repo: local
    hooks:
      - id: black
        name: black
        entry: bash -c "export PIPENV_IGNORE_VIRTUALENVS=1 && cd backend && pipenv run black ."
        language: python
        types: [python]
        require_serial: true
        files: ^backend/
        pass_filenames: false
      - id: isort
        name: isort
        entry: isort
        language: python
        types: [python]
        require_serial: true
        files: ^backend/
      - id: flake8
        name: flake8
        entry: flake8
        language: python
        types: [python]
        require_serial: true
        files: ^backend/
        args: [--config, backend/setup.cfg]
      - id: frontend
        name: Yarn Linter
        entry: bash -c "cd frontend && yarn lint"
        language: system
        files: ^frontend/
        require_serial: false
        pass_filenames: false

Update main.ts
  k8s/main.ts
Due: none

Suppress hydration warnings for dates to satisfy bun
  frontend/components/ClubPage/Events.tsx
  frontend/components/EventPage/DateInterval.tsx
Due: frontend

Supress hydration warnings for dates in club application page
  frontend/pages/club/[club]/apply.tsx
Due: frontend

Fix TS errors
  frontend/components/EventPage/EventModal.tsx
Due: frontend

Update README.md
  README.md
Due: none

Update README backend instructions and intro blurb
  README.md
Due: none

send club invites with acceptance emails
  backend/.vscode/settings.json
  backend/clubs/views.py
Due: black, isort, flake8

use self.request instead of passing in request
  backend/clubs/views.py
Due: black, isort, flake8

bulk create invites
  backend/clubs/views.py
Due: black, isort, flake8

made migrations after deleting QuestionResponse
  backend/clubs/migrations/0096_delete_questionresponse.py
Due: black, isort, flake8

Remove deprecated QuestionResponse model
  backend/clubs/models.py
Due: black, isort, flake8

remove duplicate line: 'rank field in Club'
  backend/clubs/models.py
Due: black, isort, flake8

Fix frontend permissions for admin page
  frontend/pages/admin/[[...slug]].tsx
Due: frontend

Admin page pre-loads relevant permissions but didn't check for them.
  backend/clubs/views.py
  frontend/pages/admin/[[...slug]].tsx
Due: black, isort, flake8, frontend

Fix admin page access on frontend. (#626)
  backend/clubs/views.py
  frontend/pages/admin/[[...slug]].tsx
Due: black, isort, flake8, frontend

Removed deprecated QuestionResponse model and duplicate line (#625)
  backend/clubs/migrations/0096_delete_questionresponse.py
  backend/clubs/models.py
Due: black, isort, flake8

Added Send Invites checkbox
  frontend/components/ClubEditPage/ApplicationsPage.tsx
Due: frontend

Removed duplicate dry run check
  backend/clubs/views.py
Due: black, isort, flake8

Streamline django storages config (#618)
  backend/pennclubs/settings/production.py
Due: black, isort, flake8

Use subqueries in membership & favorite updates
  backend/clubs/management/commands/update_club_counts.py
Due: black, isort, flake8

Refactor club search filter
  backend/clubs/views.py
Due: black, isort, flake8

Remove errant line
  backend/clubs/views.py
Due: black, isort, flake8

Use bulk update when updating submission reasons
  backend/clubs/views.py
Due: black, isort, flake8

Use bulk create for fair creation
  backend/clubs/models.py
Due: black, isort, flake8

Formatting changes
  backend/clubs/models.py
Due: black, isort, flake8

Simplify check in decision reasons update
  backend/clubs/views.py
Due: black, isort, flake8

Fix typo :pensive:
  backend/clubs/views.py
Due: black, isort, flake8

Improve docuemntation clarity
  backend/clubs/views.py
Due: black, isort, flake8

Add hour for application due dates
  frontend/pages/club/[club]/application/[application]/index.tsx
Due: frontend

Make linter happy
  frontend/pages/club/[club]/application/[application]/index.tsx
Due: frontend

Specify Eastern time zone
  frontend/pages/club/[club]/application/[application]/index.tsx
Due: frontend

Add hour to displayed application deadline (#628)
  frontend/pages/club/[club]/application/[application]/index.tsx
Due: frontend

Use .exists() in changing applications' status
  backend/clubs/views.py
Due: black, isort, flake8

Refactor submission routes a little
  backend/clubs/views.py
Due: black, isort, flake8

Continue to make application submissions a little prettier
  backend/clubs/views.py
Due: black, isort, flake8

Use DB to update application times
  backend/clubs/views.py
Due: black, isort, flake8

Use update_or_create for membership request creation
  backend/clubs/views.py
Due: black, isort, flake8
