Repository pennlabs/penn-clubs: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, flake8, frontend

.pre-commit-config.yaml:

---
repos:
  - repo: local
    hooks:
      - id: black
        name: black
        entry: bash -c "export PIPENV_IGNORE_VIRTUALENVS=1 && cd backend && pipenv run black ."
        language: python
        types: [python]
        require_serial: true
        files: ^backend/
        pass_filenames: false
      - id: isort
        name: isort
        entry: isort
        language: python
        types: [python]
        require_serial: true
        files: ^backend/
      - id: flake8
        name: flake8
        entry: flake8
        language: python
        types: [python]
        require_serial: true
        files: ^backend/
        args: [--config, backend/setup.cfg]
      - id: frontend
        name: Yarn Linter
        entry: bash -c "cd frontend && yarn lint"
        language: system
        files: ^frontend/
        require_serial: false
        pass_filenames: false

:art: Initiate checkout only on button click
  frontend/components/Tickets/CartTickets.tsx
Due: frontend

Ticketing Cart Pre-Checkout (#670)
  backend/clubs/views.py
  backend/tests/clubs/test_ticketing.py
  frontend/components/ClubEditPage/EventsCard.tsx
  frontend/components/ClubPage/Actions.tsx
  frontend/components/ModelForm.tsx
  frontend/components/Settings/TicketsTab/index.tsx
  frontend/components/Tickets/CartTickets.tsx
  frontend/components/Tickets/PaymentForm.tsx
  frontend/components/Tickets/TicketCard.tsx
  frontend/components/TicketsPage/CartTickets.tsx
  frontend/components/common/Modal.tsx
  frontend/constants/routes.ts
  frontend/package.json
  frontend/pages/_document.tsx
  frontend/pages/events/[id].tsx
  frontend/pages/events/checkout.tsx
  frontend/pages/tickets/checkout.tsx
  frontend/public/static/img/empty_cart_two.svg
  frontend/public/static/img/icons/shopping-cart.svg
  frontend/tsconfig.json
  frontend/types.ts
  frontend/yarn.lock
Due: black, isort, flake8, frontend

Revert "Ticketing Cart Pre-Checkout (#670)"
  backend/clubs/views.py
  backend/tests/clubs/test_ticketing.py
  frontend/components/ClubEditPage/EventsCard.tsx
  frontend/components/ClubPage/Actions.tsx
  frontend/components/ModelForm.tsx
  frontend/components/Settings/TicketsTab/index.tsx
  frontend/components/Tickets/CartTickets.tsx
  frontend/components/Tickets/PaymentForm.tsx
  frontend/components/Tickets/TicketCard.tsx
  frontend/components/TicketsPage/CartTickets.tsx
  frontend/components/common/Modal.tsx
  frontend/constants/routes.ts
  frontend/package.json
  frontend/pages/_document.tsx
  frontend/pages/events/[id].tsx
  frontend/pages/events/checkout.tsx
  frontend/pages/tickets/checkout.tsx
  frontend/public/static/img/empty_cart_two.svg
  frontend/public/static/img/icons/shopping-cart.svg
  frontend/tsconfig.json
  frontend/types.ts
  frontend/yarn.lock
Due: black, isort, flake8, frontend

:art: Yay
  frontend/components/ClubEditPage.tsx
  frontend/components/ClubEditPage/TicketsViewCard.tsx
Due: frontend

Add issues_ticket route
  backend/clubs/views.py
Due: black, isort, flake8

Frontend for admin ticket transfering and base props fix.
  frontend/components/ClubEditPage/TicketsViewCard.tsx
  frontend/components/Tickets/ManageBuyer.tsx
  frontend/pages/tickets/[[...slug]].tsx
Due: frontend

Fix breaking changes introduced in #670
  backend/clubs/views.py
Due: black, isort, flake8

Fix breaking changes introduced in #670 (#680)
  backend/clubs/views.py
Due: black, isort, flake8

Address nit in tests
  backend/tests/clubs/test_ticketing.py
Due: black, isort, flake8

✨ feat(checkout): cybersource integration
  frontend/components/Tickets/CartTickets.tsx
  frontend/components/Tickets/PaymentForm.tsx
  frontend/pages/events/checkout.tsx
Due: frontend

:tada: Add issue ticket
  frontend/pages/tickets/[[...slug]].tsx
Due: frontend

Add guards on ticketed event deletion (#667)
  backend/clubs/views.py
  backend/tests/clubs/test_ticketing.py
Due: black, isort, flake8

Frontend for marking tickets as attended/not attended
  frontend/components/Tickets/ManageBuyer.tsx
  frontend/pages/tickets/[[...slug]].tsx
Due: frontend

Default billing phone number to null
  backend/clubs/views.py
Due: black, isort, flake8

:art: Split String and handle input edge case
  frontend/pages/tickets/[[...slug]].tsx
Due: frontend

:broom: Hehe
  frontend/pages/tickets/[[...slug]].tsx
Due: frontend

Improve efficiency
  backend/clubs/views.py
Due: black, isort, flake8

Add tests for `issue_tickets`
  backend/tests/clubs/test_ticketing.py
Due: black, isort, flake8

Minor refactor to tests
  backend/tests/clubs/test_ticketing.py
Due: black, isort, flake8

Create transaction records after issuing
  backend/clubs/views.py
  backend/tests/clubs/test_ticketing.py
Due: black, isort, flake8

Make unit test more exhaustive
  backend/tests/clubs/test_ticketing.py
Due: black, isort, flake8

Return errors as array in response
  backend/clubs/views.py
  backend/tests/clubs/test_ticketing.py
Due: black, isort, flake8

:rotating_light: Some changes with a fake api endpoint
  frontend/components/Tickets/TicketCard.tsx
  frontend/components/common/CSVTagInput.tsx
  frontend/pages/tickets/[[...slug]].tsx
Due: frontend

:tada: Some fire UI
  frontend/components/common/CSVTagInput.tsx
  frontend/pages/tickets/[[...slug]].tsx
Due: frontend

:bug: Error Response not showing correctly
  frontend/pages/events/[id].tsx
Due: frontend

Basic mobile responsiveness for TicketCard
  frontend/components/Tickets/TicketCard.tsx
Due: frontend

remove B2B IPC
  backend/clubs/models.py
  backend/clubs/views.py
  backend/pennclubs/settings/base.py
Due: black, isort, flake8

Added free ticket tests
  backend/clubs/views.py
  backend/tests/clubs/test_ticketing.py
Due: black, isort, flake8

Fix bug in Excel column names
  backend/clubs/serializers.py
Due: black, isort, flake8

:art: Brr
  frontend/pages/tickets/[[...slug]].tsx
Due: frontend

Lock issue_tickets behind perms
  backend/clubs/views.py
Due: black, isort, flake8

Revert "Lock issue_tickets behind perms"
  backend/clubs/views.py
Due: black, isort, flake8

Remove unnecessary holds
  backend/clubs/views.py
Due: black, isort, flake8

Change input schema naming
  backend/clubs/views.py
  backend/tests/clubs/test_ticketing.py
Due: black, isort, flake8

Lint, improve UI language, fix items remaining in cart after deletion through button, fix updating item quantities in cart through button, fix success vs error toast for adding tickets to cart.
  frontend/components/ClubEditPage/TicketsViewCard.tsx
  frontend/components/Tickets/CartTickets.tsx
  frontend/components/Tickets/TicketCard.tsx
  frontend/components/common/CSVTagInput.tsx
  frontend/pages/events/[id].tsx
  frontend/pages/tickets/[[...slug]].tsx
Due: frontend

Auth lock issue_tickets route
  backend/clubs/permissions.py
Due: black, isort, flake8

Add test for perms
  backend/tests/clubs/test_ticketing.py
Due: black, isort, flake8

Add route for admins to issue tickets to users (#679)
  backend/clubs/permissions.py
  backend/clubs/views.py
  backend/tests/clubs/test_ticketing.py
Due: black, isort, flake8

Fix bug in Excel column names (#683)
  backend/clubs/serializers.py
Due: black, isort, flake8

API integration for issuing tickets
  frontend/pages/tickets/[[...slug]].tsx
Due: frontend
