Repository pennlabs/penn-clubs: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-lint-fix, frontend

.pre-commit-config.yaml:

---
repos:
  - repo: local
    hooks:
      - id: ruff-format
        name: Ruff Formatter
        entry: bash -c "export PIPENV_IGNORE_VIRTUALENVS=1 && cd backend && pipenv run ruff format ."
        language: python
        types: [python]
        require_serial: true
        files: ^backend/
        pass_filenames: false
      - id: ruff-lint-fix
        name: Ruff Lint (Apply Fixes)
        entry: ruff check . --fix
        language: python
        types: [python]
        require_serial: true
        files: ^backend/
      - id: frontend
        name: Frontend Linter
        entry: bash -c "cd frontend && bun run lint"
        language: system
        files: ^frontend/
        require_serial: false
        pass_filenames: false

Adding radio buttons in the clubs side bar (#860)
  frontend/components/ClubEditPage.tsx
  frontend/components/ClubEditPage/ApplicationsPage.tsx
  frontend/components/ClubEditPage/ClubEditCard.tsx
  frontend/components/RadioFilter.tsx
  frontend/pages/clubs.tsx
Due: frontend

More correct club approval history (delineates pending approval vs renewals and gives the reason)
  backend/clubs/serializers.py
  frontend/components/ClubPage/ClubApprovalDialog.tsx
Due: ruff-format, ruff-lint-fix, frontend

add test case for code cov
  backend/tests/clubs/test_models.py
Due: ruff-format, ruff-lint-fix

Make ownership request button visibilty also togglable and lint issue
  frontend/pages/club/[club]/index.tsx
  frontend/pages/index.tsx
Due: frontend

lint
  frontend/pages/index.tsx
Due: frontend

Make ownership request button visibility also togglable (#866)
  frontend/pages/club/[club]/index.tsx
Due: frontend

catch date parser exceptions
  backend/clubs/views.py
  backend/tests/clubs/test_views.py
Due: ruff-format, ruff-lint-fix

UI nits
  frontend/components/Settings/QueueTab.tsx
Due: frontend

Schedule approval queue v2 (#865)
  backend/clubs/migrations/0132_registrationqueuesettings_new_approval_date_of_next_flip_and_more.py
  backend/clubs/migrations/0133_merge_20251114_1750.py
  backend/clubs/migrations/0134_alter_badge_org.py
  backend/clubs/migrations/0137_merge_20260130_1741.py
  backend/clubs/models.py
  backend/clubs/serializers.py
  backend/clubs/views.py
  backend/tests/clubs/test_models.py
  backend/tests/clubs/test_views.py
  frontend/components/Settings/QueueTab.tsx
  frontend/components/common/Modal.tsx
  frontend/types.ts
Due: ruff-format, ruff-lint-fix, frontend

Provide user officer status to frontend context
  backend/clubs/migrations/0133_alter_badge_org_and_more.py
  backend/clubs/models.py
  backend/clubs/serializers.py
  backend/tests/clubs/test_models.py
  frontend/pages/index.tsx
  frontend/types.ts
Due: ruff-format, ruff-lint-fix, frontend

Fix migration issues
  backend/clubs/migrations/0133_alter_badge_org_and_more.py
  backend/clubs/migrations/0138_membership_clubs_membe_person__16cabc_idx.py
Due: ruff-format, ruff-lint-fix

Provide user officer status to frontend context (#868)
  backend/clubs/migrations/0138_membership_clubs_membe_person__16cabc_idx.py
  backend/clubs/models.py
  backend/clubs/serializers.py
  backend/tests/clubs/test_models.py
  frontend/pages/index.tsx
  frontend/types.ts
Due: ruff-format, ruff-lint-fix, frontend

Quick Fix, will refactor soon
  frontend/pages/index.tsx
Due: frontend

fix url for qr codes
  frontend/components/ClubEditPage/QRCodeCard.tsx
Due: frontend

fix url for qr codes (#869)
  frontend/components/ClubEditPage/QRCodeCard.tsx
Due: frontend

Modularized Event Fetching Logic
  frontend/pages/events/index.tsx
  frontend/pages/index.tsx
  frontend/utils/events.ts
Due: frontend

Filter past events out of upcoming events section on homepage (#870)
  frontend/pages/events/index.tsx
  frontend/pages/index.tsx
  frontend/utils/events.ts
Due: frontend

added status banner
  frontend/pages/_document.tsx
Due: frontend

Added banner for incident status (#872)
  frontend/pages/_document.tsx
Due: frontend

add: custom email blast subject line + fix toast bug on 400
  backend/clubs/views.py
  backend/tests/clubs/test_views.py
  frontend/components/Settings/BulkEditTab.tsx
Due: ruff-format, ruff-lint-fix, frontend

Add custom subject to email blast (#873)
  backend/clubs/views.py
  backend/tests/clubs/test_views.py
  frontend/components/Settings/BulkEditTab.tsx
Due: ruff-format, ruff-lint-fix, frontend

feat: add async email blast batching
  backend/clubs/models.py
  backend/clubs/urls.py
  backend/clubs/views.py
  backend/pennclubs/settings/base.py
  backend/pyproject.toml
  backend/tests/clubs/test_models.py
  backend/tests/clubs/test_views.py
  backend/uv.lock
Due: ruff-format, ruff-lint-fix

add toast error
  frontend/components/Settings/BulkEditTab.tsx
Due: frontend

Batch email blast (#874)
  backend/clubs/models.py
  backend/clubs/urls.py
  backend/clubs/views.py
  backend/pennclubs/settings/base.py
  backend/pyproject.toml
  backend/tests/clubs/test_models.py
  backend/tests/clubs/test_views.py
  backend/uv.lock
  frontend/components/Settings/BulkEditTab.tsx
Due: ruff-format, ruff-lint-fix, frontend

feat: add club constitution management
  backend/clubs/migrations/0139_club_constitution_historicalclub_constitution.py
  backend/clubs/migrations/0140_club_email_public_default_false.py
  backend/clubs/models.py
  backend/clubs/serializers.py
  backend/clubs/views.py
  backend/tests/clubs/test_views.py
  frontend/components/ClubEditPage.tsx
  frontend/components/ClubEditPage/ClubEditCard.tsx
  frontend/components/ClubEditPage/FilesCard.tsx
  frontend/components/ClubPage/ClubApprovalDialog.tsx
  frontend/components/ClubPage/FilesList.tsx
  frontend/components/ClubPage/InfoBox.tsx
  frontend/components/FormComponents.tsx
  frontend/pages/club/[club]/renew.tsx
  frontend/types.ts
Due: ruff-format, ruff-lint-fix, frontend

Require Constitution Upload + Edit Form Erroring Improvements (#875)
  backend/clubs/migrations/0139_club_constitution_historicalclub_constitution.py
  backend/clubs/migrations/0140_club_email_public_default_false.py
  backend/clubs/models.py
  backend/clubs/serializers.py
  backend/clubs/views.py
  backend/tests/clubs/test_views.py
  frontend/components/ClubEditPage.tsx
  frontend/components/ClubEditPage/ClubEditCard.tsx
  frontend/components/ClubEditPage/FilesCard.tsx
  frontend/components/ClubPage/ClubApprovalDialog.tsx
  frontend/components/ClubPage/FilesList.tsx
  frontend/components/ClubPage/InfoBox.tsx
  frontend/components/FormComponents.tsx
  frontend/pages/club/[club]/renew.tsx
  frontend/types.ts
Due: ruff-format, ruff-lint-fix, frontend

Fix Zoom webhook verification to use new secret token + HMAC scheme
  backend/clubs/views.py
  backend/pennclubs/settings/base.py
Due: ruff-format, ruff-lint-fix

refactor(perms): make permissions more granular
  backend/clubs/consumers.py
  backend/clubs/migrations/0141_club_granular_permissions.py
  backend/clubs/models.py
  backend/clubs/permissions.py
  backend/clubs/serializers.py
  backend/clubs/views.py
  backend/tests/clubs/test_channels.py
  backend/tests/clubs/test_views.py
Due: ruff-format, ruff-lint-fix

chore(migration): add reviewer (osa) group
  backend/clubs/migrations/0142_create_osa_reviewers_group.py
Due: ruff-format, ruff-lint-fix

fix(renew): manage_club perm user can renew club
  backend/clubs/serializers.py
  backend/tests/clubs/test_views.py
Due: ruff-format, ruff-lint-fix

feat(frontend): gate resources with perms
  frontend/components/ClubEditPage.tsx
  frontend/components/ClubEditPage/AnalyticsCard.tsx
  frontend/components/ClubEditPage/ApplicationsPage.tsx
  frontend/components/Settings/BulkEditTab.tsx
  frontend/components/Settings/FairEventsTab.tsx
  frontend/components/Settings/FairsTab.tsx
  frontend/components/Settings/QueueTab.tsx
  frontend/components/Settings/ScriptsTab.tsx
  frontend/components/Settings/TemplatesTab.tsx
  frontend/components/common/Table.tsx
  frontend/pages/admin/[[...slug]].tsx
  frontend/pages/club/[club]/edit/[[...slug]].tsx
  frontend/pages/club/[club]/renew.tsx
  frontend/pages/renew.tsx
  frontend/renderPage.tsx
Due: frontend

fix(frontend): apply locked prettier formatting
  frontend/components/ClubEditPage/AnalyticsCard.tsx
  frontend/components/ClubEditPage/ApplicationsPage.tsx
  frontend/components/common/Table.tsx
  frontend/renderPage.tsx
Due: frontend

Managed permissions (#877)
  backend/clubs/consumers.py
  backend/clubs/migrations/0141_club_granular_permissions.py
  backend/clubs/migrations/0142_create_osa_reviewers_group.py
  backend/clubs/models.py
  backend/clubs/permissions.py
  backend/clubs/serializers.py
  backend/clubs/views.py
  backend/tests/clubs/test_channels.py
  backend/tests/clubs/test_views.py
  frontend/components/ClubEditPage.tsx
  frontend/components/Settings/BulkEditTab.tsx
  frontend/components/Settings/FairEventsTab.tsx
  frontend/components/Settings/FairsTab.tsx
  frontend/components/Settings/QueueTab.tsx
  frontend/components/Settings/ScriptsTab.tsx
  frontend/components/Settings/TemplatesTab.tsx
  frontend/pages/admin/[[...slug]].tsx
  frontend/pages/club/[club]/edit/[[...slug]].tsx
  frontend/pages/club/[club]/renew.tsx
  frontend/pages/renew.tsx
Due: ruff-format, ruff-lint-fix, frontend

Add separate reject_club permission
  backend/clubs/migrations/0143_split_club_reject_permission.py
  backend/clubs/models.py
  backend/clubs/permissions.py
  backend/clubs/views.py
  backend/tests/clubs/test_views.py
Due: ruff-format, ruff-lint-fix

Split approve and reject controls in the UI
  frontend/components/ClubPage/ClubApprovalDialog.tsx
  frontend/components/ClubPage/Description.tsx
  frontend/components/ClubPage/Header.tsx
  frontend/components/Settings/QueueTab.tsx
  frontend/pages/admin/[[...slug]].tsx
  frontend/pages/club/[club]/index.tsx
  frontend/pages/renew.tsx
Due: frontend

Guard against non-list responses from the templates endpoint
  frontend/components/ClubPage/ClubApprovalDialog.tsx
  frontend/components/Settings/QueueTab.tsx
Due: frontend

Clairfy approval queue permissions descriptions, fix reject_club migration logic and allow users with approval queue perms to see templates
  backend/clubs/migrations/0143_split_club_reject_permission.py
  backend/clubs/models.py
  backend/clubs/views.py
  frontend/components/ClubPage/ClubApprovalDialog.tsx
  frontend/components/Settings/QueueTab.tsx
Due: ruff-format, ruff-lint-fix, frontend

fix approval api authorization bugs
  backend/clubs/views.py
  backend/tests/clubs/test_views.py
Due: ruff-format, ruff-lint-fix

Reject club permission (#878)
  backend/clubs/migrations/0143_split_club_reject_permission.py
  backend/clubs/models.py
  backend/clubs/permissions.py
  backend/clubs/views.py
  backend/tests/clubs/test_views.py
  frontend/components/ClubPage/ClubApprovalDialog.tsx
  frontend/components/ClubPage/Description.tsx
  frontend/components/ClubPage/Header.tsx
  frontend/components/Settings/QueueTab.tsx
  frontend/pages/admin/[[...slug]].tsx
  frontend/pages/club/[club]/index.tsx
  frontend/pages/renew.tsx
Due: ruff-format, ruff-lint-fix, frontend

update conn_max_age to disable it, as it is unsported by asgi
  backend/pennclubs/settings/base.py
Due: ruff-format, ruff-lint-fix
