Repository pennlabs/penn-clubs: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-lint-fix, frontend

ruff-format:
  name: Ruff Formatter
  entry: bash -c "export PIPENV_IGNORE_VIRTUALENVS=1 && cd backend && pipenv run ruff format ."
  language: python
  require_serial: true
  pass_filenames: false

ruff-lint-fix:
  name: Ruff Lint (Apply Fixes)
  entry: ruff check . --fix
  language: python
  require_serial: true

frontend:
  name: Frontend Linter
  entry: bash -c "cd frontend && bun run lint"
  language: system
  require_serial: false
  pass_filenames: false

Add suggested changes
  backend/clubs/models.py
  backend/tests/clubs/test_views.py
Due: ruff-format, ruff-lint-fix

Add functionality to control registration queue (#791)
  backend/clubs/admin.py
  backend/clubs/management/commands/daily_notifications.py
  backend/clubs/migrations/0119_registrationqueuesettings.py
  backend/clubs/models.py
  backend/clubs/serializers.py
  backend/clubs/urls.py
  backend/clubs/views.py
  backend/pennclubs/settings/base.py
  backend/tests/clubs/test_commands.py
  backend/tests/clubs/test_views.py
  frontend/components/Settings/QueueTab.tsx
  frontend/types.ts
Due: ruff-format, ruff-lint-fix, frontend

update permissions.py after model changes
  backend/clubs/permissions.py
Due: ruff-format, ruff-lint-fix

small change to models + test_models
  backend/clubs/models.py
  backend/tests/clubs/test_models.py
Due: ruff-format, ruff-lint-fix

update models
  backend/clubs/models.py
Due: ruff-format, ruff-lint-fix

enable eventpermission to handle both event and eventgroup instances
  backend/clubs/permissions.py
Due: ruff-format, ruff-lint-fix

move create_thumbnail func to EventGroup model
  backend/clubs/models.py
Due: ruff-format, ruff-lint-fix

small optimization in RecurringEvent
  backend/clubs/models.py
Due: ruff-format, ruff-lint-fix

force users to set grad year, major, school in order to apply to application-based clubs
  frontend/components/Settings/ProfileForm.tsx
  frontend/pages/club/[club]/application/[application]/index.tsx
  frontend/pages/club/[club]/apply.tsx
Due: frontend

remove code field from event model
  backend/clubs/models.py
Due: ruff-format, ruff-lint-fix

update serializers.py
  backend/clubs/serializers.py
Due: ruff-format, ruff-lint-fix

update populate.py
  backend/clubs/management/commands/populate.py
  backend/clubs/migrations/0123_remove_event_code.py
Due: ruff-format, ruff-lint-fix

update views.py
  backend/clubs/views.py
Due: ruff-format, ruff-lint-fix

update urls.py
  backend/clubs/urls.py
Due: ruff-format, ruff-lint-fix

make tests happy for now
  backend/tests/clubs/test_commands.py
  backend/tests/clubs/test_documentation.py
  backend/tests/clubs/test_ticketing.py
  backend/tests/clubs/test_views.py
Due: ruff-format, ruff-lint-fix

make failing test happy
  backend/clubs/views.py
Due: ruff-format, ruff-lint-fix

edit migration file
  backend/clubs/migrations/0120_checkoutquestion_checkoutmultiplechoice.py
  backend/clubs/serializers.py
  backend/clubs/views.py
Due: ruff-format, ruff-lint-fix

Remove devcontainer
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
Due: none

Remove features.txt
  features.txt
Due: none

Remove docker-compose.test.yaml
  docker-compose.test.yaml
Due: none

Add support for checkout questions
  backend/clubs/migrations/0121_checkoutquestion_checkoutmultiplechoice.py
  backend/clubs/models.py
  backend/clubs/serializers.py
  backend/clubs/urls.py
  backend/clubs/views.py
  backend/tests/clubs/test_views.py
Due: ruff-format, ruff-lint-fix

Fix hardcoded outdated language in renewal email
  backend/clubs/management/commands/deactivate.py
  backend/clubs/models.py
  backend/templates/emails/renew.html
  backend/templates/emails/renewal_reminder.html
Due: ruff-format, ruff-lint-fix

Re-add more limited information on SAC Fair registration requirements without conflating it with Penn Clubs registration
  backend/templates/emails/renew.html
Due: none

Fix tests referencing reminder emails
  backend/tests/clubs/test_commands.py
Due: ruff-format, ruff-lint-fix

this is messy
  backend/clubs/management/commands/populate.py
  backend/clubs/models.py
  backend/clubs/serializers.py
Due: ruff-format, ruff-lint-fix

revert views and urls
  backend/clubs/urls.py
  backend/clubs/views.py
Due: ruff-format, ruff-lint-fix

Initial discount code implementation
  backend/clubs/migrations/0120_ticket_code_discount_ticket_discount_code_applied.py
  backend/clubs/models.py
  backend/clubs/serializers.py
  backend/clubs/views.py
  backend/tests/clubs/test_ticketing.py
  frontend/components/ClubEditPage/TicketsModal.tsx
  frontend/pages/tickets/[[...slug]].tsx
  frontend/types.ts
Due: ruff-format, ruff-lint-fix, frontend

Fix frontend integration and tests
  backend/clubs/models.py
  backend/clubs/serializers.py
  backend/clubs/views.py
  backend/tests/clubs/test_ticketing.py
  frontend/components/ClubEditPage/TicketsModal.tsx
  frontend/pages/tickets/[[...slug]].tsx
Due: ruff-format, ruff-lint-fix, frontend

start integrating updated models into checkout flow
  backend/clubs/views.py
Due: ruff-format, ruff-lint-fix

model + admin changes
  backend/clubs/admin.py
  backend/clubs/migrations/0121_remove_event_club_remove_event_description_and_more.py
  backend/clubs/models.py
Due: ruff-format, ruff-lint-fix

add admin, models, serializers changes
  backend/clubs/admin.py
  backend/clubs/migrations/0122_remove_event_name_eventgroup_created_at_and_more.py
  backend/clubs/models.py
  backend/clubs/serializers.py
  backend/clubs/views.py
Due: ruff-format, ruff-lint-fix

update modles.py
  backend/clubs/models.py
Due: ruff-format, ruff-lint-fix

update populate.py
  backend/clubs/management/commands/populate.py
Due: ruff-format, ruff-lint-fix

fix add_ics_events
  backend/clubs/models.py
Due: ruff-format, ruff-lint-fix

use slugify for eventgroup code
  backend/clubs/management/commands/populate.py
  backend/clubs/models.py
Due: ruff-format, ruff-lint-fix

small fix in populate.py
  backend/clubs/management/commands/populate.py
Due: ruff-format, ruff-lint-fix

test_command tests passing
  backend/clubs/management/commands/merge_duplicates.py
  backend/clubs/management/commands/rank.py
  backend/clubs/management/commands/send_emails.py
  backend/clubs/models.py
  backend/tests/clubs/test_commands.py
Due: ruff-format, ruff-lint-fix

test_models tests passing
  backend/clubs/models.py
  backend/tests/clubs/test_models.py
Due: ruff-format, ruff-lint-fix

Path conditions:
  ruff-format: any of: ^backend/ and \.py$
  ruff-lint-fix: any of: ^backend/ and \.py$
  frontend: any of: ^frontend/
