Repository pennlabs/penn-clubs: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-lint-fix, frontend

ruff-format:
  name: Ruff Formatter
  entry: bash -c "export PIPENV_IGNORE_VIRTUALENVS=1 && cd backend && pipenv run ruff format ."
  language: python
  require_serial: true
  pass_filenames: false

ruff-lint-fix:
  name: Ruff Lint (Apply Fixes)
  entry: ruff check . --fix
  language: python
  require_serial: true

frontend:
  name: Frontend Linter
  entry: bash -c "cd frontend && bun run lint"
  language: system
  require_serial: false
  pass_filenames: false

added category + eligibility fields + badges -> affiliations
  backend/clubs/admin.py
  backend/clubs/management/commands/populate.py
  backend/clubs/management/commands/send_emails.py
  backend/clubs/management/commands/sync.py
  backend/clubs/migrations/0123_category_eligibility_club_category_and_more.py
  backend/clubs/migrations/0124_rename_badge_affiliation_and_more.py
  backend/clubs/models.py
  backend/clubs/permissions.py
  backend/clubs/serializers.py
  backend/clubs/urls.py
  backend/clubs/views.py
  backend/tests/clubs/test_models.py
  backend/tests/clubs/test_views.py
  frontend/components/ClubEditPage.tsx
  frontend/components/ClubEditPage/ClubEditCard.tsx
  frontend/components/ClubEditPage/ClubManagementCard.tsx
  frontend/components/ClubPage/Header.tsx
  frontend/components/EventPage/EventModal.tsx
  frontend/components/ResourceCreationPage.tsx
  frontend/components/Settings/BulkEditTab.tsx
  frontend/components/Settings/FairEventsTab.tsx
  frontend/components/Settings/WhartonApplicationCycles.tsx
  frontend/components/common/TagGroup.tsx
  frontend/components/reports/ReportForm.tsx
  frontend/components/reports/ReportPage.tsx
  frontend/constants/colors.ts
  frontend/pages/admin/[[...slug]].tsx
  frontend/pages/admin/reports/[report]/index.tsx
  frontend/pages/admin/reports/create.tsx
  frontend/pages/club/[club]/edit/[[...slug]].tsx
  frontend/pages/club/[club]/index.tsx
  frontend/pages/club/[club]/renew.tsx
  frontend/pages/create.tsx
  frontend/pages/events/[id]/index.tsx
  frontend/pages/index.tsx
  frontend/renderPage.tsx
  frontend/types.ts
  frontend/utils/branding.tsx
Due: ruff-format, ruff-lint-fix, frontend

Add description validation for max word count from OSA
  backend/clubs/serializers.py
  backend/tests/clubs/test_views.py
Due: ruff-format, ruff-lint-fix

fix hydration issue on /create/
  frontend/components/FormComponents.tsx
Due: frontend

Make some toast variant text uniformly white, fix some language for club description validator
  backend/clubs/serializers.py
  frontend/components/ClubEditPage/EventsImportCard.tsx
  frontend/components/EventPage/SyncModal.tsx
  frontend/components/Settings/BulkEditTab.tsx
  frontend/components/Tickets/CartTickets.tsx
  frontend/pages/events/[id]/index.tsx
  frontend/pages/events/[id]/tickets/[showing-id].tsx
  frontend/pages/zoom.tsx
  frontend/renderPage.tsx
Due: ruff-format, ruff-lint-fix, frontend

Add help text for club mission
  frontend/components/ClubEditPage/ClubEditCard.tsx
  frontend/utils/branding.tsx
Due: frontend

include new info in club page
  frontend/components/ClubPage/Header.tsx
  frontend/components/ClubPage/InfoBox.tsx
  frontend/types.ts
  frontend/utils/branding.tsx
Due: frontend

added eligibility + category
  backend/clubs/admin.py
  backend/clubs/management/commands/populate.py
  backend/clubs/migrations/0123_category_eligibility_club_category_and_more.py
  backend/clubs/models.py
  backend/clubs/serializers.py
  backend/clubs/urls.py
  backend/clubs/views.py
  backend/tests/clubs/test_views.py
  frontend/components/ClubEditPage.tsx
  frontend/components/ClubEditPage/ClubEditCard.tsx
  frontend/components/ResourceCreationPage.tsx
  frontend/pages/club/[club]/edit/[[...slug]].tsx
  frontend/pages/club/[club]/renew.tsx
  frontend/pages/create.tsx
  frontend/types.ts
  frontend/utils.tsx
  frontend/utils/branding.tsx
Due: ruff-format, ruff-lint-fix, frontend

add tests
  backend/tests/clubs/test_views.py
Due: ruff-format, ruff-lint-fix

Added eligibility + category fields (#828)
  backend/clubs/admin.py
  backend/clubs/management/commands/populate.py
  backend/clubs/migrations/0123_category_eligibility_club_category_and_more.py
  backend/clubs/models.py
  backend/clubs/serializers.py
  backend/clubs/urls.py
  backend/clubs/views.py
  backend/tests/clubs/test_views.py
  frontend/components/ClubEditPage.tsx
  frontend/components/ClubEditPage/ClubEditCard.tsx
  frontend/components/ResourceCreationPage.tsx
  frontend/pages/club/[club]/edit/[[...slug]].tsx
  frontend/pages/club/[club]/renew.tsx
  frontend/pages/create.tsx
  frontend/types.ts
  frontend/utils.tsx
  frontend/utils/branding.tsx
Due: ruff-format, ruff-lint-fix, frontend

badges -> affiliations
  frontend/components/ClubEditPage/ClubManagementCard.tsx
  frontend/components/ClubPage/Header.tsx
  frontend/components/Settings/BulkEditTab.tsx
  frontend/components/common/TagGroup.tsx
  frontend/components/reports/ReportForm.tsx
  frontend/components/reports/ReportPage.tsx
  frontend/pages/admin/[[...slug]].tsx
  frontend/pages/admin/reports/[report]/index.tsx
  frontend/pages/admin/reports/create.tsx
  frontend/pages/club/[club]/index.tsx
  frontend/pages/events/[id]/index.tsx
  frontend/pages/index.tsx
  frontend/renderPage.tsx
  frontend/types.ts
  frontend/utils/branding.tsx
Due: frontend

Move from badges -> affiliations on frontend only (#829)
  frontend/components/ClubEditPage/ClubManagementCard.tsx
  frontend/components/ClubPage/Header.tsx
  frontend/components/Settings/BulkEditTab.tsx
  frontend/components/common/TagGroup.tsx
  frontend/components/reports/ReportForm.tsx
  frontend/components/reports/ReportPage.tsx
  frontend/pages/admin/[[...slug]].tsx
  frontend/pages/admin/reports/[report]/index.tsx
  frontend/pages/admin/reports/create.tsx
  frontend/pages/club/[club]/index.tsx
  frontend/pages/events/[id]/index.tsx
  frontend/pages/index.tsx
  frontend/renderPage.tsx
  frontend/types.ts
  frontend/utils/branding.tsx
Due: frontend

fix big oops
  frontend/components/ClubPage/Header.tsx
  frontend/components/Settings/BulkEditTab.tsx
  frontend/components/Settings/FairEventsTab.tsx
  frontend/pages/club/[club]/index.tsx
  frontend/renderPage.tsx
  frontend/types.ts
Due: frontend

Add renewal queue frontend warning and disable target group feature
  frontend/components/ClubEditPage/ClubEditCard.tsx
  frontend/components/ClubEditPage/RenewCard.tsx
  frontend/pages/club/[club]/renew.tsx
  frontend/utils/branding.tsx
Due: frontend

fix renewal queue frontend warning
  frontend/components/ClubEditPage/RenewCard.tsx
  frontend/components/ClubPage/RenewalRequestDialog.tsx
  frontend/pages/club/[club]/renew.tsx
Due: frontend

consistent message
  frontend/components/ClubPage/RenewalRequestDialog.tsx
Due: frontend

added descriptors
  backend/clubs/admin.py
  backend/clubs/management/commands/populate.py
  backend/clubs/migrations/0124_classification_designation_status_type_and_more.py
  backend/clubs/mixins.py
  backend/clubs/models.py
  backend/clubs/serializers.py
  backend/clubs/urls.py
  backend/clubs/views.py
  backend/tests/clubs/test_views.py
  frontend/components/ClubEditPage.tsx
  frontend/components/ClubEditPage/ClubEditCard.tsx
  frontend/components/ClubPage/Header.tsx
  frontend/components/ClubPage/InfoBox.tsx
  frontend/components/FormComponents.tsx
  frontend/components/ResourceCreationPage.tsx
  frontend/components/common/TagGroup.tsx
  frontend/pages/club/[club]/edit/[[...slug]].tsx
  frontend/pages/club/[club]/renew.tsx
  frontend/pages/create.tsx
  frontend/types.ts
  frontend/utils/branding.tsx
Due: ruff-format, ruff-lint-fix, frontend

clean up
  backend/clubs/mixins.py
Due: ruff-format, ruff-lint-fix

require category + classification on club creation
  backend/clubs/models.py
  backend/clubs/serializers.py
  frontend/pages/club/[club]/renew.tsx
Due: ruff-format, ruff-lint-fix, frontend

allow authed user to read settings
  backend/clubs/views.py
Due: ruff-format, ruff-lint-fix

all tests passing
  backend/tests/clubs/test_views.py
Due: ruff-format, ruff-lint-fix

revert renewal wording
  frontend/components/ClubPage/RenewalRequestDialog.tsx
Due: frontend

Make ranking weights modifiable via singleton
  backend/clubs/management/commands/rank.py
  backend/clubs/migrations/0124_rankingweights.py
  backend/clubs/models.py
  backend/tests/clubs/test_commands.py
Due: ruff-format, ruff-lint-fix

make designation derived from category
  backend/clubs/admin.py
  backend/clubs/management/commands/populate.py
  backend/clubs/migrations/0125_remove_club_designation_and_more.py
  backend/clubs/models.py
  backend/clubs/serializers.py
  frontend/components/ClubEditPage.tsx
  frontend/components/ClubEditPage/ClubEditCard.tsx
  frontend/components/FormComponents.tsx
  frontend/components/ResourceCreationPage.tsx
  frontend/pages/club/[club]/edit/[[...slug]].tsx
  frontend/pages/club/[club]/renew.tsx
  frontend/pages/create.tsx
  frontend/types.ts
Due: ruff-format, ruff-lint-fix, frontend

mandate constitution upload
  backend/clubs/migrations/0125_asset_is_constitution.py
  backend/clubs/models.py
  backend/clubs/serializers.py
  backend/clubs/views.py
  frontend/components/ClubEditPage.tsx
  frontend/components/ClubEditPage/ClubEditCard.tsx
  frontend/components/ClubEditPage/FilesCard.tsx
  frontend/types.ts
Due: ruff-format, ruff-lint-fix, frontend

Add registration queue settings hook and use it for frontend warnings
  frontend/components/ClubEditPage/ClubEditCard.tsx
  frontend/components/ClubEditPage/RenewCard.tsx
  frontend/components/ClubPage/RenewalRequestDialog.tsx
  frontend/components/DisplayButtons.tsx
  frontend/hooks/useRegistrationQueueSettings.ts
  frontend/pages/club/[club]/renew.tsx
  frontend/utils/branding.tsx
Due: frontend

Fix approval queue settings test
  backend/tests/clubs/test_views.py
Due: ruff-format, ruff-lint-fix

remove badges/affiliations from create, renew, edit routes
  backend/clubs/models.py
  frontend/components/ClubEditPage.tsx
  frontend/components/ClubEditPage/ClubEditCard.tsx
  frontend/components/ResourceCreationPage.tsx
  frontend/pages/club/[club]/edit/[[...slug]].tsx
  frontend/pages/club/[club]/renew.tsx
  frontend/pages/create.tsx
Due: ruff-format, ruff-lint-fix, frontend

require tags, add adminClubSerializer, tests passing
  backend/clubs/models.py
  backend/clubs/serializers.py
  backend/clubs/views.py
  backend/tests/clubs/test_views.py
  frontend/components/ClubEditPage/ClubEditCard.tsx
Due: ruff-format, ruff-lint-fix, frontend

run migration
  backend/clubs/migrations/0127_alter_badge_color_alter_category_designation_and_more.py
Due: ruff-format, ruff-lint-fix

add group activity assessment
  backend/clubs/migrations/0128_club_group_activity_assessment_and_more.py
  backend/clubs/models.py
  backend/clubs/serializers.py
  frontend/components/ClubEditPage/ClubEditCard.tsx
  frontend/types.ts
Due: ruff-format, ruff-lint-fix, frontend

update automated email confirmation
  backend/templates/emails/confirmation.html
Due: none

change group activities impl
  backend/clubs/admin.py
  backend/clubs/management/commands/populate.py
  backend/clubs/migrations/0129_add_group_activity_options.py
  backend/clubs/models.py
  backend/clubs/serializers.py
  backend/clubs/urls.py
  backend/clubs/views.py
  frontend/components/ClubEditPage.tsx
  frontend/components/ClubEditPage/ClubEditCard.tsx
  frontend/components/ResourceCreationPage.tsx
  frontend/pages/club/[club]/edit/[[...slug]].tsx
  frontend/pages/club/[club]/renew.tsx
  frontend/pages/create.tsx
  frontend/types.ts
Due: ruff-format, ruff-lint-fix, frontend

added new nondiscrimination policy
  frontend/pages/club/[club]/renew.tsx
Due: frontend

use manytomany for group_activity_assessment
  backend/clubs/migrations/0130_remove_historicalclub_group_activity_assessment_and_more.py
  backend/clubs/models.py
  backend/clubs/serializers.py
  frontend/components/ClubEditPage/ClubEditCard.tsx
  frontend/components/ModelForm.tsx
  frontend/types.ts
Due: ruff-format, ruff-lint-fix, frontend

hide status on club page as it is misleading
  frontend/components/ClubPage/InfoBox.tsx
Due: frontend

Path conditions:
  ruff-format: any of: ^backend/ and \.py$
  ruff-lint-fix: any of: ^backend/ and \.py$
  frontend: any of: ^frontend/
