Repository pennlabs/penn-clubs: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, flake8, frontend

.pre-commit-config.yaml:

---
repos:
  - repo: local
    hooks:
      - id: black
        name: black
        entry: bash -c "export PIPENV_IGNORE_VIRTUALENVS=1 && cd backend && pipenv run black ."
        language: python
        types: [python]
        require_serial: true
        files: ^backend/
        pass_filenames: false
      - id: isort
        name: isort
        entry: isort
        language: python
        types: [python]
        require_serial: true
        files: ^backend/
      - id: flake8
        name: flake8
        entry: flake8
        language: python
        types: [python]
        require_serial: true
        files: ^backend/
        args: [--config, backend/setup.cfg]
      - id: frontend
        name: Yarn Linter
        entry: bash -c "cd frontend && yarn lint"
        language: system
        files: ^frontend/
        require_serial: false
        pass_filenames: false

Ticket transfer interface
  frontend/components/Settings/TicketTransferModal.tsx
  frontend/components/Settings/TicketsTab/index.tsx
  frontend/components/Tickets/TicketCard.tsx
Due: frontend

attendance tracking
  backend/clubs/migrations/0107_ticket_attended.py
  backend/clubs/models.py
  backend/clubs/views.py
  backend/tests/clubs/test_ticketing.py
Due: black, isort, flake8

add comment
  backend/tests/clubs/test_ticketing.py
Due: black, isort, flake8

Add route for attendance tracking (#684)
  backend/clubs/migrations/0107_ticket_attended.py
  backend/clubs/models.py
  backend/clubs/views.py
  backend/tests/clubs/test_ticketing.py
Due: black, isort, flake8

Integrate attendance into frontend and add warning popup for un-attending people
  backend/clubs/views.py
  frontend/components/Tickets/ManageBuyer.tsx
  frontend/pages/tickets/[[...slug]].tsx
Due: black, isort, flake8, frontend

:art: Nit
  frontend/components/ClubEditPage/TicketsViewCard.tsx
Due: frontend

:bug: Joy fixes everything
  frontend/components/ClubEditPage/EventsImportCard.tsx
  frontend/components/EventPage/SyncModal.tsx
  frontend/components/Settings/BulkEditTab.tsx
  frontend/components/Settings/TicketTransferModal.tsx
  frontend/components/Settings/TicketsTab/index.tsx
  frontend/components/Tickets/TicketCard.tsx
  frontend/pages/events/[id].tsx
  frontend/pages/tickets/[[...slug]].tsx
  frontend/pages/zoom.tsx
Due: frontend

Fix ticket interface for sellers (#665)
  backend/clubs/views.py
  frontend/components/ClubEditPage.tsx
  frontend/components/ClubEditPage/EventsImportCard.tsx
  frontend/components/ClubEditPage/TicketsViewCard.tsx
  frontend/components/EventPage/SyncModal.tsx
  frontend/components/Settings/BulkEditTab.tsx
  frontend/components/Settings/TicketTransferModal.tsx
  frontend/components/Settings/TicketsTab/index.tsx
  frontend/components/Tickets/CartTickets.tsx
  frontend/components/Tickets/ManageBuyer.tsx
  frontend/components/Tickets/TicketCard.tsx
  frontend/components/common/CSVTagInput.tsx
  frontend/pages/events/[id].tsx
  frontend/pages/tickets/[[...slug]].tsx
  frontend/pages/zoom.tsx
Due: black, isort, flake8, frontend

:art: It's toast time
  frontend/components/Tickets/CartTickets.tsx
Due: frontend

🛠️ fix(close): handle modal close with confirm
  frontend/components/Tickets/CartTickets.tsx
Due: frontend

✨ feat(success): checkout success message
  frontend/components/Tickets/CartTickets.tsx
Due: frontend

❌ feat(handle error)
  frontend/components/Tickets/CartTickets.tsx
Due: frontend

🛠️ fix(message): more explicit message for modal close confirmation
  frontend/components/Tickets/CartTickets.tsx
Due: frontend

✨ feat(checkout): cybersource integration
  frontend/components/Tickets/CartTickets.tsx
  frontend/components/Tickets/PaymentForm.tsx
  frontend/pages/events/checkout.tsx
Due: frontend

Address feedback
  backend/clubs/views.py
  backend/tests/clubs/test_ticketing.py
Due: black, isort, flake8

Address feedback
  backend/clubs/views.py
Due: black, isort, flake8

Add user a parameter to _give_tickets
  backend/clubs/views.py
Due: black, isort, flake8

Fix lint, min/max add to cart quantities per class
  frontend/components/ClubEditPage/EventsImportCard.tsx
  frontend/components/Settings/BulkEditTab.tsx
  frontend/components/Settings/TicketsTab/index.tsx
  frontend/components/Tickets/CartTickets.tsx
  frontend/pages/events/[id].tsx
  frontend/pages/tickets/[[...slug]].tsx
Due: frontend

Add buyable field and try to enforce it. Disable tickets with payments on frontend.
  backend/clubs/migrations/0108_ticket_buyable.py
  backend/clubs/models.py
  backend/clubs/views.py
  frontend/components/ClubEditPage/TicketsModal.tsx
  frontend/utils/branding.tsx
Due: black, isort, flake8, frontend

Add support for free tickets (#658)
  backend/clubs/views.py
  backend/tests/clubs/test_ticketing.py
Due: black, isort, flake8

:arrow_down: Downgrade Eslint dependency
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Add frontend handling for no-cost cart.
  frontend/components/Tickets/CartTickets.tsx
Due: frontend

Add ability to make tickets not buyable + disable paid tickets for beta (#685)
  backend/clubs/migrations/0108_ticket_buyable.py
  backend/clubs/models.py
  backend/clubs/views.py
  frontend/components/ClubEditPage/TicketsModal.tsx
  frontend/components/Tickets/CartTickets.tsx
  frontend/utils/branding.tsx
Due: black, isort, flake8, frontend

Add beta tag everywhere and add frontend auth check for issuing tickets
  frontend/components/ClubEditPage/TicketsViewCard.tsx
  frontend/components/common/BetaTag.tsx
  frontend/pages/events/[id].tsx
  frontend/pages/events/checkout.tsx
  frontend/pages/tickets/[[...slug]].tsx
Due: frontend

Delete legacy events code
  frontend/pages/_events.tsx
Due: frontend

Ticketing Beta branding and File Cleanup (#686)
  frontend/components/ClubEditPage/TicketsViewCard.tsx
  frontend/components/common/BetaTag.tsx
  frontend/pages/_events.tsx
  frontend/pages/events/[id].tsx
  frontend/pages/events/checkout.tsx
  frontend/pages/tickets/[[...slug]].tsx
Due: frontend

Remove unused `tickets_count` field
  backend/clubs/models.py
Due: black, isort, flake8

Merge master into ticketing (#687)
  backend/clubs/management/commands/expire_membership_invites.py
  backend/clubs/management/commands/find_broken_images.py
  backend/clubs/management/commands/update_club_counts.py
  backend/clubs/models.py
  backend/clubs/serializers.py
  backend/tests/clubs/test_views.py
Due: black, isort, flake8

fix: update lockfile in k8s/
  k8s/yarn.lock
Due: none

fix: do not update holds on event delete
  backend/clubs/views.py
Due: black, isort, flake8

fix: invalidate club cache on ticket creation and redirect users to ticket page once tickets are created to prevent tickets admin page staleness
  backend/clubs/views.py
  frontend/components/ClubEditPage/TicketsModal.tsx
Due: black, isort, flake8, frontend

Add attended field to TicketSerializer
  backend/clubs/serializers.py
Due: black, isort, flake8

Undo formatting changes
  backend/clubs/serializers.py
Due: black, isort, flake8

Add attended field to TicketSerializer (#689)
  backend/clubs/serializers.py
Due: black, isort, flake8
