Repository pennlabs/penn-clubs: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-lint-fix, frontend

.pre-commit-config.yaml:

---
repos:
  - repo: local
    hooks:
      - id: ruff-format
        name: Ruff Formatter
        entry: bash -c "export PIPENV_IGNORE_VIRTUALENVS=1 && cd backend && pipenv run ruff format ."
        language: python
        types: [python]
        require_serial: true
        files: ^backend/
        pass_filenames: false
      - id: ruff-lint-fix
        name: Ruff Lint (Apply Fixes)
        entry: ruff check . --fix
        language: python
        types: [python]
        require_serial: true
        files: ^backend/
      - id: frontend
        name: Frontend Linter
        entry: bash -c "cd frontend && bun run lint"
        language: system
        files: ^frontend/
        require_serial: false
        pass_filenames: false

Add approval queue check for inactive club renewals
  backend/clubs/serializers.py
Due: ruff-format, ruff-lint-fix

reject case
  frontend/components/ClubPage/Description.tsx
  frontend/components/ClubPage/Header.tsx
Due: frontend

Add frontend error handling for renewal errors
  frontend/pages/club/[club]/renew.tsx
Due: frontend

Queue updates, color updates, and other stuff at retreat
  backend/clubs/serializers.py
  backend/clubs/views.py
  frontend/components/Settings/QueueTab.tsx
Due: ruff-format, ruff-lint-fix, frontend

test case
  backend/tests/clubs/test_views.py
Due: ruff-format, ruff-lint-fix

pass tests now
  backend/tests/clubs/test_views.py
Due: ruff-format, ruff-lint-fix

Club diff for approval queue(#811)
  backend/clubs/serializers.py
  backend/clubs/views.py
  backend/pyproject.toml
  backend/tests/clubs/test_views.py
  backend/uv.lock
  frontend/components/ClubPage/Description.tsx
  frontend/components/ClubPage/Header.tsx
  frontend/components/Settings/QueueTab.tsx
Due: ruff-format, ruff-lint-fix, frontend

Add DB and serializer constraints
  backend/clubs/migrations/0122_alter_applicationcommittee_unique_together.py
  backend/clubs/models.py
  backend/clubs/serializers.py
  backend/clubs/views.py
  backend/tests/clubs/test_views.py
Due: ruff-format, ruff-lint-fix

Add Ownership Request Flow for Inactive Clubs (#815)
  backend/clubs/serializers.py
  backend/clubs/views.py
  backend/tests/clubs/test_views.py
  frontend/components/Settings/QueueTab.tsx
  frontend/pages/club/[club]/index.tsx
  frontend/pages/directory.tsx
  frontend/public/static/img/icons/box.svg
  frontend/public/static/img/icons/check-box.svg
  frontend/types.ts
Due: ruff-format, ruff-lint-fix, frontend

added testcase
  backend/tests/clubs/test_views.py
Due: ruff-format, ruff-lint-fix

linting issue??
  yarn.lock
Due: none

Fix merge overwrites for queue tab
  frontend/components/Settings/QueueTab.tsx
Due: frontend

start refactoring tests
  backend/clubs/management/commands/populate.py
  backend/clubs/serializers.py
  backend/clubs/views.py
  backend/tests/clubs/test_ticketing.py
Due: ruff-format, ruff-lint-fix

Delete yarn.lock
  yarn.lock
Due: none

linted
  frontend/pages/club/[club]/application/[application]/index.tsx
Due: frontend

Require completed profile for application submissions (#792)
  backend/clubs/views.py
  backend/tests/clubs/test_views.py
  frontend/components/Settings/ProfileForm.tsx
  frontend/pages/club/[club]/application/[application]/index.tsx
Due: ruff-format, ruff-lint-fix, frontend

Issue tickets fix
  frontend/pages/events/[id]/tickets/[showing-id].tsx
Due: frontend

Fix styling for tag input, used for issuing tickets
  frontend/components/common/CSVTagInput.tsx
  frontend/pages/events/[id]/tickets/[showing-id].tsx
Due: frontend

Clean up tests
  backend/tests/clubs/test_views.py
Due: ruff-format, ruff-lint-fix

Prevent duplicate application committees (#814)
  backend/clubs/migrations/0122_alter_applicationcommittee_unique_together.py
  backend/clubs/models.py
  backend/clubs/serializers.py
  backend/tests/clubs/test_views.py
Due: ruff-format, ruff-lint-fix

Fix route for listing all ownership requests
  frontend/components/Settings/QueueTab.tsx
Due: frontend

Fix route for listing all ownership requests (#816)
  frontend/components/Settings/QueueTab.tsx
Due: frontend

Add new club_name field in OwnershipRequestSerializer
  backend/clubs/serializers.py
Due: ruff-format, ruff-lint-fix

Remove email send from ownership request creation
  backend/clubs/views.py
  backend/tests/clubs/test_views.py
Due: ruff-format, ruff-lint-fix

Add uwsgi build dependency instructions for Linux dev environment
  README.md
Due: none

tests passing
  backend/clubs/models.py
  backend/clubs/permissions.py
  backend/clubs/views.py
  backend/tests/clubs/test_ticketing.py
Due: ruff-format, ruff-lint-fix

fix docs
  backend/clubs/views.py
Due: ruff-format, ruff-lint-fix

oops
  backend/clubs/views.py
Due: ruff-format, ruff-lint-fix

Fix Ownership Requests (#817)
  backend/clubs/serializers.py
  backend/clubs/views.py
  backend/tests/clubs/test_views.py
Due: ruff-format, ruff-lint-fix

Update README.md to add repository for python3.13-dev package
  README.md
Due: none

Error-proof deactivation command
  backend/clubs/management/commands/deactivate.py
  backend/tests/clubs/test_commands.py
Due: ruff-format, ruff-lint-fix

Add test for --clubs parameter for club deactivation
  backend/tests/clubs/test_commands.py
Due: ruff-format, ruff-lint-fix

Fix websockets in local development and do some minor backend version bumps
  backend/pyproject.toml
  backend/uv.lock
  frontend/next.config.js
Due: frontend

Migrate all functionality to ASGI server
  .gitignore
  backend/Dockerfile
  backend/pennclubs/asgi.py
  backend/pennclubs/routing.py
  backend/pennclubs/settings/base.py
  backend/pennclubs/wsgi.py
  backend/pyproject.toml
  backend/scripts/asgi-run
  backend/scripts/wsgi-run
  backend/uv.lock
  k8s/main.ts
Due: ruff-format, ruff-lint-fix

Remove uwsgi and other deprecated configs from setup.cfg
  backend/setup.cfg
Due: none

Fix test case import
  backend/tests/clubs/test_channels.py
Due: ruff-format, ruff-lint-fix

Remove uwsgi dependency and remainder of wsgi references
  backend/Dockerfile
  backend/pennclubs/settings/base.py
  backend/pyproject.toml
  backend/setup.cfg
  backend/uv.lock
Due: ruff-format, ruff-lint-fix

Use ASGI server exclusively in production on Django backend (#819)
  .gitignore
  backend/Dockerfile
  backend/pennclubs/asgi.py
  backend/pennclubs/routing.py
  backend/pennclubs/settings/base.py
  backend/pennclubs/wsgi.py
  backend/pyproject.toml
  backend/scripts/asgi-run
  backend/scripts/wsgi-run
  backend/setup.cfg
  backend/tests/clubs/test_channels.py
  backend/uv.lock
  k8s/main.ts
Due: ruff-format, ruff-lint-fix

Revise language on club edit page and standardize contact email calling conventions and proper nouns
  frontend/components/ClubEditPage/ClubEditCard.tsx
  frontend/components/common/Contact.tsx
  frontend/pages/club/[club]/renew.tsx
  frontend/pages/faq.tsx
  frontend/utils/branding.tsx
Due: frontend
