Repository pennlabs/penn-clubs: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-lint-fix, frontend

.pre-commit-config.yaml:

---
repos:
  - repo: local
    hooks:
      - id: ruff-format
        name: Ruff Formatter
        entry: bash -c "export PIPENV_IGNORE_VIRTUALENVS=1 && cd backend && pipenv run ruff format ."
        language: python
        types: [python]
        require_serial: true
        files: ^backend/
        pass_filenames: false
      - id: ruff-lint-fix
        name: Ruff Lint (Apply Fixes)
        entry: ruff check . --fix
        language: python
        types: [python]
        require_serial: true
        files: ^backend/
      - id: frontend
        name: Frontend Linter
        entry: bash -c "cd frontend && bun run lint"
        language: system
        files: ^frontend/
        require_serial: false
        pass_filenames: false

Fix tab indents, make a comment more concrete
  backend/clubs/views.py
  frontend/utils/branding.tsx
Due: ruff-format, ruff-lint-fix, frontend

Restore public view (#858)
  backend/clubs/management/commands/notify_public_visibility.py
  backend/clubs/migrations/0133_club_visible_to_public_and_more.py
  backend/clubs/migrations/0134_eventshowing_location_visible_to_public.py
  backend/clubs/models.py
  backend/clubs/serializers.py
  backend/clubs/urls.py
  backend/clubs/views.py
  backend/templates/emails/public_visibility.html
  backend/tests/clubs/test_commands.py
  backend/tests/clubs/test_views.py
  frontend/components/ClubEditPage/ClubEditCard.tsx
  frontend/components/ClubEditPage/EventsCard.tsx
  frontend/pages/club/[club]/edit/[[...slug]].tsx
  frontend/pages/club/[club]/index.tsx
  frontend/pages/directory.tsx
  frontend/pages/events/index.tsx
  frontend/renderPage.tsx
  frontend/types.ts
  frontend/utils/branding.tsx
Due: ruff-format, ruff-lint-fix, frontend

Fix potential bug with club form re-use across edit and create pages
  frontend/components/ClubEditPage.tsx
Due: frontend

Generate sitemap
  .gitignore
  backend/clubs/sitemap.py
  backend/clubs/urls.py
  backend/tests/clubs/test_views.py
  frontend/bun.lock
  frontend/next-sitemap.config.js
  frontend/package.json
Due: ruff-format, ruff-lint-fix, frontend

Address AI comments with AI
  backend/clubs/sitemap.py
  frontend/next-sitemap.config.js
Due: ruff-format, ruff-lint-fix, frontend

Adding radio buttons in the clubs side bar
  backend/clubs/migrations/0135_alter_club_visible_to_public_and_more.py
  frontend/components/RadioFilter.tsx
  frontend/pages/clubs.tsx
  frontend/pages/index.tsx
Due: ruff-format, ruff-lint-fix, frontend

run makemigrations + bun install
  backend/clubs/migrations/0135_alter_club_visible_to_public_and_more.py
  frontend/bun.lock
Due: ruff-format, ruff-lint-fix, frontend

apply btn visible if wc
  frontend/components/ClubPage/Actions.tsx
Due: frontend

Enable re-apply for Wharton Clubs (#861)
  backend/clubs/migrations/0135_alter_club_visible_to_public_and_more.py
  frontend/bun.lock
  frontend/components/ClubPage/Actions.tsx
Due: ruff-format, ruff-lint-fix, frontend

allow members to reapply
  frontend/components/ClubPage/Actions.tsx
Due: frontend

Allow reapply (#862)
  frontend/components/ClubPage/Actions.tsx
Due: frontend

Solving radio button bugs
  frontend/components/RadioFilter.tsx
Due: frontend

Solving radio button bugs 2
  frontend/components/RadioFilter.tsx
Due: frontend

Use redirect for secure acceptance
  README.md
  backend/clubs/migrations/0136_rename_reconciliation_id_tickettransactionrecord_reference_number_and_more.py
  backend/clubs/models.py
  backend/clubs/views.py
  backend/pennclubs/settings/base.py
  backend/pennclubs/settings/ci.py
  backend/pennclubs/settings/development.py
  backend/pennclubs/settings/production.py
  backend/pyproject.toml
  backend/tests/clubs/test_ticketing.py
  backend/uv.lock
  frontend/components/Tickets/CartTickets.tsx
  frontend/components/Tickets/PaymentForm.tsx
  frontend/pages/events/checkout.tsx
  frontend/utils.tsx
Due: ruff-format, ruff-lint-fix, frontend

Fix Devin nits
  backend/clubs/views.py
Due: ruff-format, ruff-lint-fix

aah
  backend/clubs/views.py
Due: ruff-format, ruff-lint-fix

Safe conversion
  backend/clubs/views.py
Due: ruff-format, ruff-lint-fix

Use Redirect for Secure Acceptance (#864)
  README.md
  backend/clubs/migrations/0136_rename_reconciliation_id_tickettransactionrecord_reference_number_and_more.py
  backend/clubs/models.py
  backend/clubs/views.py
  backend/pennclubs/settings/base.py
  backend/pennclubs/settings/ci.py
  backend/pennclubs/settings/development.py
  backend/pennclubs/settings/production.py
  backend/pyproject.toml
  backend/tests/clubs/test_ticketing.py
  backend/uv.lock
  frontend/components/Tickets/CartTickets.tsx
  frontend/components/Tickets/PaymentForm.tsx
  frontend/pages/events/checkout.tsx
  frontend/utils.tsx
Due: ruff-format, ruff-lint-fix, frontend

change status msg to be next to status bar
  frontend/components/Settings/QueueTab.tsx
Due: frontend

registration_queue_settings migrations
  backend/clubs/migrations/0132_registrationqueuesettings_new_approval_date_of_next_flip_and_more.py
Due: ruff-format, ruff-lint-fix

set interval to 1 hr
  frontend/components/Settings/QueueTab.tsx
Due: frontend

changed toast messages
  frontend/components/Settings/QueueTab.tsx
Due: frontend

Fix date selecting bug with minTime and timeIntervals
  frontend/components/Settings/QueueTab.tsx
Due: frontend

model + serializer updates
  backend/clubs/migrations/0132_registrationqueuesettings_new_approval_date_of_next_flip_and_more.py
  backend/clubs/models.py
  backend/clubs/serializers.py
Due: ruff-format, ruff-lint-fix

schedule approval queue changes frontend
  frontend/components/Settings/QueueTab.tsx
  frontend/components/common/Modal.tsx
  frontend/types.ts
Due: frontend

fix tests to use setUp
  backend/tests/clubs/test_models.py
Due: ruff-format, ruff-lint-fix

date patch validation
  backend/clubs/views.py
Due: ruff-format, ruff-lint-fix

merge migration conflicts
  backend/clubs/migrations/0133_merge_20251114_1750.py
  backend/clubs/migrations/0134_alter_badge_org.py
Due: ruff-format, ruff-lint-fix

migration for datetimefield
  backend/clubs/migrations/0132_registrationqueuesettings_new_approval_date_of_next_flip_and_more.py
Due: ruff-format, ruff-lint-fix

added reapproval and new_approval date_of_next_flip fields in model
  backend/clubs/models.py
Due: ruff-format, ruff-lint-fix

datetime field update
  backend/clubs/models.py
Due: ruff-format, ruff-lint-fix

delete unnecessary code
  backend/clubs/models.py
Due: ruff-format, ruff-lint-fix

check scheduled flips on every request
  backend/clubs/models.py
  backend/clubs/views.py
Due: ruff-format, ruff-lint-fix

view and model tests for registration queue settings scheduling
  backend/tests/clubs/test_models.py
  backend/tests/clubs/test_views.py
Due: ruff-format, ruff-lint-fix

started queue scheduler modal
  frontend/components/Settings/QueueTab.tsx
Due: frontend

updated status info
  frontend/components/Settings/QueueTab.tsx
Due: frontend

merge db migration conflicts
  backend/clubs/migrations/0137_merge_20260130_1741.py
Due: ruff-format, ruff-lint-fix

Fix lint
  frontend/components/ClubEditPage.tsx
  frontend/components/ClubEditPage/ApplicationsPage.tsx
  frontend/components/ClubEditPage/ClubEditCard.tsx
Due: frontend

Fix lint
  frontend/pages/index.tsx
Due: frontend
