Repository pennlabs/penn-clubs: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, flake8, frontend

.pre-commit-config.yaml:

---
repos:
  - repo: local
    hooks:
      - id: black
        name: black
        entry: bash -c "export PIPENV_IGNORE_VIRTUALENVS=1 && cd backend && pipenv run black ."
        language: python
        types: [python]
        require_serial: true
        files: ^backend/
        pass_filenames: false
      - id: isort
        name: isort
        entry: isort
        language: python
        types: [python]
        require_serial: true
        files: ^backend/
      - id: flake8
        name: flake8
        entry: flake8
        language: python
        types: [python]
        require_serial: true
        files: ^backend/
        args: [--config, backend/setup.cfg]
      - id: frontend
        name: Yarn Linter
        entry: bash -c "cd frontend && yarn lint"
        language: system
        files: ^frontend/
        require_serial: false
        pass_filenames: false

Add masonry to club cards display
  frontend/components/ClubDisplay.tsx
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Invalidate caches after deactivation
  backend/clubs/management/commands/deactivate.py
Due: black, isort, flake8

Add test case
  backend/tests/clubs/test_commands.py
Due: black, isort, flake8

Fix errors in deactivation script
  backend/clubs/management/commands/deactivate.py
Due: black, isort, flake8

Use in-memory cache for testing
  backend/tests/clubs/test_commands.py
Due: black, isort, flake8

Minor stylistic changes
  backend/clubs/management/commands/deactivate.py
Due: black, isort, flake8

Invalidate cache after deactivation in renewal flow (#712)
  backend/clubs/management/commands/deactivate.py
  backend/tests/clubs/test_commands.py
Due: black, isort, flake8

fix: filter out duplicates across club tags and badges when displaying
  frontend/components/common/TagGroup.tsx
Due: frontend

fix: filter out duplicates across club tags and badges when displaying (#713)
  frontend/components/common/TagGroup.tsx
Due: frontend

Display badges after tags in frontend
  frontend/components/common/TagGroup.tsx
Due: frontend

Add badge-specific notifications
  backend/clubs/migrations/0113_badge_message.py
  backend/clubs/models.py
  backend/clubs/serializers.py
  frontend/pages/club/[club]/index.tsx
  frontend/types.ts
Due: black, isort, flake8, frontend

Add badge-specific notifications (#714)
  backend/clubs/migrations/0113_badge_message.py
  backend/clubs/models.py
  backend/clubs/serializers.py
  frontend/pages/club/[club]/index.tsx
  frontend/types.ts
Due: black, isort, flake8, frontend

Add test (should fail currently)
  backend/tests/clubs/test_views.py
Due: black, isort, flake8

Use in memory cache for CI tests
  backend/pennclubs/settings/ci.py
Due: black, isort, flake8

Move permission checking out of serializers
  backend/clubs/serializers.py
  backend/clubs/views.py
Due: black, isort, flake8

Clear cache between tests
  backend/tests/clubs/test_views.py
Due: black, isort, flake8

Move permissioning back to serializer
  backend/clubs/serializers.py
  backend/clubs/views.py
Due: black, isort, flake8

Improve docs
  backend/clubs/views.py
Due: black, isort, flake8

Minor style changes
  backend/clubs/views.py
Due: black, isort, flake8

Revert changes to get_serializer_class
  backend/clubs/views.py
Due: black, isort, flake8

Minor improvements to tests
  backend/tests/clubs/test_views.py
Due: black, isort, flake8

Fix permission-related display issues after club deactivation (#715)
  backend/clubs/views.py
  backend/pennclubs/settings/ci.py
  backend/tests/clubs/test_views.py
Due: black, isort, flake8

Group club badges by color
  frontend/components/common/TagGroup.tsx
Due: frontend

Group club badges by color (#716)
  frontend/components/common/TagGroup.tsx
Due: frontend

changes
  frontend/components/ClubPage/EventCarousel.tsx
  frontend/pages/club/[club]/index.tsx
Due: frontend

fix submissions page
  frontend/pages/settings.tsx
Due: frontend

applications
  frontend/pages/settings.tsx
Due: frontend

address requested changes
  backend/clubs/models.py
  backend/clubs/views.py
  backend/tests/clubs/test_views.py
Due: black, isort, flake8

changes
  frontend/pages/settings.tsx
Due: frontend

a
  frontend/pages/settings.tsx
Due: frontend

Fix issue with XLSX data availability for columns with underscores
  backend/Pipfile.lock
  backend/clubs/mixins.py
Due: black, isort, flake8

Edit banner on new club form
  frontend/components/ClubEditPage/ClubEditCard.tsx
Due: frontend

Update README.md
  README.md
Due: none

use swiper
  frontend/components/ClubPage/EventCarousel.tsx
  frontend/package.json
  frontend/yarn.lock
Due: frontend

remove react-multi-carousel
  frontend/package.json
  frontend/yarn.lock
Due: frontend

remove ruff
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Delete Pipfile
  Pipfile
Due: none

just submissions
  frontend/pages/settings.tsx
Due: frontend

add applications page
  frontend/pages/settings.tsx
Due: frontend

fix formatting
  frontend/pages/settings.tsx
Due: frontend
