Repository pennlabs/penn-clubs: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-lint-fix, frontend

ruff-format:
  name: Ruff Formatter
  entry: bash -c "export PIPENV_IGNORE_VIRTUALENVS=1 && cd backend && pipenv run ruff format ."
  language: python
  require_serial: true
  pass_filenames: false

ruff-lint-fix:
  name: Ruff Lint (Apply Fixes)
  entry: ruff check . --fix
  language: python
  require_serial: true

frontend:
  name: Frontend Linter
  entry: bash -c "cd frontend && bun run lint"
  language: system
  require_serial: false
  pass_filenames: false

require tags on renewal
  frontend/pages/club/[club]/renew.tsx
Due: frontend

all tests passing
  backend/tests/clubs/test_views.py
Due: ruff-format, ruff-lint-fix

OSA F25 Registration Asks (#833)
  backend/clubs/admin.py
  backend/clubs/management/commands/populate.py
  backend/clubs/migrations/0124_classification_designation_status_type_and_more.py
  backend/clubs/migrations/0125_remove_club_designation_and_more.py
  backend/clubs/migrations/0126_merge_20250810_2354.py
  backend/clubs/migrations/0127_alter_badge_color_alter_category_designation_and_more.py
  backend/clubs/migrations/0128_club_group_activity_assessment_and_more.py
  backend/clubs/migrations/0129_add_group_activity_options.py
  backend/clubs/migrations/0130_remove_historicalclub_group_activity_assessment_and_more.py
  backend/clubs/mixins.py
  backend/clubs/models.py
  backend/clubs/serializers.py
  backend/clubs/urls.py
  backend/clubs/views.py
  backend/templates/emails/confirmation.html
  backend/tests/clubs/test_views.py
  frontend/components/ClubEditPage.tsx
  frontend/components/ClubEditPage/ClubEditCard.tsx
  frontend/components/ClubPage/Header.tsx
  frontend/components/ClubPage/InfoBox.tsx
  frontend/components/ClubPage/RenewalRequestDialog.tsx
  frontend/components/FormComponents.tsx
  frontend/components/ModelForm.tsx
  frontend/components/ResourceCreationPage.tsx
  frontend/components/common/TagGroup.tsx
  frontend/pages/club/[club]/edit/[[...slug]].tsx
  frontend/pages/club/[club]/renew.tsx
  frontend/pages/create.tsx
  frontend/types.ts
  frontend/utils/branding.tsx
Due: ruff-format, ruff-lint-fix, frontend

unrequire tags + admin fields
  backend/clubs/migrations/0131_alter_club_tags.py
  backend/clubs/models.py
  backend/clubs/serializers.py
  backend/tests/clubs/test_views.py
  frontend/components/ClubEditPage/ClubEditCard.tsx
  frontend/pages/club/[club]/renew.tsx
Due: ruff-format, ruff-lint-fix, frontend

Unrequire Tags + Admin Fields (#834)
  backend/clubs/migrations/0131_alter_club_tags.py
  backend/clubs/models.py
  backend/clubs/serializers.py
  backend/tests/clubs/test_views.py
  frontend/components/ClubEditPage/ClubEditCard.tsx
  frontend/pages/club/[club]/renew.tsx
Due: ruff-format, ruff-lint-fix, frontend

show group activity assessment on renew page
  frontend/pages/club/[club]/renew.tsx
  frontend/utils/branding.tsx
Due: frontend

renames 'Desc' diff tag to 'Mission' + hide ownership requests on /admin
  frontend/components/Settings/QueueTab.tsx
Due: frontend

Replace Clubs contact email with edit page url for transferring ownership in renew.html (by virtue of receiving email, former club leaders can use the site to transfer ownership)
  backend/clubs/models.py
  backend/templates/emails/renew.html
Due: ruff-format, ruff-lint-fix

prefetch new fields
  backend/clubs/views.py
Due: ruff-format, ruff-lint-fix

Temp-ish patch for ungraceful EmbedOption renderers
  frontend/components/EmbedOption.tsx
Due: frontend

change group activities serializer field to return nested object
  backend/clubs/serializers.py
  frontend/components/ClubEditPage/ClubEditCard.tsx
  frontend/components/ModelForm.tsx
  frontend/types.ts
Due: ruff-format, ruff-lint-fix, frontend

overied single related fields to scalar fields in reportClubSerializer
  backend/clubs/serializers.py
Due: ruff-format, ruff-lint-fix

add sync_club status command to sync club's UNDER REVIEW, INACTIVE status
  backend/clubs/management/commands/sync_club_status.py
Due: ruff-format, ruff-lint-fix

Gracefully handle missing template file in emailpreview route, resolves PENN-CLUBS-8J
  backend/clubs/views.py
  backend/templates/preview.html
  backend/tests/clubs/test_views.py
Due: ruff-format, ruff-lint-fix

Fix diff_calculator bad get error, resolves PENN-CLUBS-MB
  backend/clubs/serializers.py
Due: ruff-format, ruff-lint-fix

allow specifying clubs to sync INACTIVE, UNDER REVIEW status usinng --clubs
  backend/clubs/management/commands/sync_club_status.py
Due: ruff-format, ruff-lint-fix

Make club saving atomic to prevent committee-related race conditions
  backend/clubs/serializers.py
Due: ruff-format, ruff-lint-fix

Avoid failing when committee exists
  backend/clubs/serializers.py
Due: ruff-format, ruff-lint-fix

Preliminary scaleup for application season (subsequent needed for WC deadline most likely), try to use a better worker count for 4 virtual cores
  backend/scripts/asgi-run
  k8s/main.ts
  penn-clubs.code-workspace
Due: none

Add view/serializer for ranking weights to make them editable in admin console
  backend/clubs/models.py
  backend/clubs/serializers.py
  backend/clubs/urls.py
  backend/clubs/views.py
  backend/tests/clubs/test_commands.py
Due: ruff-format, ruff-lint-fix

Revert "Added CFA funding link to header (#545)"
  frontend/components/Header/Links.tsx
Due: frontend

Add more tech debt (attempt to patch the Copy 1 committee behavior on cycle creation)
  backend/clubs/management/commands/normalize_committees.py
  backend/clubs/models.py
  backend/clubs/views.py
  backend/tests/clubs/test_views.py
Due: ruff-format, ruff-lint-fix

Make command web-executable and refine description
  backend/clubs/management/commands/normalize_committees.py
Due: ruff-format, ruff-lint-fix

Actually add the weights model to the admin page
  backend/clubs/admin.py
  frontend/types.ts
Due: ruff-format, ruff-lint-fix, frontend

move to recharts
  frontend/bun.lock
  frontend/components/ClubEditPage/AnalyticsCard.tsx
  frontend/components/Settings/WhartonApplicationStatus.tsx
  frontend/package.json
Due: frontend

changed ticks by changing group by
  frontend/components/ClubEditPage/AnalyticsCard.tsx
Due: frontend

changed domain
  frontend/components/ClubEditPage/AnalyticsCard.tsx
Due: frontend

changed pieData structure
  frontend/components/ClubEditPage/AnalyticsCard.tsx
Due: frontend

Use styled components fork for legacy code performance
  frontend/bun.lock
  frontend/components/BaseLayout.tsx
  frontend/package.json
  frontend/pages/_document.tsx
  frontend/renderPage.tsx
Due: frontend

Fix build issue
  frontend/components/RouteProgressBar.tsx
Due: frontend

Scale up for WC deadline (Fall 2025)
  k8s/main.ts
Due: none

Update main.ts
  k8s/main.ts
Due: none

Reduce frontend and backend pods (#841)
  k8s/main.ts
Due: none

new migration, new status logic, new tests
  backend/clubs/migrations/0122_remove_ownershiprequest_withdrawn_and_more.py
  backend/clubs/migrations/0132_alter_ownershiprequest_unique_together_and_more.py
  backend/clubs/models.py
  backend/clubs/views.py
  backend/templates/emails/ownership_request_accepted.html
  backend/templates/emails/ownership_request_denied.html
  backend/tests/clubs/test_models.py
  backend/tests/clubs/test_views.py
Due: ruff-format, ruff-lint-fix

backend/serializers: sanitize HTML for applications and fairs
  backend/clubs/management/commands/import_paideia_events.py
  backend/clubs/serializers.py
Due: ruff-format, ruff-lint-fix

fix: harden HTML sanitization for applications, fairs, and imported events (XSS mitigation) (#842)
  backend/clubs/management/commands/import_paideia_events.py
  backend/clubs/serializers.py
Due: ruff-format, ruff-lint-fix

custom migration for withdrawn field to status field
  backend/clubs/migrations/0132_alter_ownershiprequest_unique_together_and_more.py
Due: ruff-format, ruff-lint-fix

make migration reversible, and use bulk operations for data migration functions
  backend/clubs/migrations/0132_alter_ownershiprequest_unique_together_and_more.py
Due: ruff-format, ruff-lint-fix

Path conditions:
  ruff-format: any of: ^backend/ and \.py$
  ruff-lint-fix: any of: ^backend/ and \.py$
  frontend: any of: ^frontend/
