Repository pennlabs/penn-clubs: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, flake8, frontend

black:
  name: black
  entry: bash -c "export PIPENV_IGNORE_VIRTUALENVS=1 && cd backend && pipenv run black ."
  language: python
  require_serial: true
  pass_filenames: false

isort:
  name: isort
  entry: isort
  language: python
  require_serial: true

flake8:
  name: flake8
  entry: flake8
  language: python
  require_serial: true
  args:
  - --config
  - backend/setup.cfg

frontend:
  name: Yarn Linter
  entry: bash -c "cd frontend && yarn lint"
  language: system
  require_serial: false
  pass_filenames: false

fix: club officers should be able to see individual tickets for associated events
  backend/clubs/views.py
Due: black, isort, flake8

Add club image to events page and format descriptions correctly
  frontend/pages/events/[id].tsx
Due: frontend

Trigger onchange upon object creation in model form
  frontend/components/ClubEditPage/EventsCard.tsx
  frontend/components/ModelForm.tsx
Due: frontend

Use event image in events page and mask to 450x200 for now
  frontend/pages/events/[id].tsx
Due: frontend

Fix ticketing event creation and image on event page (#690)
  frontend/components/ClubEditPage/EventsCard.tsx
  frontend/components/ModelForm.tsx
  frontend/pages/events/[id].tsx
Due: frontend

fix permissions for retrieving ticket
  backend/clubs/views.py
Due: black, isort, flake8

Fix image dimensions by width and remove lazyload to prevent overflow, and add TicketTransferRecords to admin panel
  backend/clubs/admin.py
  frontend/pages/events/[id].tsx
Due: black, isort, flake8, frontend

move transactionrecord back to field on ticket, override delete behavior
  backend/clubs/migrations/0109_remove_tickettransactionrecord_ticket_and_more.py
  backend/clubs/models.py
  backend/clubs/views.py
  backend/tests/clubs/test_ticketing.py
Due: black, isort, flake8

Improve update_holds efficiency, add tests
  backend/clubs/models.py
  backend/tests/clubs/test_ticketing.py
Due: black, isort, flake8

Add index on holding expiration
  backend/clubs/migrations/0110_alter_ticket_holding_expiration.py
Due: black, isort, flake8

Lock for update in update_holds
  backend/clubs/models.py
Due: black, isort, flake8

Move TicketTransactionRecord back to field on Ticket (#691)
  backend/clubs/migrations/0109_remove_tickettransactionrecord_ticket_and_more.py
  backend/clubs/migrations/0110_alter_ticket_holding_expiration.py
  backend/clubs/models.py
  backend/clubs/views.py
  backend/tests/clubs/test_ticketing.py
Due: black, isort, flake8

Add qr code as attachment to confirmation email, make qr code route public temporarily
  backend/clubs/models.py
  backend/clubs/views.py
  backend/templates/emails/ticket_confirmation.html
Due: black, isort, flake8

Wording changes for ticket confirmation email
  backend/templates/emails/ticket_confirmation.html
Due: none

Override permissions for qr action
  backend/clubs/views.py
Due: black, isort, flake8

fix QR code not showing up in Gmail
  backend/clubs/models.py
  backend/templates/emails/ticket_confirmation.html
Due: black, isort, flake8

Fix QR code not showing up in Gmail (#693)
  backend/clubs/models.py
  backend/templates/emails/ticket_confirmation.html
Due: black, isort, flake8

:memo: Update ticket confirmation email
  backend/clubs/models.py
  backend/templates/emails/ticket_confirmation.html
Due: black, isort, flake8

:memo: Update ticket confirmation email
  backend/clubs/models.py
  backend/clubs/views.py
  backend/templates/emails/ticket_confirmation.html
Due: black, isort, flake8

:memo: Update ticket confirmation email (#694)
  backend/clubs/models.py
  backend/clubs/views.py
  backend/templates/emails/ticket_confirmation.html
Due: black, isort, flake8

Fix ticket type in ticket transfer email
  backend/clubs/models.py
Due: black, isort, flake8

Add clarity to owned tickets stack UI
  frontend/components/Settings/TicketsTab/index.tsx
Due: frontend

Add expand button for grouped tickets
  frontend/components/Settings/TicketsTab/index.tsx
  frontend/components/Tickets/TicketCard.tsx
Due: frontend

Add note to transfer card
  frontend/components/Settings/TicketTransferModal.tsx
Due: frontend

Fix typo :pensive:
  frontend/components/Settings/TicketTransferModal.tsx
Due: frontend

Optimize club ranking
  backend/clubs/management/commands/rank.py
Due: black, isort, flake8

Add note to ticket transfer flow (#696)
  frontend/components/Settings/TicketTransferModal.tsx
Due: frontend

Add index on club rank
  backend/clubs/migrations/0111_alter_club_rank_alter_historicalclub_rank.py
  backend/clubs/models.py
Due: black, isort, flake8

Make multiple owned tickets UI more intuitive (#695)
  frontend/components/Settings/TicketsTab/index.tsx
  frontend/components/Tickets/TicketCard.tsx
Due: frontend

Set reply-to to OSA email for approval-related notification emails
  backend/clubs/models.py
  backend/pennclubs/settings/base.py
Due: black, isort, flake8

Set reply-to to OSA email for approval-related notification emails (#697)
  backend/clubs/models.py
  backend/pennclubs/settings/base.py
Due: black, isort, flake8

Sentry performance monitoring
  backend/pennclubs/settings/production.py
Due: black, isort, flake8

Add caches to Sentry monitoring
  backend/pennclubs/settings/production.py
Due: black, isort, flake8

fix
  backend/pennclubs/settings/production.py
Due: black, isort, flake8

use prefetched badges with is_wharton property
  backend/clubs/models.py
  backend/clubs/views.py
Due: black, isort, flake8

Change wording from badges to filters per WC request
  frontend/pages/index.tsx
Due: frontend

temporarily disable performance monitoring
  backend/pennclubs/settings/production.py
Due: black, isort, flake8

Retry sending mail on SMTP errors
  backend/clubs/models.py
Due: black, isort, flake8

Add early return
  backend/clubs/models.py
Due: black, isort, flake8

Sample 10% of transactions
  backend/pennclubs/settings/production.py
Due: black, isort, flake8

Path conditions:
  black: any of: ^backend/ and \.py$
  isort: any of: ^backend/ and \.py$
  flake8: any of: ^backend/ and \.py$
  frontend: any of: ^frontend/
