Repository pennlabs/penn-clubs: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, flake8, frontend

.pre-commit-config.yaml:

---
repos:
  - repo: local
    hooks:
      - id: black
        name: black
        entry: bash -c "export PIPENV_IGNORE_VIRTUALENVS=1 && cd backend && pipenv run black ."
        language: python
        types: [python]
        require_serial: true
        files: ^backend/
        pass_filenames: false
      - id: isort
        name: isort
        entry: isort
        language: python
        types: [python]
        require_serial: true
        files: ^backend/
      - id: flake8
        name: flake8
        entry: flake8
        language: python
        types: [python]
        require_serial: true
        files: ^backend/
        args: [--config, backend/setup.cfg]
      - id: frontend
        name: Yarn Linter
        entry: bash -c "cd frontend && yarn lint"
        language: system
        files: ^frontend/
        require_serial: false
        pass_filenames: false

Fix hydration issues
  frontend/pages/club/[club]/index.tsx
Due: frontend

Only show clubs that have been approved this school year (approximately)
  backend/pennclubs/settings/base.py
Due: black, isort, flake8

Add actual backend change :(
  backend/clubs/serializers.py
Due: black, isort, flake8

Add granular visibility per advisor (admin, students, public) and hide question answerers for unauthed view
  backend/clubs/migrations/0114_alter_advisor_public.py
  backend/clubs/models.py
  backend/clubs/serializers.py
  backend/clubs/views.py
  backend/tests/clubs/test_models.py
  frontend/components/ClubEditPage/AdvisorCard.tsx
  frontend/components/ClubPage/QuestionList.tsx
  frontend/types.ts
Due: black, isort, flake8, frontend

Fix caching behavior and related tests
  backend/clubs/management/commands/deactivate.py
  backend/clubs/views.py
  backend/tests/clubs/test_commands.py
Due: black, isort, flake8

Add tests
  backend/tests/clubs/test_commands.py
Due: black, isort, flake8

Change cronjob schedule
  k8s/main.ts
Due: none

Revert "Change cronjob schedule"
  k8s/main.ts
Due: none

Move graduate_users script to cronjob (#730)
  backend/clubs/management/commands/graduate_users.py
  backend/tests/clubs/test_commands.py
  backend/tests/clubs/test_views.py
  k8s/main.ts
Due: black, isort, flake8

Address nits, write tests, and fix visibility vulnerability in AdvisorViewset
  backend/clubs/admin.py
  backend/clubs/management/commands/populate.py
  backend/clubs/migrations/0114_alter_advisor_public.py
  backend/clubs/models.py
  backend/clubs/serializers.py
  backend/clubs/views.py
  backend/tests/clubs/test_models.py
  backend/tests/clubs/test_views.py
  frontend/components/ClubEditPage/AdvisorCard.tsx
  frontend/types.ts
Due: black, isort, flake8, frontend

Hide personal information for non-authenticated users on club page (#732)
  backend/clubs/admin.py
  backend/clubs/management/commands/deactivate.py
  backend/clubs/management/commands/populate.py
  backend/clubs/migrations/0114_alter_advisor_public.py
  backend/clubs/models.py
  backend/clubs/serializers.py
  backend/clubs/views.py
  backend/tests/clubs/test_commands.py
  backend/tests/clubs/test_models.py
  backend/tests/clubs/test_views.py
  frontend/components/ClubEditPage/AdvisorCard.tsx
  frontend/components/ClubPage/QuestionList.tsx
  frontend/types.ts
Due: black, isort, flake8, frontend

attempt
  .github/workflows/build-and-deploy.yaml
Due: none

fix typo
  backend/clubs/serializers.py
Due: black, isort, flake8

Change club serialization to align with approval status
  backend/clubs/serializers.py
  backend/pennclubs/settings/base.py
Due: black, isort, flake8

fix another typo
  backend/clubs/serializers.py
Due: black, isort, flake8

Add fix to unit tests
  backend/tests/clubs/test_views.py
Due: black, isort, flake8

Add serializer tests
  backend/tests/clubs/test_serializers.py
Due: black, isort, flake8

Remove unneeded mock in unit tests
  backend/tests/clubs/test_views.py
Due: black, isort, flake8

Add timezone to renewal period definition
  backend/pennclubs/settings/base.py
Due: black, isort, flake8

Roll back doc changes to view unit tests
  backend/tests/clubs/test_views.py
Due: black, isort, flake8

Fix docs
  backend/clubs/serializers.py
Due: black, isort, flake8

Enable paid tickets
  frontend/utils/branding.tsx
Due: frontend

use updated frontend check
  .github/workflows/build-and-deploy.yaml
Due: none

Implement beta flag for clubs
  backend/clubs/migrations/0115_club_beta_historicalclub_beta.py
  backend/clubs/models.py
  backend/clubs/serializers.py
  frontend/components/ClubEditPage/EventsCard.tsx
  frontend/components/ClubEditPage/TicketsModal.tsx
  frontend/types.ts
Due: black, isort, flake8, frontend

remove frontend check again :skull:
  .github/workflows/build-and-deploy.yaml
Due: none

Add index on club approval date
  backend/clubs/migrations/0116_alter_club_approved_on_and_more.py
  backend/clubs/models.py
Due: black, isort, flake8

Update main.ts
  k8s/main.ts
Due: none

Fix style prop errors and attempt version bump + using non-dev api for unified checkout JS library
  frontend/components/Settings/ClubTab.tsx
  frontend/components/Settings/RenewTab.tsx
  frontend/components/Settings/TicketsTab/index.tsx
  frontend/components/Tickets/CartTickets.tsx
  frontend/components/Tickets/PaymentForm.tsx
  frontend/components/common/Typography.tsx
Due: frontend

Fix ticket confirmations & add test
  backend/clubs/views.py
  backend/tests/clubs/test_ticketing.py
Due: black, isort, flake8

Fix ticket transfer success toast and add link to event page from event modal
  frontend/components/ClubPage/EventCarousel.tsx
  frontend/components/EventPage/EventModal.tsx
  frontend/pages/tickets/[[...slug]].tsx
  frontend/types.ts
Due: frontend

Show numeric input on mobile for ticket ordering amounts, don't cut off double-digit numbers
  frontend/pages/events/[id].tsx
Due: frontend

Add check on event end time in cart endpoint
  backend/clubs/views.py
Due: black, isort, flake8

Add tests
  backend/tests/clubs/test_ticketing.py
Due: black, isort, flake8

Tweak frontend toast
  frontend/components/Tickets/CartTickets.tsx
Due: frontend

Reinsert comment
  backend/clubs/views.py
Due: black, isort, flake8

style
  backend/clubs/views.py
Due: black, isort, flake8

Remove extra query
  backend/clubs/views.py
Due: black, isort, flake8

Add check to add_to_cart
  backend/clubs/views.py
Due: black, isort, flake8

Add test to add_to_cart
  backend/tests/clubs/test_ticketing.py
Due: black, isort, flake8

Minor fix
  backend/tests/clubs/test_ticketing.py
Due: black, isort, flake8
