Repository pennlabs/penn-clubs: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, flake8, frontend

black:
  name: black
  entry: bash -c "export PIPENV_IGNORE_VIRTUALENVS=1 && cd backend && pipenv run black ."
  language: python
  require_serial: true
  pass_filenames: false

isort:
  name: isort
  entry: isort
  language: python
  require_serial: true

flake8:
  name: flake8
  entry: flake8
  language: python
  require_serial: true
  args:
  - --config
  - backend/setup.cfg

frontend:
  name: Yarn Linter
  entry: bash -c "cd frontend && yarn lint"
  language: system
  require_serial: false
  pass_filenames: false

Sample 10% of transactions (#700)
  backend/pennclubs/settings/production.py
Due: black, isort, flake8

Change retry logic & address nits
  backend/clubs/models.py
Due: black, isort, flake8

Add testing
  backend/tests/clubs/test_models.py
Due: black, isort, flake8

Add retry logic for SMTP errors (#699)
  backend/clubs/models.py
  backend/tests/clubs/test_models.py
Due: black, isort, flake8

added tests a few tests for ticketing
  backend/clubs/views.py
  backend/tests/clubs/test_ticketing.py
Due: black, isort, flake8

added tests leftout tests ticketing
  backend/clubs/views.py
  backend/tests/clubs/test_ticketing.py
Due: black, isort, flake8

Disable frontend editing of any club setting that requires reapproval, add frontend warning, and disable email reminders for queue administrators
  backend/clubs/management/commands/daily_notifications.py
  backend/pennclubs/settings/base.py
  frontend/components/ClubEditPage/ClubEditCard.tsx
  frontend/components/ClubPage/LiveEventsDialog.tsx
  frontend/components/FormComponents.tsx
  frontend/utils/branding.tsx
Due: black, isort, flake8, frontend

Prevent joining queue on backend
  backend/clubs/serializers.py
Due: black, isort, flake8

Fix tests
  backend/clubs/serializers.py
  backend/tests/clubs/test_commands.py
  backend/tests/clubs/test_views.py
Due: black, isort, flake8

Add case for queue being closed in test
  backend/tests/clubs/test_views.py
Due: black, isort, flake8

Remove unnecessary mock import
  backend/tests/clubs/test_views.py
Due: black, isort, flake8

Disable queue for summer (#704)
  backend/clubs/management/commands/daily_notifications.py
  backend/clubs/serializers.py
  backend/pennclubs/settings/base.py
  backend/tests/clubs/test_commands.py
  backend/tests/clubs/test_views.py
  frontend/components/ClubEditPage/ClubEditCard.tsx
  frontend/components/ClubPage/LiveEventsDialog.tsx
  frontend/components/FormComponents.tsx
  frontend/utils/branding.tsx
Due: black, isort, flake8, frontend

add club diff feature
  backend/clubs/models.py
  backend/clubs/views.py
Due: black, isort, flake8

address nits
  backend/clubs/models.py
  backend/tests/clubs/test_ticketing.py
Due: black, isort, flake8

Add tests left out from ticketing (#703)
  backend/clubs/models.py
  backend/clubs/views.py
  backend/tests/clubs/test_ticketing.py
Due: black, isort, flake8

add YAML doc
  backend/clubs/views.py
Due: black, isort, flake8

remove TODO
  backend/tests/clubs/test_ticketing.py
Due: black, isort, flake8

Revert "Add tests left out from ticketing (#703)"
  backend/clubs/models.py
  backend/clubs/views.py
  backend/tests/clubs/test_ticketing.py
Due: black, isort, flake8

add transaction record test
  backend/tests/clubs/test_ticketing.py
Due: black, isort, flake8

Revert "Add tests left out from ticketing (#703)" (#706)
  backend/clubs/models.py
  backend/clubs/views.py
  backend/tests/clubs/test_ticketing.py
Due: black, isort, flake8

address more nits
  backend/tests/clubs/test_ticketing.py
Due: black, isort, flake8

keep TODO
  backend/clubs/models.py
Due: black, isort, flake8

address last nit
  backend/clubs/models.py
Due: black, isort, flake8

address nits + add tests
  backend/clubs/models.py
  backend/clubs/views.py
  backend/tests/clubs/test_views.py
Due: black, isort, flake8

Resolve unaddressed nits in #703 (#707)
  backend/clubs/views.py
  backend/tests/clubs/test_ticketing.py
Due: black, isort, flake8

address yaml error
  backend/clubs/views.py
Due: black, isort, flake8

:fire: Remove Hub@Penn
  k8s/main.ts
Due: none

Update main.ts
  k8s/main.ts
Due: none

Partially reopen queue for Fall 2024
  backend/clubs/serializers.py
  backend/pennclubs/settings/base.py
  frontend/components/ClubEditPage/ClubEditCard.tsx
  frontend/utils/branding.tsx
Due: black, isort, flake8, frontend

Patch existing tests
  backend/tests/clubs/test_views.py
Due: black, isort, flake8

Address nits and add test
  backend/clubs/management/commands/daily_notifications.py
  backend/clubs/serializers.py
  backend/pennclubs/settings/base.py
  backend/tests/clubs/test_commands.py
  backend/tests/clubs/test_views.py
  frontend/components/ClubEditPage/ClubEditCard.tsx
  frontend/utils/branding.tsx
Due: black, isort, flake8, frontend

Partially open queue for Fall 2024 (#708)
  backend/clubs/management/commands/daily_notifications.py
  backend/clubs/serializers.py
  backend/pennclubs/settings/base.py
  backend/tests/clubs/test_commands.py
  backend/tests/clubs/test_views.py
  frontend/components/ClubEditPage/ClubEditCard.tsx
  frontend/utils/branding.tsx
Due: black, isort, flake8, frontend

Remove error details for profiles without view permission
  frontend/pages/user/[user]/index.tsx
Due: frontend

Add email template for sending updated club fair info
  backend/clubs/management/commands/send_emails.py
  backend/templates/emails/revised_fair_date.html
Due: black, isort, flake8

Reflect club description reapproval changes in email and form text
  backend/templates/emails/revised_fair_date.html
  frontend/components/ClubEditPage/ClubEditCard.tsx
Due: frontend

Add link to transfer ownership automatically in email
  README.md
  backend/clubs/management/commands/send_emails.py
  backend/templates/emails/revised_fair_date.html
Due: black, isort, flake8

Remove error details for profiles without view permission (#709)
  frontend/pages/user/[user]/index.tsx
Due: frontend

Add support for non-virtual fairs
  backend/clubs/migrations/0112_clubfair_virtual.py
  backend/clubs/models.py
  backend/clubs/serializers.py
  backend/clubs/views.py
  frontend/components/ClubPage/LiveEventsDialog.tsx
  frontend/components/Settings/FairsTab.tsx
  frontend/pages/fair.tsx
  frontend/pages/index.tsx
Due: black, isort, flake8, frontend

Address nits
  backend/clubs/views.py
  backend/tests/clubs/test_views.py
  frontend/components/ClubPage/LiveEventsDialog.tsx
  frontend/pages/fair.tsx
Due: black, isort, flake8, frontend

Add support for non-virtual fairs (#710)
  backend/clubs/migrations/0112_clubfair_virtual.py
  backend/clubs/models.py
  backend/clubs/serializers.py
  backend/clubs/views.py
  backend/tests/clubs/test_views.py
  frontend/components/ClubPage/LiveEventsDialog.tsx
  frontend/components/Settings/FairsTab.tsx
  frontend/pages/fair.tsx
  frontend/pages/index.tsx
Due: black, isort, flake8, frontend

Path conditions:
  black: any of: ^backend/ and \.py$
  isort: any of: ^backend/ and \.py$
  flake8: any of: ^backend/ and \.py$
  frontend: any of: ^frontend/
