Repository pennlabs/penn-clubs: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-lint-fix, frontend

.pre-commit-config.yaml:

---
repos:
  - repo: local
    hooks:
      - id: ruff-format
        name: Ruff Formatter
        entry: bash -c "export PIPENV_IGNORE_VIRTUALENVS=1 && cd backend && pipenv run ruff format ."
        language: python
        types: [python]
        require_serial: true
        files: ^backend/
        pass_filenames: false
      - id: ruff-lint-fix
        name: Ruff Lint (Apply Fixes)
        entry: ruff check . --fix
        language: python
        types: [python]
        require_serial: true
        files: ^backend/
      - id: frontend
        name: Frontend Linter
        entry: bash -c "cd frontend && bun run lint"
        language: system
        files: ^frontend/
        require_serial: false
        pass_filenames: false

update conn_max_age to disable it, as it is not supported by asgi (#879)
  backend/pennclubs/settings/base.py
Due: ruff-format, ruff-lint-fix

Make ownership request button visibilty also togglable and lint issue
  frontend/pages/index.tsx
Due: frontend

lint
  frontend/pages/index.tsx
Due: frontend

Implement backend + tests
  backend/clubs/management/commands/populate.py
  backend/clubs/serializers.py
  backend/clubs/urls.py
  backend/clubs/views.py
  backend/tests/clubs/test_views.py
Due: ruff-format, ruff-lint-fix

got rid of AI comment
  backend/clubs/serializers.py
Due: ruff-format, ruff-lint-fix

more relevant application/cycle population
  backend/clubs/management/commands/populate.py
Due: ruff-format, ruff-lint-fix

don't return external url
  backend/clubs/serializers.py
Due: ruff-format, ruff-lint-fix

Add user-applications endpoint for the application tracker
  backend/clubs/management/commands/populate_application_tracker.py
  backend/clubs/serializers.py
  backend/clubs/views.py
  backend/tests/clubs/test_views.py
Due: ruff-format, ruff-lint-fix

add more cases to application tracker populate
  backend/clubs/management/commands/populate_application_tracker.py
Due: ruff-format, ruff-lint-fix

Fix seeded images being saved as zero-byte files
  backend/clubs/management/commands/populate.py
Due: ruff-format, ruff-lint-fix

Add the missing list key in the submissions modal
  frontend/components/Submissions.tsx
Due: frontend

Let a link preselect the committee on the application page
  frontend/pages/club/[club]/application/[application]/index.tsx
Due: frontend

Add the My Applications tab, in two forms to choose between
  frontend/components/Settings/ApplicationsTab/ApplicationCard.tsx
  frontend/components/Settings/ApplicationsTab/ResponsesModal.tsx
  frontend/components/Settings/ApplicationsTab/index.tsx
  frontend/components/Settings/ApplicationsTab/shared.ts
  frontend/components/Settings/ApplicationsTable/index.tsx
  frontend/pages/settings.tsx
  frontend/types.ts
Due: frontend

Return an application's committees, and round out the tracker fixture
  backend/clubs/management/commands/populate_application_tracker.py
  backend/clubs/serializers.py
  backend/clubs/views.py
Due: ruff-format, ruff-lint-fix

Fix cloned committee questions losing their committee links w/ Claude Opus 5
  backend/clubs/models.py
  backend/clubs/views.py
  backend/tests/clubs/test_views.py
Due: ruff-format, ruff-lint-fix

Add one-off command to notify clubs about the committee questions bug with --dry-run and --test-email. Claude Opus 5
  backend/clubs/management/commands/notify_committee_question_clone_bug.py
  backend/templates/emails/committee_question_clone_bug.html
Due: ruff-format, ruff-lint-fix

fix matching behavior of question duplication of already cloned committees and add club names to command
  backend/clubs/management/commands/notify_committee_question_clone_bug.py
  backend/clubs/models.py
  backend/tests/clubs/test_views.py
Due: ruff-format, ruff-lint-fix

Fix cloned committee questions (#880)
  backend/clubs/management/commands/notify_committee_question_clone_bug.py
  backend/clubs/models.py
  backend/clubs/views.py
  backend/templates/emails/committee_question_clone_bug.html
  backend/tests/clubs/test_views.py
Due: ruff-format, ruff-lint-fix

Scope the committee question notice to actually affected applications
  backend/clubs/management/commands/notify_committee_question_clone_bug.py
  backend/templates/emails/committee_question_clone_bug.html
Due: ruff-format, ruff-lint-fix

Scope prefilled application responses to the right committee
  backend/clubs/views.py
  backend/tests/clubs/test_views.py
  frontend/pages/club/[club]/application/[application]/index.tsx
Due: ruff-format, ruff-lint-fix, frontend

Move the application tracker to /apply and restore the settings tabs
  frontend/pages/apply/[[...slug]].tsx
  frontend/pages/settings.tsx
Due: frontend

Keep the table tracker, drop the card variant
  frontend/components/Settings/ApplicationsTab/ApplicationCard.tsx
  frontend/components/Settings/ApplicationsTab/index.tsx
  frontend/components/Settings/ApplicationsTable/ResponsesModal.tsx
  frontend/components/Settings/ApplicationsTable/index.tsx
  frontend/components/Settings/ApplicationsTable/shared.ts
Due: frontend

Flag the new application dashboard in the navbar
  frontend/components/Header/Links.tsx
  frontend/components/common/BetaTag.tsx
  frontend/pages/apply/[[...slug]].tsx
Due: frontend

Name the tracker and tighten the table
  frontend/components/Settings/ApplicationsTable/index.tsx
  frontend/pages/apply/[[...slug]].tsx
Due: frontend

Point people at the tracker from the clubs page
  backend/clubs/views.py
  frontend/components/ClubPage/ListTrackerDialog.tsx
  frontend/pages/clubs.tsx
Due: ruff-format, ruff-lint-fix, frontend

Stop the tracker surfacing applications from archived clubs
  backend/clubs/views.py
  backend/tests/clubs/test_views.py
Due: ruff-format, ruff-lint-fix

Stop a committee switch from submitting the previous committee's answers
  frontend/pages/club/[club]/application/[application]/index.tsx
Due: frontend

Fix the response modal's edit link, delete, and modal width
  frontend/components/Settings/ApplicationsTable/ResponsesModal.tsx
  frontend/components/Settings/ApplicationsTable/index.tsx
Due: frontend

Validate question_response instead of trusting the payload
  backend/clubs/views.py
  backend/tests/clubs/test_views.py
Due: ruff-format, ruff-lint-fix

Give the application page real feedback on failure instead of a dead end
  frontend/pages/club/[club]/application/[application]/index.tsx
Due: frontend

Let a failed response load retry instead of only "reopen this modal"
  frontend/components/Settings/ApplicationsTable/ResponsesModal.tsx
Due: frontend

Remove populate application tracker admin script
  backend/clubs/management/commands/populate_application_tracker.py
Due: ruff-format, ruff-lint-fix

remove references to wharton only open application view
  frontend/pages/apply/[[...slug]].tsx
  frontend/pages/settings.tsx
  frontend/tsconfig.tsbuildinfo
Due: frontend

Application tracker (#871)
  backend/clubs/management/commands/populate.py
  backend/clubs/serializers.py
  backend/clubs/urls.py
  backend/clubs/views.py
  backend/tests/clubs/test_views.py
  frontend/components/ClubPage/ListTrackerDialog.tsx
  frontend/components/Header/Links.tsx
  frontend/components/Settings/ApplicationsTable/ResponsesModal.tsx
  frontend/components/Settings/ApplicationsTable/index.tsx
  frontend/components/Settings/ApplicationsTable/shared.ts
  frontend/components/Submissions.tsx
  frontend/components/common/BetaTag.tsx
  frontend/pages/apply/[[...slug]].tsx
  frontend/pages/club/[club]/application/[application]/index.tsx
  frontend/pages/clubs.tsx
  frontend/pages/settings.tsx
  frontend/tsconfig.tsbuildinfo
  frontend/types.ts
Due: ruff-format, ruff-lint-fix, frontend

Keep the status banner and navbar pinned together on scroll
  frontend/components/BaseLayout.tsx
  frontend/components/Header/index.tsx
  frontend/components/SearchBar.tsx
  frontend/components/common/Container.tsx
  frontend/constants/measurements.ts
  frontend/hooks/useStatusBannerHeight.ts
  frontend/renderPage.tsx
Due: frontend

Add subscription groups: forms, attribution, magic links, exports (#867)
  backend/clubs/admin.py
  backend/clubs/management/commands/populate.py
  backend/clubs/migrations/0144_subscription_group_models.py
  backend/clubs/migrations/0145_subscription_group_enhancements.py
  backend/clubs/migrations/0146_cleanup_auto_subscription_groups.py
  backend/clubs/models.py
  backend/clubs/permissions.py
  backend/clubs/serializers.py
  backend/clubs/urls.py
  backend/clubs/views.py
  backend/clubs/workflows.py
  backend/tests/clubs/test_subscription.py
  backend/tests/clubs/test_subscription_models.py
  frontend/components/ClubDetails.tsx
  frontend/components/ClubEditPage.tsx
  frontend/components/ClubEditPage/ApplicationsPage.tsx
  frontend/components/ClubEditPage/FormManagementStyles.ts
  frontend/components/ClubEditPage/QRCodeCard.tsx
  frontend/components/ClubEditPage/SubscriptionsPage.tsx
  frontend/components/ClubPage/Actions.tsx
  frontend/components/common/SubscribeIcon.tsx
  frontend/pages/club/[club]/subscribe/[groupId].tsx
  frontend/pages/subscribe/link/[token].tsx
  frontend/types.ts
Due: ruff-format, ruff-lint-fix, frontend

Backfill majors missing from the Penn catalog
  backend/clubs/migrations/0144_add_missing_majors.py
  backend/tests/clubs/test_majors.py
Due: ruff-format, ruff-lint-fix

Add page auth gate and edit commitee display to use ellipsis and not display not-submitted committees
  frontend/components/Settings/ApplicationsTable/index.tsx
  frontend/pages/apply/[[...slug]].tsx
Due: frontend

chore(backend): address Dependabot alerts
  backend/clubs/management/commands/rank.py
  backend/clubs/utils.py
  backend/pyproject.toml
  backend/uv.lock
Due: ruff-format, ruff-lint-fix

chore(frontend): address Dependabot alerts
  frontend/bun.lock
  frontend/package.json
Due: frontend
