Repository pennlabs/penn-clubs: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, flake8, frontend

.pre-commit-config.yaml:

---
repos:
  - repo: local
    hooks:
      - id: black
        name: black
        entry: bash -c "export PIPENV_IGNORE_VIRTUALENVS=1 && cd backend && pipenv run black ."
        language: python
        types: [python]
        require_serial: true
        files: ^backend/
        pass_filenames: false
      - id: isort
        name: isort
        entry: isort
        language: python
        types: [python]
        require_serial: true
        files: ^backend/
      - id: flake8
        name: flake8
        entry: flake8
        language: python
        types: [python]
        require_serial: true
        files: ^backend/
        args: [--config, backend/setup.cfg]
      - id: frontend
        name: Yarn Linter
        entry: bash -c "cd frontend && yarn lint"
        language: system
        files: ^frontend/
        require_serial: false
        pass_filenames: false

Added support for free tickets
  backend/clubs/views.py
Due: black, isort, flake8

fix lint error
  backend/clubs/views.py
Due: black, isort, flake8

Enforce non-negative ticket prices at creation
  backend/clubs/views.py
Due: black, isort, flake8

Add frontend checks for fractional/negative ticket count and cost.
  frontend/components/ClubEditPage/TicketsModal.tsx
Due: frontend

Prevent users from entering negative/fractional ticket counts/price for now.
  frontend/components/ClubEditPage/TicketsModal.tsx
Due: frontend

Ticketing price integration (#659)
  backend/clubs/views.py
  frontend/components/ClubEditPage/TicketsModal.tsx
Due: black, isort, flake8, frontend

Add group discount fields to ticket model
  backend/clubs/migrations/0103_ticket_group_discount_ticket_group_size.py
  backend/clubs/models.py
Due: black, isort, flake8

Ingest group discount info at ticket creation
  backend/clubs/views.py
Due: black, isort, flake8

feat(events): new events page
  frontend/components/BaseLayout.tsx
  frontend/components/EventPage/EventCard.tsx
  frontend/components/Header/Links.tsx
  frontend/components/Header/index.tsx
  frontend/package.json
  frontend/pages/_events.tsx
  frontend/pages/events/[id].tsx
  frontend/pages/events/index.tsx
  frontend/pages/tickets/[[...slug]].tsx
  frontend/public/static/img/icons/ticket.svg
  frontend/renderPage.tsx
  frontend/types.ts
  frontend/utils.tsx
  frontend/utils/getBaseProps.ts
  frontend/yarn.lock
Due: frontend

todo remove
  frontend/pages/_events.tsx
Due: frontend

Payment integration 1st step.
  frontend/components/TicketsPage/CartTickets.tsx
  frontend/components/TicketsPage/PaymentForm.tsx
Due: frontend

Add validator for group size
  backend/clubs/models.py
Due: black, isort, flake8

Add comments
  backend/clubs/views.py
Due: black, isort, flake8

:tada: Functional but suspicious code
  backend/clubs/models.py
  frontend/components/ClubEditPage/ApplicationsPage.tsx
  frontend/components/ClubEditPage/QRCodeCard.tsx
  frontend/components/ClubEditPage/TicketsModal.tsx
  frontend/components/FormComponents.tsx
  frontend/components/Settings/BulkEditTab.tsx
  frontend/components/Settings/TicketsTab.tsx
  frontend/components/Settings/WhartonApplicationTab.tsx
  frontend/package.json
  frontend/public/static/img/icons/qr-code.svg
  frontend/public/static/img/icons/swap-horiz.svg
  frontend/renderPage.tsx
  frontend/utils.tsx
  frontend/yarn.lock
Due: black, isort, flake8, frontend

Apply discounts when checking out
  backend/clubs/views.py
Due: black, isort, flake8

Remove model-level validators
  backend/clubs/models.py
Due: black, isort, flake8

Remove validators from migration
  backend/clubs/migrations/0103_ticket_group_discount_ticket_group_size.py
Due: black, isort, flake8

Improve comments
  backend/clubs/views.py
Due: black, isort, flake8

Minor refactor
  backend/clubs/views.py
Due: black, isort, flake8

address comments, add ticket creation serializer
  backend/clubs/migrations/0102_remove_ticket_transaction_record_and_more.py
  backend/clubs/models.py
  backend/clubs/serializers.py
  backend/clubs/views.py
  backend/templates/emails/ticket_transfer.html
Due: black, isort, flake8

fix migration
  backend/clubs/migrations/0103_remove_ticket_transaction_record_and_more.py
Due: black, isort, flake8

remove print statement :pensive:
  backend/clubs/serializers.py
Due: black, isort, flake8

grrr
  backend/clubs/views.py
Due: black, isort, flake8

Default group_discount to 0
  backend/clubs/migrations/0103_ticket_group_discount_ticket_group_size.py
  backend/clubs/models.py
Due: black, isort, flake8

Remove check for discount in cart calculation
  backend/clubs/views.py
Due: black, isort, flake8

Consolidate validation checks upon ticket creation
  backend/clubs/views.py
Due: black, isort, flake8

Fix typo in validation upon ticket creation
  backend/clubs/views.py
Due: black, isort, flake8

:broom: Fix some good practice
  frontend/components/ClubEditPage.tsx
  frontend/components/ClubEditPage/QRCodeCard.tsx
  frontend/components/Settings/TicketsTab/index.tsx
Due: frontend

Add support for group discounts (#661)
  backend/clubs/migrations/0103_ticket_group_discount_ticket_group_size.py
  backend/clubs/models.py
  backend/clubs/views.py
Due: black, isort, flake8

Owned Tickets Tab in Settings (#663)
  backend/clubs/models.py
  frontend/components/ClubEditPage.tsx
  frontend/components/ClubEditPage/ApplicationsPage.tsx
  frontend/components/ClubEditPage/QRCodeCard.tsx
  frontend/components/FormComponents.tsx
  frontend/components/SearchBar.tsx
  frontend/components/Settings/BulkEditTab.tsx
  frontend/components/Settings/TicketsTab.tsx
  frontend/components/Settings/TicketsTab/index.tsx
  frontend/components/Settings/WhartonApplicationTab.tsx
  frontend/package.json
  frontend/public/static/img/icons/qr-code.svg
  frontend/public/static/img/icons/swap-horiz.svg
  frontend/yarn.lock
Due: black, isort, flake8, frontend

fix expires_at test test
  backend/tests/clubs/test_views.py
Due: black, isort, flake8

fix(move)
  frontend/components/TicketsPage/CartTickets.tsx
  frontend/components/TicketsPage/PaymentForm.tsx
  frontend/constants/routes.ts
  frontend/pages/events/checkout.tsx
  frontend/pages/tickets/checkout.tsx
  frontend/types.ts
Due: frontend

Add to cart feature (styling is borked)
  frontend/pages/events/[id].tsx
  frontend/pages/tickets/[[...slug]].tsx
  frontend/types.ts
Due: frontend

fix(TicketCard): extract and abstract
  frontend/components/Settings/TicketsTab/index.tsx
  frontend/components/Tickets/CartTickets.tsx
  frontend/components/Tickets/PaymentForm.tsx
  frontend/components/Tickets/TicketCard.tsx
  frontend/components/TicketsPage/CartTickets.tsx
  frontend/package.json
  frontend/pages/_document.tsx
  frontend/pages/events/checkout.tsx
  frontend/tsconfig.json
  frontend/yarn.lock
Due: frontend

fix expires_at test test (#664)
  backend/tests/clubs/test_views.py
Due: black, isort, flake8

checkout flow ui
  frontend/components/Tickets/CartTickets.tsx
  frontend/components/Tickets/TicketCard.tsx
  frontend/types.ts
Due: frontend

:bug: Broken code
  frontend/components/ClubEditPage/EventsCard.tsx
  frontend/components/ClubEditPage/TicketsModal.tsx
Due: frontend

Fix ticket interface for sellers.
  frontend/components/ClubEditPage/TicketsViewCard.tsx
  frontend/pages/tickets/[[...slug]].tsx
Due: frontend

🐛 fixed
  frontend/components/ClubEditPage/EventsCard.tsx
  frontend/components/ClubEditPage/TicketsModal.tsx
Due: frontend

wip(payment)
  frontend/components/Tickets/PaymentForm.tsx
Due: frontend
