Repository pennlabs/penn-clubs: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, flake8, frontend

.pre-commit-config.yaml:

---
repos:
  - repo: local
    hooks:
      - id: black
        name: black
        entry: bash -c "export PIPENV_IGNORE_VIRTUALENVS=1 && cd backend && pipenv run black ."
        language: python
        types: [python]
        require_serial: true
        files: ^backend/
        pass_filenames: false
      - id: isort
        name: isort
        entry: isort
        language: python
        types: [python]
        require_serial: true
        files: ^backend/
      - id: flake8
        name: flake8
        entry: flake8
        language: python
        types: [python]
        require_serial: true
        files: ^backend/
        args: [--config, backend/setup.cfg]
      - id: frontend
        name: Yarn Linter
        entry: bash -c "cd frontend && yarn lint"
        language: system
        files: ^frontend/
        require_serial: false
        pass_filenames: false

add back cronjob for updating favorite/membership counts
  k8s/main.ts
Due: none

fixed npm yarn
  frontend/components/ClubPage/EventCarousel.tsx
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Penn Club Rank feature (April Fools!)
  backend/.vscode/settings.json
  backend/Pipfile
  backend/Pipfile.lock
  backend/clubs/migrations/0097_club_elo_historicalclub_elo_profile_time_since_vote.py
  backend/clubs/models.py
  backend/clubs/serializers.py
  backend/clubs/urls.py
  backend/clubs/views.py
  frontend/components/ClubCard.tsx
  frontend/components/ClubDetails.tsx
  frontend/components/ClubDisplay.tsx
  frontend/components/ClubRank/RankDropdown.tsx
  frontend/components/ClubTableRow.tsx
  frontend/components/Header/Links.tsx
  frontend/components/PaginatedClubDisplay.tsx
  frontend/components/SearchBar.tsx
  frontend/pages/clubrank.tsx
  frontend/pages/index.tsx
  frontend/renderPage.tsx
  frontend/types.ts
Due: black, isort, flake8, frontend

Fix lint issues from Ruff 0.2 to 0.3 change
  backend/clubs/serializers.py
  backend/manage.py
Due: black, isort, flake8

Make Elo not a mandatory field in the normal club serializer.
  backend/clubs/serializers.py
Due: black, isort, flake8

Fix docstrings for clubrank.
  backend/clubs/views.py
  backend/tests/clubs/test_documentation.py
Due: black, isort, flake8

remvoed packagelock.json
  frontend/components/ClubPage/EventCarousel.tsx
  frontend/components/ClubPage/Events.tsx
  frontend/package-lock.json
Due: frontend

Display username if name is empty
  frontend/pages/settings.tsx
Due: frontend

Display username if name is empty (#637)
  frontend/pages/settings.tsx
Due: frontend

finished changes
  frontend/pages/admin/[[...slug]].tsx
  frontend/pages/settings.tsx
Due: frontend

Add expires_at field to MembershipInvite
  backend/clubs/models.py
  backend/clubs/views.py
Due: black, isort, flake8

Add cronjob to harvest stale invites
  backend/clubs/management/commands/expire_membership_invites.py
  k8s/main.ts
Due: black, isort, flake8

Linting
  backend/clubs/management/commands/expire_membership_invites.py
Due: black, isort, flake8

Allow expires_at to be blank in forms
  backend/clubs/models.py
Due: black, isort, flake8

Add Django migration
  backend/clubs/migrations/0096_membershipinvite_expires_at.py
Due: black, isort, flake8

Perform time calculations only once
  backend/clubs/management/commands/expire_membership_invites.py
  backend/clubs/views.py
Due: black, isort, flake8

Bump debounce timeout to 400ms
  frontend/components/SearchBar.tsx
Due: frontend

Make linter happy
  frontend/components/SearchBar.tsx
Due: frontend

Bump debounce timeout to 400ms (#640)
  frontend/components/SearchBar.tsx
Due: frontend

Refactor file upload helper to guard clause pattern
  backend/clubs/views.py
Due: black, isort, flake8

Use guard clause pattern in ClubFairViewSet.current()
  backend/clubs/views.py
Due: black, isort, flake8

Update Links to new Next.js behavior
  frontend/components/Settings/TicketsTab.tsx
Due: frontend

Remove Wharton applications from user profile
  frontend/pages/settings.tsx
Due: frontend

Set (and enforce) TTL on programmatically generated membership invites (#639)
  backend/clubs/management/commands/expire_membership_invites.py
  backend/clubs/migrations/0096_membershipinvite_expires_at.py
  backend/clubs/models.py
  backend/clubs/views.py
  k8s/main.ts
Due: black, isort, flake8

Fix weird artifacts from merge
  frontend/pages/settings.tsx
Due: frontend

Add check on event deletion
  backend/clubs/views.py
Due: black, isort, flake8

:art: Fix REDIS_URL
  .gitignore
  backend/README.md
  backend/fly.toml
  backend/pennclubs/settings/production.py
  backend/redis/fly.toml
  frontend/.dockerignore
  frontend/fly.toml
  nginx/Dockerfile
  nginx/fly.toml
  nginx/nginx.conf
Due: black, isort, flake8, frontend

Removed send invites check
  backend/clubs/views.py
Due: black, isort, flake8

Removed send invites check
  frontend/components/ClubEditPage/ApplicationsPage.tsx
Due: frontend

Add deletion template email
  backend/templates/emails/club_deletion.html
Due: none

Send emails upon deletion
  backend/clubs/views.py
Due: black, isort, flake8

Remove unused datetime
  backend/clubs/views.py
Due: black, isort, flake8

fixing issues
  frontend/components/ClubPage/EventCarousel.tsx
  frontend/package.json
  frontend/pages/club/[club]/index.tsx
  frontend/yarn.lock
  yarn.lock
Due: frontend

Hide header link for now
  frontend/components/Header/Links.tsx
Due: frontend

Make elo score more pretty.
  frontend/components/ClubDetails.tsx
Due: frontend

no arm devcontainer
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
Due: none

Add utility to reset ELO scores.
  backend/clubs/management/commands/reset_club_elos.py
Due: black, isort, flake8
