Repository pennlabs/penn-clubs: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, flake8, frontend

black:
  name: black
  entry: bash -c "export PIPENV_IGNORE_VIRTUALENVS=1 && cd backend && pipenv run black ."
  language: python
  require_serial: true
  pass_filenames: false

isort:
  name: isort
  entry: isort
  language: python
  require_serial: true

flake8:
  name: flake8
  entry: flake8
  language: python
  require_serial: true
  args:
  - --config
  - backend/setup.cfg

frontend:
  name: Yarn Linter
  entry: bash -c "cd frontend && yarn lint"
  language: system
  require_serial: false
  pass_filenames: false

Add test cases for backend ticketing APIs
  backend/clubs/views.py
  backend/tests/clubs/test_ticketing.py
Due: black, isort, flake8

Don't use locked rows to groupby
  backend/clubs/views.py
Due: black, isort, flake8

Set cybersource settings in CI
  backend/pennclubs/settings/ci.py
Due: black, isort, flake8

fix lint error
  backend/clubs/views.py
Due: black, isort, flake8

Clarify type for buyersPerm.
  frontend/pages/tickets/[[...slug]].tsx
Due: frontend

Address feedback
  backend/clubs/views.py
Due: black, isort, flake8

Ticketing backend tests (#666)
  backend/clubs/views.py
  backend/pennclubs/settings/ci.py
  backend/tests/clubs/test_ticketing.py
Due: black, isort, flake8

Rm console.log on frontend
  frontend/pages/tickets/[[...slug]].tsx
Due: frontend

Move guards on event deletion to the right place
  backend/clubs/views.py
Due: black, isort, flake8

Add @update_holds to destroy
  backend/clubs/views.py
Due: black, isort, flake8

Fix typo in testing docs
  backend/tests/clubs/test_ticketing.py
Due: black, isort, flake8

Test guards on event deletion
  backend/tests/clubs/test_ticketing.py
Due: black, isort, flake8

Filter Events by active ones (starts after now)
  backend/clubs/views.py
Due: black, isort, flake8

Improve test case logic
  backend/tests/clubs/test_ticketing.py
Due: black, isort, flake8

:art: Readd event preview
  frontend/components/ClubEditPage/EventsCard.tsx
  frontend/components/ClubEditPage/TicketsModal.tsx
Due: frontend

:broom: Less jank way of doing group discount visibility
  frontend/components/ClubEditPage/TicketsModal.tsx
Due: frontend

:tada: Add ability to remove tickets from cart
  frontend/components/Tickets/CartTickets.tsx
  frontend/utils/branding.tsx
Due: frontend

:art: Address comments and actually type things
  frontend/components/ClubEditPage/TicketsModal.tsx
  frontend/pages/events/[id].tsx
Due: frontend

:bug: Better backend error and remove cart logic
  backend/clubs/views.py
  frontend/components/Tickets/CartTickets.tsx
  frontend/pages/events/checkout.tsx
Due: black, isort, flake8, frontend

Use capture context to verify transient token
  backend/clubs/models.py
  backend/clubs/views.py
Due: black, isort, flake8

Add migration
  backend/clubs/migrations/0104_cart_checkout_context.py
Due: black, isort, flake8

Minor changes to documentation
  backend/clubs/views.py
Due: black, isort, flake8

Add tests
  backend/tests/clubs/test_ticketing.py
Due: black, isort, flake8

:tada: Modify sold_out to return event type and count
  backend/clubs/views.py
Due: black, isort, flake8

:tada: Add cart empty view and edit mode
  frontend/components/Tickets/CartTickets.tsx
  frontend/components/Tickets/TicketCard.tsx
Due: frontend

:art: Add empty view
  frontend/components/Tickets/CartTickets.tsx
Due: frontend

Add ticket drop time to event attributes
  backend/clubs/migrations/0104_event_ticket_drop_time.py
  backend/clubs/models.py
Due: black, isort, flake8

Set ticket drop time at tickets creation
  backend/clubs/views.py
Due: black, isort, flake8

Add unit tests
  backend/Pipfile
  backend/Pipfile.lock
  backend/tests/clubs/test_ticketing.py
Due: black, isort, flake8

:art: Address nit
  frontend/components/ClubEditPage/EventsCard.tsx
  frontend/pages/events/[id].tsx
  frontend/utils/branding.tsx
Due: frontend

Add Group Discount to Create Ticket Flow and Auto Scroll Down (#669)
  frontend/components/ClubEditPage/EventsCard.tsx
  frontend/components/ClubEditPage/TicketsModal.tsx
  frontend/pages/events/[id].tsx
  frontend/types.ts
  frontend/utils/branding.tsx
Due: frontend

:art: Grafik design is my passion
  frontend/components/Tickets/CartTickets.tsx
  frontend/public/static/img/empty_cart_two.svg
Due: frontend

:tada: Modify edit success and display toast, correct e2e behavior
  backend/clubs/views.py
  frontend/components/Tickets/CartTickets.tsx
  frontend/components/Tickets/TicketCard.tsx
  frontend/pages/events/[id].tsx
Due: black, isort, flake8, frontend

:bug: Change color to make edit mode more obvious
  frontend/components/Tickets/TicketCard.tsx
Due: frontend

:tada: Toast for sold out tickets
  backend/clubs/views.py
  frontend/components/Tickets/CartTickets.tsx
  frontend/pages/events/checkout.tsx
Due: black, isort, flake8, frontend

Add comment explaining max char length
  backend/clubs/models.py
Due: black, isort, flake8

Use capture context in cart checkout (#671)
  backend/clubs/migrations/0104_cart_checkout_context.py
  backend/clubs/models.py
  backend/clubs/views.py
  backend/tests/clubs/test_ticketing.py
Due: black, isort, flake8

Minor refactor to tests
  backend/tests/clubs/test_ticketing.py
Due: black, isort, flake8

Cast exception to str in management command
  backend/clubs/management/commands/expire_membership_invites.py
Due: black, isort, flake8

Refactor cart summation to helper fn
  backend/clubs/views.py
Due: black, isort, flake8

Path conditions:
  black: any of: ^backend/ and \.py$
  isort: any of: ^backend/ and \.py$
  flake8: any of: ^backend/ and \.py$
  frontend: any of: ^frontend/
