Repository pennlabs/penn-clubs: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-lint-fix, frontend

.pre-commit-config.yaml:

---
repos:
  - repo: local
    hooks:
      - id: ruff-format
        name: Ruff Formatter
        entry: bash -c "export PIPENV_IGNORE_VIRTUALENVS=1 && cd backend && pipenv run ruff format ."
        language: python
        types: [python]
        require_serial: true
        files: ^backend/
        pass_filenames: false
      - id: ruff-lint-fix
        name: Ruff Lint (Apply Fixes)
        entry: ruff check . --fix
        language: python
        types: [python]
        require_serial: true
        files: ^backend/
      - id: frontend
        name: Frontend Linter
        entry: bash -c "cd frontend && bun run lint"
        language: system
        files: ^frontend/
        require_serial: false
        pass_filenames: false

Add boolean constant for rendering of ownership request frontend
  frontend/components/Settings/QueueTab.tsx
  frontend/utils/branding.tsx
Due: frontend

Patch member visibility in ClubViewSet
  backend/clubs/urls.py
  backend/clubs/views.py
  backend/pennclubs/settings/base.py
  backend/tests/clubs/test_views.py
Due: ruff-format, ruff-lint-fix

Apply suggestion from @Copilot
  backend/clubs/migrations/0132_alter_ownershiprequest_unique_together_and_more.py
Due: ruff-format, ruff-lint-fix

Remove unnecessary Copilot comment
  backend/clubs/migrations/0132_alter_ownershiprequest_unique_together_and_more.py
Due: ruff-format, ruff-lint-fix

Integrate Analytics into Penn Clubs
  backend/clubs/views.py
  backend/pennclubs/analytics.py
  backend/uv.lock
Due: ruff-format, ruff-lint-fix

fixed from comments
  frontend/components/ClubEditPage/AnalyticsCard.tsx
  frontend/components/Settings/WhartonApplicationStatus.tsx
Due: frontend

new changes
  frontend/components/ClubEditPage/AnalyticsCard.tsx
Due: frontend

adds?
  frontend/components/ClubEditPage/AnalyticsCard.tsx
Due: frontend

fix django-labs-accounts issue
  backend/clubs/views.py
  backend/uv.lock
Due: ruff-format, ruff-lint-fix

Add non-unique indices
  backend/clubs/models.py
Due: ruff-format, ruff-lint-fix

Be more conservative with adding indices
  backend/clubs/models.py
Due: ruff-format, ruff-lint-fix

Revise indices further
  backend/clubs/migrations/0132_alter_applicationsubmission_status_and_more.py
  backend/clubs/models.py
Due: ruff-format, ruff-lint-fix

tickCount
  frontend/components/ClubEditPage/AnalyticsCard.tsx
Due: frontend

clarification of code
  backend/clubs/models.py
Due: ruff-format, ruff-lint-fix

changed ticks
  frontend/components/ClubEditPage/AnalyticsCard.tsx
Due: frontend

New charting library (#840)
  frontend/bun.lock
  frontend/components/ClubEditPage/AnalyticsCard.tsx
  frontend/components/Settings/WhartonApplicationStatus.tsx
  frontend/package.json
Due: frontend

Ownership request status (#812)
  backend/clubs/admin.py
  backend/clubs/migrations/0132_alter_ownershiprequest_unique_together_and_more.py
  backend/clubs/models.py
  backend/clubs/serializers.py
  backend/clubs/views.py
  backend/templates/emails/ownership_request_accepted.html
  backend/templates/emails/ownership_request_denied.html
  backend/tests/clubs/test_models.py
  backend/tests/clubs/test_views.py
  frontend/components/Settings/QueueTab.tsx
  frontend/utils/branding.tsx
Due: ruff-format, ruff-lint-fix, frontend

added reapproval and new_approval date_of_next_flip fields in model
  backend/clubs/models.py
Due: ruff-format, ruff-lint-fix

registration_queue_settings migrations
  backend/clubs/migrations/0132_registrationqueuesettings_new_approval_date_of_next_flip_and_more.py
Due: ruff-format, ruff-lint-fix

migration for datetimefield
  backend/clubs/migrations/0132_registrationqueuesettings_new_approval_date_of_next_flip_and_more.py
Due: ruff-format, ruff-lint-fix

datetime field update
  backend/clubs/models.py
Due: ruff-format, ruff-lint-fix

started queue scheduler modal
  frontend/components/Settings/QueueTab.tsx
Due: frontend

Bump DLA to 1.0.5
  backend/uv.lock
Due: none

Filter by cycle for WC analytics page
  backend/clubs/management/commands/populate.py
  backend/clubs/serializers.py
  backend/clubs/views.py
  frontend/components/Settings/WhartonApplicationStatus.tsx
  frontend/types.ts
Due: ruff-format, ruff-lint-fix, frontend

Integrate Analytics into Penn Clubs (#844)
  backend/clubs/views.py
  backend/pennclubs/analytics.py
  backend/uv.lock
Due: ruff-format, ruff-lint-fix

Fix typos
  backend/clubs/models.py
Due: ruff-format, ruff-lint-fix

Fix bugs and tests
  backend/clubs/management/commands/sync.py
  backend/tests/clubs/test_commands.py
  backend/tests/clubs/test_views.py
Due: ruff-format, ruff-lint-fix

Fix tests again
  backend/clubs/management/commands/sync.py
  backend/tests/clubs/test_commands.py
Due: ruff-format, ruff-lint-fix

Approved club version viewing and badge consistency (#778)
  backend/clubs/management/commands/sync.py
  backend/clubs/models.py
  backend/clubs/serializers.py
  backend/clubs/views.py
  backend/tests/clubs/test_commands.py
  backend/tests/clubs/test_views.py
Due: ruff-format, ruff-lint-fix

Switch to client-side CSV export for club-level application submissions and use CSV format for Wharton Council application export, fixing lack of filtering and hopefully performance
  backend/clubs/management/commands/populate.py
  backend/clubs/views.py
  frontend/bun.lock
  frontend/components/ClubEditPage/ApplicationsPage.tsx
  frontend/components/Settings/WhartonApplicationStatus.tsx
  frontend/components/common/Table.tsx
  frontend/package.json
  frontend/types.ts
Due: ruff-format, ruff-lint-fix, frontend

Move existing home page to separate clubs page
  frontend/pages/clubs.tsx
Due: frontend

Add new home page
  frontend/components/ClubDetails.tsx
  frontend/components/Header/Links.tsx
  frontend/pages/index.tsx
Due: frontend

new button placement
  frontend/components/ClubPage/Actions.tsx
  frontend/pages/club/[club]/index.tsx
Due: frontend

Fix infinite loading on applications page for clubs without applications
  frontend/components/ClubEditPage/ApplicationsPage.tsx
Due: frontend

schedule approval queue changes frontend
  frontend/components/Settings/QueueTab.tsx
  frontend/components/common/Modal.tsx
  frontend/types.ts
Due: frontend

model + serializer updates
  backend/clubs/migrations/0132_registrationqueuesettings_new_approval_date_of_next_flip_and_more.py
  backend/clubs/models.py
  backend/clubs/serializers.py
Due: ruff-format, ruff-lint-fix

date patch validation
  backend/clubs/views.py
Due: ruff-format, ruff-lint-fix

prefetch membership when generating report with membership
  backend/clubs/views.py
Due: ruff-format, ruff-lint-fix

Fix infinite loading on applications page for clubs without applications (#848)
  frontend/components/ClubEditPage/ApplicationsPage.tsx
Due: frontend

Adding suggestion for newbie project
  frontend/pages/index.tsx
Due: frontend
