Repository pennlabs/penn-clubs: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-lint-fix, frontend

.pre-commit-config.yaml:

---
repos:
  - repo: local
    hooks:
      - id: ruff-format
        name: Ruff Formatter
        entry: bash -c "export PIPENV_IGNORE_VIRTUALENVS=1 && cd backend && pipenv run ruff format ."
        language: python
        types: [python]
        require_serial: true
        files: ^backend/
        pass_filenames: false
      - id: ruff-lint-fix
        name: Ruff Lint (Apply Fixes)
        entry: ruff check . --fix
        language: python
        types: [python]
        require_serial: true
        files: ^backend/
      - id: frontend
        name: Frontend Linter
        entry: bash -c "cd frontend && bun run lint"
        language: system
        files: ^frontend/
        require_serial: false
        pass_filenames: false

prefetch when query parameter 'fields' is not specified
  backend/clubs/views.py
Due: ruff-format, ruff-lint-fix

Fix date selecting bug with minTime and timeIntervals
  frontend/components/Settings/QueueTab.tsx
Due: frontend

updated status info
  frontend/components/Settings/QueueTab.tsx
Due: frontend

check scheduled flips on every request
  backend/clubs/models.py
  backend/clubs/views.py
Due: ruff-format, ruff-lint-fix

towards status-based approval system
  backend/clubs/management/commands/populate.py
  backend/clubs/permissions.py
  backend/clubs/serializers.py
  backend/clubs/views.py
  backend/tests/clubs/test_views.py
  frontend/components/ClubPage/ClubApprovalDialog.tsx
  frontend/components/ResourceCreationPage.tsx
  frontend/components/Settings/QueueTab.tsx
  frontend/constants/status.ts
  frontend/pages/club/[club]/renew.tsx
Due: ruff-format, ruff-lint-fix, frontend

Update backend/clubs/serializers.py
  backend/clubs/serializers.py
Due: ruff-format, ruff-lint-fix

linter
  backend/clubs/serializers.py
Due: ruff-format, ruff-lint-fix

linter
  backend/clubs/views.py
Due: ruff-format, ruff-lint-fix

changed toast messages
  frontend/components/Settings/QueueTab.tsx
Due: frontend

set interval to 1 hr
  frontend/components/Settings/QueueTab.tsx
Due: frontend

delete unnecessary code
  backend/clubs/models.py
Due: ruff-format, ruff-lint-fix

merge migration conflicts
  backend/clubs/migrations/0133_merge_20251114_1750.py
  backend/clubs/migrations/0134_alter_badge_org.py
Due: ruff-format, ruff-lint-fix

filter out inactive clubs for non-superusers and non-officers
  backend/clubs/views.py
  backend/tests/clubs/test_views.py
Due: ruff-format, ruff-lint-fix

No exemptions for officers
  backend/clubs/views.py
  backend/tests/clubs/test_views.py
Due: ruff-format, ruff-lint-fix

Filter out inactive clubs (#855)
  backend/clubs/views.py
  backend/tests/clubs/test_views.py
Due: ruff-format, ruff-lint-fix

add comment
  backend/clubs/views.py
Due: ruff-format, ruff-lint-fix

do not explicitly prefetch person
  backend/clubs/views.py
Due: ruff-format, ruff-lint-fix

view and model tests for registration queue settings scheduling
  backend/tests/clubs/test_models.py
  backend/tests/clubs/test_views.py
Due: ruff-format, ruff-lint-fix

fix tests to use setUp
  backend/tests/clubs/test_models.py
Due: ruff-format, ruff-lint-fix

Optimize report generation (#849)
  backend/clubs/views.py
Due: ruff-format, ruff-lint-fix

Newbie project new interface commit 3
  frontend/components/SearchBar.tsx
  frontend/pages/clubs.tsx
  frontend/pages/index.tsx
Due: frontend

Fix hover styling
  frontend/pages/index.tsx
Due: frontend

New interface for the main page (newbie project) (#846)
  frontend/components/ClubDetails.tsx
  frontend/components/Header/Links.tsx
  frontend/components/SearchBar.tsx
  frontend/pages/clubs.tsx
  frontend/pages/index.tsx
Due: frontend

Update redoc script source for backend documentation
  backend/templates/redoc.html
Due: none

Fix queue flash
  frontend/components/ClubEditPage/ClubEditCard.tsx
Due: frontend

Frontend version bumps including CVE-2025-66478 Next.js prevention
  frontend/bun.lock
  frontend/package.json
  frontend/pages/index.tsx
Due: frontend

Upgrade React for CVE-2025-55182
  frontend/bun.lock
  frontend/package.json
Due: frontend

Farming another commit (react-dom needs to be bumped as well)
  frontend/bun.lock
  frontend/package.json
Due: frontend

small fixes pre-migration
  backend/clubs/models.py
  backend/clubs/serializers.py
  backend/clubs/views.py
Due: ruff-format, ruff-lint-fix

Add page title and description for home and /clubs pages
  frontend/pages/clubs.tsx
  frontend/pages/index.tsx
Due: frontend

Readd graduate filter and fixes
  backend/clubs/management/commands/populate.py
  backend/clubs/views.py
  backend/tests/clubs/test_views.py
  frontend/components/FilterSearch.tsx
  frontend/components/OrderInput.tsx
  frontend/components/SearchBar.tsx
  frontend/components/common/Tags.tsx
  frontend/pages/clubs.tsx
  frontend/renderPage.tsx
Due: ruff-format, ruff-lint-fix, frontend

Add filter by graduate/undergraduate status of clubs + other fixes (#856)
  backend/clubs/management/commands/populate.py
  backend/clubs/views.py
  backend/tests/clubs/test_views.py
  frontend/components/FilterSearch.tsx
  frontend/components/OrderInput.tsx
  frontend/components/SearchBar.tsx
  frontend/components/common/Tags.tsx
  frontend/pages/clubs.tsx
  frontend/renderPage.tsx
Due: ruff-format, ruff-lint-fix, frontend

Allows admin to create clubs when queue is closed through UI, also bump React/Next versions again to patch followup vulns
  backend/clubs/serializers.py
  backend/clubs/views.py
  backend/tests/clubs/test_views.py
  frontend/bun.lock
  frontend/components/ClubEditPage.tsx
  frontend/components/ClubEditPage/ClubEditCard.tsx
  frontend/components/DisplayButtons.tsx
  frontend/package.json
  frontend/pages/clubs.tsx
Due: ruff-format, ruff-lint-fix, frontend

Fix: Do not auto-approve clubs when new approval queue is closed
  backend/clubs/serializers.py
  backend/tests/clubs/test_views.py
Due: ruff-format, ruff-lint-fix

Checkpoint before follow-up message
  backend/clubs/serializers.py
Due: ruff-format, ruff-lint-fix

Refactor club creation to allow admins to bypass approval queue
  backend/clubs/serializers.py
  backend/tests/clubs/test_views.py
  frontend/components/ClubEditPage/ClubEditCard.tsx
Due: ruff-format, ruff-lint-fix, frontend

UI fixes and add option for approved or rejected
  backend/clubs/serializers.py
  backend/tests/clubs/test_views.py
  frontend/components/ClubEditPage/ClubEditCard.tsx
Due: ruff-format, ruff-lint-fix, frontend

Admin override club approval (#857)
  backend/clubs/serializers.py
  backend/tests/clubs/test_views.py
  frontend/components/ClubEditPage/ClubEditCard.tsx
Due: ruff-format, ruff-lint-fix, frontend

Restore public view with some additional controls
  backend/clubs/management/commands/notify_public_visibility.py
  backend/clubs/migrations/0133_club_visible_to_public_and_more.py
  backend/clubs/migrations/0134_eventshowing_location_visible_to_public.py
  backend/clubs/models.py
  backend/clubs/serializers.py
  backend/clubs/urls.py
  backend/clubs/views.py
  backend/templates/emails/public_visibility.html
  backend/tests/clubs/test_commands.py
  backend/tests/clubs/test_views.py
  frontend/components/ClubEditPage/ClubEditCard.tsx
  frontend/components/ClubEditPage/EventsCard.tsx
  frontend/pages/club/[club]/edit/[[...slug]].tsx
  frontend/pages/club/[club]/index.tsx
  frontend/pages/directory.tsx
  frontend/pages/events/index.tsx
  frontend/renderPage.tsx
  frontend/types.ts
  frontend/utils/branding.tsx
Due: ruff-format, ruff-lint-fix, frontend

Add yaml docs to magic link endpoint and revert unnecessary change to testcase
  backend/clubs/views.py
  backend/tests/clubs/test_views.py
Due: ruff-format, ruff-lint-fix
