Repository pennlabs/penn-clubs: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, flake8, frontend

.pre-commit-config.yaml:

---
repos:
  - repo: local
    hooks:
      - id: black
        name: black
        entry: bash -c "export PIPENV_IGNORE_VIRTUALENVS=1 && cd backend && pipenv run black ."
        language: python
        types: [python]
        require_serial: true
        files: ^backend/
        pass_filenames: false
      - id: isort
        name: isort
        entry: isort
        language: python
        types: [python]
        require_serial: true
        files: ^backend/
      - id: flake8
        name: flake8
        entry: flake8
        language: python
        types: [python]
        require_serial: true
        files: ^backend/
        args: [--config, backend/setup.cfg]
      - id: frontend
        name: Yarn Linter
        entry: bash -c "cd frontend && yarn lint"
        language: system
        files: ^frontend/
        require_serial: false
        pass_filenames: false

Add command to basically disable/enable club rank.
  backend/clubs/management/commands/ban_all_from_clubrank.py
Due: black, isort, flake8

Fix nits.
  backend/clubs/management/commands/ban_all_from_clubrank.py
  frontend/components/ClubCard.tsx
  frontend/components/ClubDetails.tsx
  frontend/components/ClubDisplay.tsx
  frontend/components/ClubRank/RankDropdown.tsx
  frontend/pages/clubrank.tsx
Due: black, isort, flake8, frontend

fix: @julianweng why would you do this
  frontend/components/ClubDisplay.tsx
Due: frontend

Penn Club Rank feature (April Fools!) (#633)
  backend/.vscode/settings.json
  backend/Pipfile
  backend/Pipfile.lock
  backend/clubs/management/commands/ban_all_from_clubrank.py
  backend/clubs/management/commands/reset_club_elos.py
  backend/clubs/migrations/0097_club_elo_historicalclub_elo_profile_time_since_vote.py
  backend/clubs/models.py
  backend/clubs/serializers.py
  backend/clubs/urls.py
  backend/clubs/views.py
  backend/manage.py
  backend/tests/clubs/test_documentation.py
  frontend/components/ClubCard.tsx
  frontend/components/ClubDetails.tsx
  frontend/components/ClubDisplay.tsx
  frontend/components/ClubRank/RankDropdown.tsx
  frontend/components/ClubTableRow.tsx
  frontend/components/Header/Links.tsx
  frontend/components/PaginatedClubDisplay.tsx
  frontend/components/SearchBar.tsx
  frontend/pages/clubrank.tsx
  frontend/pages/index.tsx
  frontend/renderPage.tsx
  frontend/types.ts
Due: black, isort, flake8, frontend

Add meaningful filters to club rank.
  backend/clubs/views.py
Due: black, isort, flake8

Attempted fix for serializer error.
  backend/clubs/serializers.py
Due: black, isort, flake8

Correct returning of annotated fields in serializer.
  backend/clubs/serializers.py
Due: black, isort, flake8

Bump active members requirement for Club Rank.
  backend/clubs/views.py
  frontend/pages/clubrank.tsx
Due: black, isort, flake8, frontend

Notify club owners upon deletion (#643)
  backend/clubs/views.py
  backend/templates/emails/club_deletion.html
Due: black, isort, flake8

change height
  frontend/components/ClubDisplay.tsx
  frontend/components/ClubPage/EventCarousel.tsx
Due: frontend

Added send invites on acceptance tests
  backend/tests/clubs/test_views.py
Due: black, isort, flake8

Publicize Club Rank April Fool's joke.
  backend/clubs/views.py
  frontend/components/Header/Links.tsx
  frontend/pages/clubrank.tsx
  frontend/pages/index.tsx
Due: black, isort, flake8, frontend

Added expire membership cmd tests
  backend/tests/clubs/test_commands.py
Due: black, isort, flake8

Always calculate tiers before filtering specific clubs out (e.g. search)
  backend/clubs/views.py
Due: black, isort, flake8

Fix frontend typo in renewal flow
  frontend/pages/club/[club]/renew.tsx
Due: frontend

Add testing instructions to readme
  README.md
Due: none

Add testing instructions to readme (#644)
  README.md
Due: none

add cybersource package
  backend/Pipfile
  backend/Pipfile.lock
Due: none

minor changes
  frontend/components/ClubPage/Events.tsx
  frontend/pages/club/[club]/index.tsx
  yarn.lock
Due: frontend

small changes
  frontend/pages/admin/[[...slug]].tsx
  frontend/pages/settings.tsx
Due: frontend

deleted a comment
  frontend/pages/club/[club]/index.tsx
Due: frontend

Resolved nits raised by @aviupadhyayula
  backend/tests/clubs/test_commands.py
  backend/tests/clubs/test_views.py
Due: black, isort, flake8

Send club invites with acceptance emails (#624)
  backend/clubs/management/commands/expire_membership_invites.py
  backend/clubs/migrations/0096_membershipinvite_expires_at.py
  backend/clubs/models.py
  backend/clubs/views.py
  backend/tests/clubs/test_commands.py
  backend/tests/clubs/test_views.py
  k8s/main.ts
Due: black, isort, flake8

added type
  frontend/pages/settings.tsx
Due: frontend

Fix migration
  backend/clubs/migrations/0098_membershipinvite_expires_at.py
Due: black, isort, flake8

merging?
  frontend/components/ClubPage/EventCarousel.tsx
  frontend/components/ClubPage/Events.tsx
Due: frontend

merging
  backend/clubs/migrations/0098_merge_20240405_1828.py
  frontend/package.json
  frontend/yarn.lock
Due: black, isort, flake8, frontend

delete one onClick
  frontend/package.json
  frontend/yarn.lock
Due: frontend

capture context view
  .gitignore
  README.md
  backend/clubs/migrations/0097_ticket_price.py
  backend/clubs/models.py
  backend/clubs/views.py
  backend/pennclubs/settings/base.py
  backend/pennclubs/settings/development.py
  backend/pennclubs/settings/production.py
  frontend/compose.yaml
  frontend/nginx.conf
Due: black, isort, flake8, frontend

fix populate
  backend/clubs/management/commands/populate.py
Due: black, isort, flake8

move capture context generation to checkout view
  backend/clubs/views.py
Due: black, isort, flake8

Optimize Django ops in cart validation
  backend/clubs/views.py
Due: black, isort, flake8

Use Q objects in cart validation
  backend/clubs/views.py
Due: black, isort, flake8

change breakpoint
  frontend/components/ClubPage/EventCarousel.tsx
Due: frontend

switch out nginx for local-ssl-proxy
  README.md
  frontend/compose.yaml
  frontend/nginx.conf
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Capture context generation + local dev setup instructions (#645)
  .gitignore
  README.md
  backend/clubs/management/commands/populate.py
  backend/clubs/migrations/0097_ticket_price.py
  backend/clubs/models.py
  backend/clubs/views.py
  backend/pennclubs/settings/base.py
  backend/pennclubs/settings/development.py
  backend/pennclubs/settings/production.py
  frontend/package.json
  frontend/yarn.lock
Due: black, isort, flake8, frontend

Revert "Penn Club Rank feature (April Fools!) (#633)"
  backend/Pipfile
  backend/Pipfile.lock
  backend/clubs/management/commands/ban_all_from_clubrank.py
  backend/clubs/management/commands/reset_club_elos.py
  backend/clubs/migrations/0099_remove_club_elo_remove_historicalclub_elo_and_more.py
  backend/clubs/models.py
  backend/clubs/serializers.py
  backend/clubs/urls.py
  backend/clubs/views.py
  backend/tests/clubs/test_documentation.py
  frontend/components/ClubCard.tsx
  frontend/components/ClubDetails.tsx
  frontend/components/ClubDisplay.tsx
  frontend/components/ClubRank/RankDropdown.tsx
  frontend/components/ClubTableRow.tsx
  frontend/components/Header/Links.tsx
  frontend/components/PaginatedClubDisplay.tsx
  frontend/components/SearchBar.tsx
  frontend/pages/clubrank.tsx
  frontend/pages/index.tsx
  frontend/renderPage.tsx
  frontend/types.ts
Due: black, isort, flake8, frontend

Use most recent pipfile.lock without elo library.
  backend/Pipfile.lock
Due: none

Add dependency for OpenAPI tests given backend version bumps.
  backend/Pipfile
  backend/Pipfile.lock
Due: none

fix target origin url
  backend/pennclubs/settings/development.py
Due: black, isort, flake8
