Repository pennlabs/penn-clubs: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, flake8, frontend

.pre-commit-config.yaml:

---
repos:
  - repo: local
    hooks:
      - id: black
        name: black
        entry: bash -c "export PIPENV_IGNORE_VIRTUALENVS=1 && cd backend && pipenv run black ."
        language: python
        types: [python]
        require_serial: true
        files: ^backend/
        pass_filenames: false
      - id: isort
        name: isort
        entry: isort
        language: python
        types: [python]
        require_serial: true
        files: ^backend/
      - id: flake8
        name: flake8
        entry: flake8
        language: python
        types: [python]
        require_serial: true
        files: ^backend/
        args: [--config, backend/setup.cfg]
      - id: frontend
        name: Yarn Linter
        entry: bash -c "cd frontend && yarn lint"
        language: system
        files: ^frontend/
        require_serial: false
        pass_filenames: false

missed merge conflict
  backend/clubs/views.py
Due: black, isort, flake8

migrations
  backend/clubs/migrations/0100_merge_20240412_2206.py
Due: black, isort, flake8

Owned tickets tab skeleton code.
  frontend/components/SearchBar.tsx
  frontend/components/Settings/TicketsTab.tsx
Due: frontend

Cart skeleton
  frontend/components/TicketsPage/CartTickets.tsx
  frontend/pages/tickets/checkout.tsx
Due: frontend

This commit resolves #632:
  backend/clubs/migrations/0098_auto_20240413_0122.py
  backend/clubs/models.py
  backend/clubs/views.py
Due: black, isort, flake8

Basic UI to payment.
  frontend/components/TicketsPage/CartTickets.tsx
Due: frontend

More appropriately-sized shopping cart icon
  frontend/public/static/img/icons/shopping-cart.svg
Due: frontend

Address PR comments, query opt, and others
  backend/clubs/models.py
  backend/clubs/views.py
Due: black, isort, flake8

Validate the transient token's signature
  backend/Pipfile
  backend/Pipfile.lock
  backend/clubs/admin.py
  backend/clubs/migrations/0098_tickettransactionrecord_ticket_transaction_record.py
  backend/clubs/models.py
  backend/clubs/serializers.py
  backend/clubs/views.py
  backend/pennclubs/settings/development.py
Due: black, isort, flake8

deleted file
  backend/clubs/migrations/0098_merge_20240405_1828.py
Due: black, isort, flake8

initial stuff
  frontend/components/PaginatedClubDisplay.tsx
  frontend/package.json
  frontend/pages/index.tsx
  frontend/postcss.config.js
  frontend/tailwind.config.js
  frontend/types.ts
  frontend/yarn.lock
Due: frontend

Make reconciliation_id nullable to support free tickets
  backend/clubs/migrations/0098_tickettransactionrecord_ticket_transaction_record.py
  backend/clubs/models.py
Due: black, isort, flake8

Address nit, refactor ticket count logic to SQL
  backend/clubs/views.py
Due: black, isort, flake8

Add check on event deletion
  backend/clubs/views.py
Due: black, isort, flake8

add cybersource package
  backend/Pipfile
  backend/Pipfile.lock
Due: none

Capture context generation + local dev setup instructions (#645)
  .gitignore
  README.md
  backend/clubs/management/commands/populate.py
  backend/clubs/migrations/0097_ticket_price.py
  backend/clubs/models.py
  backend/clubs/views.py
  backend/pennclubs/settings/base.py
  backend/pennclubs/settings/development.py
  backend/pennclubs/settings/production.py
  frontend/package.json
  frontend/yarn.lock
Due: black, isort, flake8, frontend

fix target origin url
  backend/pennclubs/settings/development.py
Due: black, isort, flake8

Closes #632 (#648)
  backend/Pipfile
  backend/Pipfile.lock
  backend/clubs/admin.py
  backend/clubs/migrations/0098_tickettransactionrecord_ticket_transaction_record.py
  backend/clubs/models.py
  backend/clubs/serializers.py
  backend/clubs/views.py
  backend/pennclubs/settings/development.py
Due: black, isort, flake8

merge migrations...
  backend/clubs/migrations/0101_merge_20240414_1708.py
Due: black, isort, flake8

pipenv lock again
  backend/Pipfile.lock
Due: none

Pin uwsgi...2.0.25 breaks CI
  backend/Pipfile
  backend/Pipfile.lock
Due: none

Ticketing integrate cybersource -> ticketing (#652)
  .gitignore
  README.md
  backend/Pipfile
  backend/Pipfile.lock
  backend/clubs/admin.py
  backend/clubs/management/commands/populate.py
  backend/clubs/migrations/0097_ticket_price.py
  backend/clubs/migrations/0098_tickettransactionrecord_ticket_transaction_record.py
  backend/clubs/migrations/0101_merge_20240414_1708.py
  backend/clubs/models.py
  backend/clubs/serializers.py
  backend/clubs/views.py
  backend/pennclubs/settings/base.py
  backend/pennclubs/settings/development.py
  backend/pennclubs/settings/production.py
  frontend/package.json
  frontend/yarn.lock
Due: black, isort, flake8, frontend

add ability to transfer tickets
  backend/clubs/migrations/0102_ticket_transferrable_tickettransfer.py
  backend/clubs/models.py
  backend/clubs/views.py
Due: black, isort, flake8

Set & enforce order limit on ticket purchases
  backend/clubs/models.py
  backend/clubs/views.py
Due: black, isort, flake8

Add migration
  backend/clubs/migrations/0102_event_ticket_order_limit.py
Due: black, isort, flake8

Default tix order limit to 10
  backend/clubs/migrations/0103_alter_event_ticket_order_limit.py
  backend/clubs/models.py
  backend/clubs/views.py
Due: black, isort, flake8

Consolidate migrations
  backend/clubs/migrations/0102_event_ticket_order_limit.py
  backend/clubs/migrations/0103_alter_event_ticket_order_limit.py
Due: black, isort, flake8

Check each carted event's order limit
  backend/clubs/views.py
Due: black, isort, flake8

Move limit validation to `add_to_cart`
  backend/clubs/views.py
Due: black, isort, flake8

Fix typo :pensive:
  backend/clubs/views.py
Due: black, isort, flake8

Address nits with validation logic
  backend/clubs/views.py
Due: black, isort, flake8

Minor refactor
  backend/clubs/views.py
Due: black, isort, flake8

Set and enforce order limit on ticket purchases (#654)
  backend/clubs/migrations/0102_event_ticket_order_limit.py
  backend/clubs/models.py
  backend/clubs/views.py
Due: black, isort, flake8

send confirmation emails on transfer
  backend/clubs/models.py
  backend/clubs/views.py
  backend/templates/emails/ticket_confirmation.html
  backend/templates/emails/ticket_transfer.html
Due: black, isort, flake8

nit
  backend/clubs/models.py
  backend/clubs/views.py
Due: black, isort, flake8

Check whether holds are active before completing checkout
  backend/clubs/views.py
Due: black, isort, flake8

Remove select_for_update
  backend/clubs/views.py
Due: black, isort, flake8

Add @update_holds decorator
  backend/clubs/views.py
Due: black, isort, flake8

Check ticket holds before completing checkout (#657)
  backend/clubs/views.py
Due: black, isort, flake8

Integrate ticket price field into ticket creation/list views, as well into ticket creation frontend.
  backend/clubs/views.py
  frontend/components/ClubEditPage/TicketsModal.tsx
Due: black, isort, flake8, frontend
