Repository pennlabs/penn-clubs: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, flake8, frontend

.pre-commit-config.yaml:

---
repos:
  - repo: local
    hooks:
      - id: black
        name: black
        entry: bash -c "export PIPENV_IGNORE_VIRTUALENVS=1 && cd backend && pipenv run black ."
        language: python
        types: [python]
        require_serial: true
        files: ^backend/
        pass_filenames: false
      - id: isort
        name: isort
        entry: isort
        language: python
        types: [python]
        require_serial: true
        files: ^backend/
      - id: flake8
        name: flake8
        entry: flake8
        language: python
        types: [python]
        require_serial: true
        files: ^backend/
        args: [--config, backend/setup.cfg]
      - id: frontend
        name: Yarn Linter
        entry: bash -c "cd frontend && yarn lint"
        language: system
        files: ^frontend/
        require_serial: false
        pass_filenames: false

description
  frontend/components/ClubEditPage/ApplicationsCard.tsx
Due: frontend

migrate ownershiprequests
  backend/clubs/migrations/0117_merge_20241015_1652.py
  backend/clubs/migrations/0118_ownershiprequest.py
Due: black, isort, flake8

edit descriptions of OwnershipRequestSerializer and OwnershipRequest
  backend/clubs/models.py
  backend/clubs/serializers.py
Due: black, isort, flake8

rename, update ownershiprequest model fields
  backend/clubs/admin.py
  backend/clubs/migrations/0119_rename_withdrew_ownershiprequest_withdrawn_and_more.py
  backend/clubs/models.py
  backend/clubs/serializers.py
  backend/clubs/views.py
Due: black, isort, flake8

edit ownership_request.html template
  backend/clubs/models.py
  backend/templates/emails/ownership_request.html
Due: black, isort, flake8

Fix club edit card, fix lint, extend Mission Statement branding changes
  frontend/components/ClubEditPage/ClubEditCard.tsx
  frontend/components/EmbedOption.tsx
  frontend/pages/club/[club]/renew.tsx
  frontend/pages/rank.tsx
  frontend/utils.tsx
Due: frontend

Rename club description to mission (#738)
  frontend/components/ClubCard.tsx
  frontend/components/ClubEditPage/ClubEditCard.tsx
  frontend/components/ClubPage/Description.tsx
  frontend/components/EmbedOption.tsx
  frontend/pages/club/[club]/renew.tsx
  frontend/pages/rank.tsx
  frontend/utils.tsx
Due: frontend

Combine club admin and superuser viewsets for ownership requests
  backend/clubs/admin.py
  backend/clubs/urls.py
  backend/clubs/views.py
Due: black, isort, flake8

Specify YAML documentation for old_requests in OwnershipRequestManagementViewSet
  backend/clubs/views.py
Due: black, isort, flake8

Fix permissions for OwnershipRequest management to not specify clubs.manage_club
  backend/clubs/permissions.py
Due: black, isort, flake8

Move ranking information from separate /rank page to ClubEditPage modal
  frontend/components/ClubEditPage/ClubEditCard.tsx
  frontend/pages/rank.tsx
Due: frontend

Address nits and tweak styling
  frontend/components/ClubEditPage/ClubEditCard.tsx
Due: frontend

Move ranking information from separate /rank page to ClubEditPage modal (#741)
  frontend/components/ClubEditPage/ClubEditCard.tsx
  frontend/pages/rank.tsx
Due: frontend

Create cron job to give superuser to env-defined users (temporary patch over broken platform-level team sync)
  backend/clubs/management/commands/osa_perms_updates.py
  backend/pennclubs/settings/development.py
  backend/pennclubs/settings/production.py
  backend/tests/clubs/test_commands.py
  k8s/main.ts
Due: black, isort, flake8

Create base setting for OSA_EMAILS
  backend/pennclubs/settings/base.py
Due: black, isort, flake8

fIx tYpO
  backend/pennclubs/settings/base.py
Due: black, isort, flake8

Fix Wharton Council cycle application extension functionality
  backend/clubs/views.py
  frontend/components/Settings/WhartonApplicationCycles.tsx
Due: black, isort, flake8, frontend

Add backend health route
  backend/clubs/urls.py
  backend/clubs/views.py
  backend/tests/clubs/test_views.py
Due: black, isort, flake8

remove openapi schema
  backend/clubs/views.py
Due: black, isort, flake8

JGoat
  backend/clubs/views.py
Due: black, isort, flake8

Change url basename for user ownership requests
  backend/clubs/urls.py
Due: black, isort, flake8

Use update_or_create logic for Ownership Requests
  backend/clubs/serializers.py
  backend/clubs/views.py
Due: black, isort, flake8

Write test for creating and viewing Ownership Requests
  backend/tests/clubs/test_views.py
Due: black, isort, flake8

Return 204 for Requester view for destroy ownershiprequest
  backend/clubs/views.py
Due: black, isort, flake8

Edit OwnershipRequestAdmin for admin dashboard
  backend/clubs/admin.py
Due: black, isort, flake8

Create test for withdraw feature of OwnershipRequests
  backend/tests/clubs/test_views.py
Due: black, isort, flake8

Create test for accept feature of OwnershipRequests
  backend/tests/clubs/test_views.py
Due: black, isort, flake8

Create test for destroy feature of OwnershipRequests
  backend/tests/clubs/test_views.py
Due: black, isort, flake8

Create cron job to re-give superuser to env-defined users (#742)
  backend/clubs/management/commands/osa_perms_updates.py
  backend/pennclubs/settings/base.py
  backend/pennclubs/settings/development.py
  backend/pennclubs/settings/production.py
  backend/tests/clubs/test_commands.py
  k8s/main.ts
Due: black, isort, flake8

Add email modal
  frontend/components/ClubEditPage/ClubEditCard.tsx
Due: frontend

cosmetic edits
  frontend/components/ClubEditPage/ClubEditCard.tsx
Due: frontend

remvoe errors
  frontend/components/ClubEditPage/ClubEditCard.tsx
Due: frontend

fix comment
  frontend/components/ClubEditPage/ClubEditCard.tsx
Due: frontend

fixed modal
  frontend/components/ClubEditPage/ClubEditCard.tsx
Due: frontend

final changes
  frontend/components/ClubEditPage/ClubEditCard.tsx
Due: frontend

fixed nits
  frontend/components/ClubEditPage/ClubEditCard.tsx
Due: frontend

fixed margin bottom
  frontend/components/ClubEditPage/ClubEditCard.tsx
Due: frontend

Add route for club approval history (in-progress)
  backend/clubs/views.py
  frontend/components/ClubPage/ClubApprovalDialog.tsx
Due: black, isort, flake8, frontend

Set ghost to false on club approval decision
  frontend/components/ClubPage/ClubApprovalDialog.tsx
Due: frontend

Modal for emails with upenn.edu on Club Creation (#744)
  frontend/components/ClubEditPage/ClubEditCard.tsx
Due: frontend
