Repository pennlabs/penn-clubs: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, flake8, frontend

.pre-commit-config.yaml:

---
repos:
  - repo: local
    hooks:
      - id: black
        name: black
        entry: bash -c "export PIPENV_IGNORE_VIRTUALENVS=1 && cd backend && pipenv run black ."
        language: python
        types: [python]
        require_serial: true
        files: ^backend/
        pass_filenames: false
      - id: isort
        name: isort
        entry: isort
        language: python
        types: [python]
        require_serial: true
        files: ^backend/
      - id: flake8
        name: flake8
        entry: flake8
        language: python
        types: [python]
        require_serial: true
        files: ^backend/
        args: [--config, backend/setup.cfg]
      - id: frontend
        name: Yarn Linter
        entry: bash -c "cd frontend && yarn lint"
        language: system
        files: ^frontend/
        require_serial: false
        pass_filenames: false

Disable frontend access to applications that have not opened yet
  frontend/pages/club/[club]/application/[application]/index.tsx
  frontend/pages/club/[club]/apply.tsx
Due: frontend

Bmup artifact actions
  .github/workflows/build-and-deploy.yaml
Due: none

Patch officers not being able to see club application preview
  frontend/pages/club/[club]/application/[application]/index.tsx
Due: frontend

Temporarily fix apply button logic
  frontend/components/ClubPage/Actions.tsx
Due: frontend

make apply button visible to unauthed users and enforce auth for applications
  frontend/components/ClubPage/Actions.tsx
  frontend/pages/club/[club]/application/[application]/index.tsx
  frontend/pages/club/[club]/index.tsx
Due: frontend

fixing nits
  frontend/components/Applications.tsx
  frontend/pages/settings.tsx
Due: frontend

make apply button visible to unauthed users and enforce auth for applications (#719)
  frontend/components/ClubPage/Actions.tsx
  frontend/pages/club/[club]/application/[application]/index.tsx
  frontend/pages/club/[club]/index.tsx
Due: frontend

centering
  frontend/components/ClubPage/EventCarousel.tsx
Due: frontend

CenteredSlideBounds:
  frontend/components/ClubPage/EventCarousel.tsx
Due: frontend

quick fixes
  frontend/components/ClubPage/EventCarousel.tsx
Due: frontend

Delete yarn.lock
  yarn.lock
Due: none

fix N+1 in club serializer
  backend/clubs/serializers.py
Due: black, isort, flake8

fixed Nits
  frontend/components/Applications.tsx
  frontend/pages/settings.tsx
Due: frontend

Owen/add events carousel (#717)
  frontend/components/ClubPage/EventCarousel.tsx
  frontend/components/ClubPage/Events.tsx
  frontend/package.json
  frontend/pages/club/[club]/index.tsx
  frontend/yarn.lock
Due: frontend

sample 5% of transactions
  backend/pennclubs/settings/production.py
Due: black, isort, flake8

Show newest application cycle first in edit club view
  frontend/components/ClubEditPage/ApplicationsPage.tsx
Due: frontend

Show newest application cycle first in edit club view (#721)
  frontend/components/ClubEditPage/ApplicationsPage.tsx
Due: frontend

Edit list to cache unserialized data and export to use list
  backend/clubs/views.py
Due: black, isort, flake8

update renewal info
  frontend/pages/club/[club]/renew.tsx
Due: frontend

update renewal info (#723)
  frontend/pages/club/[club]/renew.tsx
Due: frontend

sample 1% of transactions
  backend/pennclubs/settings/production.py
Due: black, isort, flake8

Check for empty responses before application submission
  frontend/pages/club/[club]/application/[application]/index.tsx
Due: frontend

open queue for new club registration
  backend/pennclubs/settings/base.py
  frontend/utils/branding.tsx
Due: black, isort, flake8, frontend

:arrow_up: Scale Up (2024 Fall Edition)
  k8s/main.ts
Due: none

Temporarily remove frontend check
  .github/workflows/build-and-deploy.yaml
Due: none

Scale down
  k8s/main.ts
Due: none

Revert "Temporarily remove frontend check"
  .github/workflows/build-and-deploy.yaml
Due: none

Update build-and-deploy.yaml
  .github/workflows/build-and-deploy.yaml
Due: none

Hide approved=False clubs and temporarily disable broken frontend checking
  .github/workflows/build-and-deploy.yaml
  backend/clubs/serializers.py
  backend/clubs/views.py
Due: black, isort, flake8

Hide approved=False clubs and temporarily disable broken frontend checking (#727)
  .github/workflows/build-and-deploy.yaml
  backend/clubs/serializers.py
  backend/clubs/views.py
Due: black, isort, flake8

Revert "Hide approved=False clubs and temporarily disable broken frontend che…"
  .github/workflows/build-and-deploy.yaml
  backend/clubs/serializers.py
  backend/clubs/views.py
Due: black, isort, flake8

Revert "Hide approved=False clubs and temporarily disable broken frontend che…" (#728)
  .github/workflows/build-and-deploy.yaml
  backend/clubs/serializers.py
  backend/clubs/views.py
Due: black, isort, flake8

Only send emails to active officers/owners
  backend/clubs/models.py
Due: black, isort, flake8

Use Club.get_officer_emails() to send alerts
  backend/clubs/models.py
Due: black, isort, flake8

update types
  frontend/components/Applications.tsx
  frontend/pages/settings.tsx
Due: frontend

change type
  frontend/pages/apply/[[...slug]].tsx
Due: frontend

Use Club.get_officer_emails() to send alerts (#729)
  backend/clubs/models.py
Due: black, isort, flake8

Refactor get_officer_emails
  backend/clubs/models.py
  backend/tests/clubs/test_models.py
Due: black, isort, flake8

add back cronjob for expiring stale membership invites
  k8s/main.ts
Due: none

move grad_users script to cronjob
  backend/clubs/management/commands/graduate_users.py
  backend/tests/clubs/test_views.py
  k8s/main.ts
Due: black, isort, flake8
