Repository pennlabs/penn-clubs: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, flake8, frontend

.pre-commit-config.yaml:

---
repos:
  - repo: local
    hooks:
      - id: black
        name: black
        entry: bash -c "export PIPENV_IGNORE_VIRTUALENVS=1 && cd backend && pipenv run black ."
        language: python
        types: [python]
        require_serial: true
        files: ^backend/
        pass_filenames: false
      - id: isort
        name: isort
        entry: isort
        language: python
        types: [python]
        require_serial: true
        files: ^backend/
      - id: flake8
        name: flake8
        entry: flake8
        language: python
        types: [python]
        require_serial: true
        files: ^backend/
        args: [--config, backend/setup.cfg]
      - id: frontend
        name: Yarn Linter
        entry: bash -c "cd frontend && yarn lint"
        language: system
        files: ^frontend/
        require_serial: false
        pass_filenames: false

Minor fix
  backend/clubs/views.py
Due: black, isort, flake8

Disable "Get Tickets" button for elapsed events
  frontend/pages/events/[id].tsx
Due: frontend

Disable editing ticket count in cart while waiting for server response for previous edit, propogate unsuccessful edit attempts to form state, clarify date range shorthand in ticket card
  frontend/components/Tickets/CartTickets.tsx
  frontend/components/Tickets/TicketCard.tsx
Due: frontend

Make rank more random
  backend/clubs/management/commands/rank.py
  frontend/pages/rank.tsx
Due: black, isort, flake8, frontend

Increase frequency of rank calculation, increase random weight in rank, remove separate random ordering option
  backend/clubs/management/commands/rank.py
  frontend/components/OrderInput.tsx
  frontend/pages/rank.tsx
  k8s/main.ts
Due: black, isort, flake8, frontend

Remove rejected and pending approval tags (not relevant for students, who see latest approved version or no club at all)
  frontend/components/ClubCard.tsx
Due: frontend

Change email templates
  backend/clubs/views.py
  backend/templates/emails/approval_status.html
  backend/templates/emails/club_deletion.html
Due: black, isort, flake8

Improve reply emails code
  backend/clubs/models.py
  backend/clubs/views.py
  backend/templates/emails/approval_status.html
  backend/templates/emails/club_deletion.html
Due: black, isort, flake8

Change call to action
  backend/clubs/views.py
  backend/templates/emails/approval_status.html
  backend/templates/emails/club_deletion.html
Due: black, isort, flake8

Hide alumni members for unauthed
  backend/clubs/views.py
  frontend/pages/club/[club]/alumni.tsx
  frontend/pages/club/[club]/index.tsx
Due: black, isort, flake8, frontend

Modify alumni backend tests
  backend/tests/clubs/test_views.py
Due: black, isort, flake8

Standardize email subjects
  backend/clubs/models.py
  backend/clubs/views.py
Due: black, isort, flake8

Change email templates (#735)
  backend/clubs/models.py
  backend/clubs/views.py
  backend/templates/emails/approval_status.html
  backend/templates/emails/club_deletion.html
Due: black, isort, flake8

Tweaks to approval email template
  backend/templates/emails/approval_status.html
Due: none

create admin note page under club mgmt view
  backend/clubs/serializers.py
  backend/clubs/views.py
  frontend/components/ClubEditPage.tsx
  frontend/components/ClubEditPage/AdminNoteCard.tsx
Due: black, isort, flake8, frontend

remove note title from frontend
  frontend/components/ClubEditPage/AdminNoteCard.tsx
Due: frontend

only show tab for superusers
  frontend/components/ClubEditPage.tsx
Due: frontend

Use existing styling constants for breakpoints, fix margin issues
  frontend/components/ClubDisplay.tsx
  frontend/constants/measurements.ts
Due: frontend

Move club cards display to masonry layout (#711)
  frontend/components/ClubDisplay.tsx
  frontend/constants/measurements.ts
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Make login button more prominent in mobile view, change wording for Add Club
  frontend/components/DisplayButtons.tsx
  frontend/components/Header/Burger.tsx
  frontend/components/Header/Links.tsx
  frontend/components/Header/index.tsx
Due: frontend

add detail and list diff
  backend/clubs/views.py
  backend/tests/clubs/test_views.py
Due: black, isort, flake8

small changes
  backend/clubs/views.py
Due: black, isort, flake8

Make models, perms, serializers, urls, and views for ownershiprequests and migrate
  backend/clubs/migrations/0114_ownershiprequest.py
  backend/clubs/models.py
  backend/clubs/permissions.py
  backend/clubs/serializers.py
  backend/clubs/urls.py
  backend/clubs/views.py
  backend/templates/emails/ownershiprequest.html
Due: black, isort, flake8

Club Mission
  frontend/components/ClubCard.tsx
  frontend/components/ClubPage/Description.tsx
Due: frontend

Admin note frontend (#736)
  backend/clubs/serializers.py
  backend/clubs/views.py
  frontend/components/ClubEditPage.tsx
  frontend/components/ClubEditPage/AdminNoteCard.tsx
Due: black, isort, flake8, frontend

Remove redundant is-mobile className
  frontend/components/Header/index.tsx
Due: frontend

Increase authed/non-authed clarity for mobile view, change wording on "Add Club" button (#737)
  frontend/components/DisplayButtons.tsx
  frontend/components/Header/Burger.tsx
  frontend/components/Header/Links.tsx
  frontend/components/Header/index.tsx
Due: frontend

Add checks for elapsed events in ticketing (#734)
  backend/clubs/views.py
  backend/tests/clubs/test_ticketing.py
  frontend/components/Tickets/CartTickets.tsx
  frontend/pages/events/[id].tsx
Due: black, isort, flake8, frontend

Fix mobile hamburger menu orientation when signed in
  frontend/components/Header/index.tsx
Due: frontend

initial template frontend + backend
  backend/clubs/admin.py
  backend/clubs/migrations/0117_clubapprovalresponsetemplate.py
  backend/clubs/models.py
  backend/clubs/serializers.py
  backend/clubs/urls.py
  backend/clubs/views.py
  frontend/components/ClubPage/ClubApprovalDialog.tsx
  frontend/components/Settings/QueueTab.tsx
  frontend/components/Settings/TemplatesTab.tsx
  frontend/pages/admin/[[...slug]].tsx
  frontend/types.ts
Due: black, isort, flake8, frontend

Move notification emails to every other day
  k8s/main.ts
Due: none

Fix typo :pensive:
  k8s/main.ts
Due: none

add API view for admin to see all ownershiprequests older than a week
  backend/clubs/admin.py
  backend/clubs/urls.py
  backend/clubs/views.py
Due: black, isort, flake8

add test lol
  backend/tests/clubs/test_views.py
Due: black, isort, flake8

merge conflicting migrations
  backend/clubs/migrations/0117_merge_20241015_1652.py
Due: black, isort, flake8

allow users to select multiple templates
  frontend/components/ClubPage/ClubApprovalDialog.tsx
  frontend/components/Settings/QueueTab.tsx
Due: frontend

minor updates courtesy of Avi and Julian
  backend/clubs/migrations/0117_clubapprovalresponsetemplate.py
  backend/clubs/models.py
  frontend/components/Settings/QueueTab.tsx
  frontend/components/Settings/TemplatesTab.tsx
Due: black, isort, flake8, frontend

Club approval response templates (#739)
  backend/clubs/admin.py
  backend/clubs/migrations/0117_clubapprovalresponsetemplate.py
  backend/clubs/models.py
  backend/clubs/serializers.py
  backend/clubs/urls.py
  backend/clubs/views.py
  backend/tests/clubs/test_views.py
  frontend/components/ClubPage/ClubApprovalDialog.tsx
  frontend/components/Settings/QueueTab.tsx
  frontend/components/Settings/TemplatesTab.tsx
  frontend/pages/admin/[[...slug]].tsx
  frontend/types.ts
Due: black, isort, flake8, frontend

description
  frontend/components/ClubEditPage/ApplicationsCard.tsx
  frontend/components/ClubEditPage/ClubEditCard.tsx
  frontend/components/EmbedOption.tsx
Due: frontend
