Repository pennlabs/penn-clubs: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, flake8, frontend

black:
  name: black
  entry: bash -c "export PIPENV_IGNORE_VIRTUALENVS=1 && cd backend && pipenv run black ."
  language: python
  require_serial: true
  pass_filenames: false

isort:
  name: isort
  entry: isort
  language: python
  require_serial: true

flake8:
  name: flake8
  entry: flake8
  language: python
  require_serial: true
  args:
  - --config
  - backend/setup.cfg

frontend:
  name: Yarn Linter
  entry: bash -c "cd frontend && yarn lint"
  language: system
  require_serial: false
  pass_filenames: false

Ticket drop time UI support, unapproved club event visibility changes (#750)
  backend/clubs/models.py
  backend/clubs/serializers.py
  backend/clubs/views.py
  backend/tests/clubs/test_ticketing.py
  backend/tests/clubs/test_views.py
  frontend/components/ClubEditPage/EventsCard.tsx
  frontend/components/ClubEditPage/QuestionsCard.tsx
  frontend/components/ClubEditPage/TicketsModal.tsx
  frontend/components/ClubPage/QuestionList.tsx
  frontend/components/EmbedOption.tsx
  frontend/components/EventPage/EventCard.tsx
  frontend/pages/events/[id].tsx
  frontend/pages/events/index.tsx
  frontend/pages/tickets/[[...slug]].tsx
  frontend/types.ts
  frontend/utils.tsx
Due: black, isort, flake8, frontend

Made abstract models BaseQuestion and BaseMultipleChoice
  backend/clubs/models.py
Due: black, isort, flake8

prettier
  frontend/package.json
  frontend/pages/health.tsx
  frontend/yarn.lock
Due: frontend

more prettier fixes for non-health
  frontend/components/ClubDetails.tsx
  frontend/components/ClubPage/LiveEventsDialog.tsx
  frontend/components/Settings/FairEventsTab.tsx
  frontend/components/Settings/WhartonApplicationTab.tsx
  frontend/pages/constitutions.tsx
  frontend/pages/events/index.tsx
Due: frontend

Redirect to new submissions location
  frontend/pages/club/[club]/application/[application]/index.tsx
Due: frontend

Add Submissions (#718)
  frontend/components/Applications.tsx
  frontend/pages/apply/[[...slug]].tsx
  frontend/pages/club/[club]/application/[application]/index.tsx
  frontend/pages/settings.tsx
Due: frontend

Use temporary fix for deployment step
  .github/workflows/build-and-deploy.yaml
Due: none

Allow Wharton Council officers to manage associated clubs
  backend/clubs/permissions.py
Due: black, isort, flake8

Extend WC perms to applications and testimonials
  backend/clubs/permissions.py
Due: black, isort, flake8

Tweak to approval history wording
  frontend/components/ClubPage/ClubApprovalDialog.tsx
Due: frontend

Address nits, add WC officer editing test, allow WC officers to see latest unapproved versions of clubs akin to club members
  backend/clubs/permissions.py
  backend/clubs/serializers.py
  backend/clubs/views.py
  backend/tests/clubs/test_views.py
Due: black, isort, flake8

revert cron to 1 min
  k8s/main.ts
Due: none

Revert "more prettier fixes for non-health"
  frontend/components/ClubDetails.tsx
  frontend/components/ClubPage/LiveEventsDialog.tsx
  frontend/components/Settings/FairEventsTab.tsx
  frontend/components/Settings/WhartonApplicationTab.tsx
  frontend/pages/constitutions.tsx
  frontend/pages/events/index.tsx
Due: frontend

didnt realize these changed
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Replace obsolete empty search message referencing Hub@Penn with link to club directory
  frontend/utils/branding.tsx
Due: frontend

BUN!
  frontend/bun.lockb
  frontend/pages/api/[...all].ts
  frontend/server.js
Due: frontend

Sus type-related things (please revisit) to get this to build
  frontend/components/FormComponents.tsx
  frontend/components/Header/index.tsx
  frontend/components/SearchBar.tsx
  frontend/package.json
  frontend/pages/api/[...all].ts
  frontend/renderPage.tsx
  frontend/utils/sentry.tsx
Due: frontend

Dev backend post sort of works
  frontend/pages/api/[...all].ts
  frontend/server.js
Due: frontend

Use built-in Next rewrite functionality for development backend
  frontend/bun.lock
  frontend/bun.lockb
  frontend/components/Settings/ProfileTab.tsx
  frontend/next.config.js
  frontend/package.json
  frontend/pages/api/[...all].ts
  frontend/utils.tsx
  frontend/yarn.lock
Due: frontend

Use Turbopack for dev server
  frontend/next.config.js
  frontend/package.json
Due: frontend

Bun Frontend Build
  frontend/Dockerfile
Due: frontend

Bun instructions in README
  README.md
Due: none

Rename Frontend Lint step to be tool-agnostic
  .pre-commit-config.yaml
Due: none

Remaining yarn references
  README.md
  frontend/test.sh
Due: frontend

model + admin changes
  backend/clubs/admin.py
  backend/clubs/migrations/0119_remove_event_description_remove_event_image_and_more.py
  backend/clubs/migrations/0120_remove_event_club.py
  backend/clubs/migrations/0121_alter_event_group.py
  backend/clubs/models.py
Due: black, isort, flake8

Application submission management clarity
  backend/clubs/views.py
  frontend/components/ClubEditPage/ApplicationsPage.tsx
  frontend/pages/club/[club]/application/[application]/index.tsx
Due: black, isort, flake8, frontend

uv migration
  backend/Pipfile
  backend/Pipfile.lock
  backend/pyproject.toml
  backend/uv.lock
Due: none

Fix local /api/admin redirect behavior on Chrome
  frontend/next.config.js
Due: frontend

Add daily cronjob for sync command 💀
  k8s/main.ts
Due: none

Revert WC-specific perms, fix test case to work with current parent-child/badge sync
  backend/clubs/permissions.py
  backend/tests/clubs/test_views.py
Due: black, isort, flake8

Comment wording changes
  backend/clubs/serializers.py
  backend/tests/clubs/test_views.py
Due: black, isort, flake8

Ensure badge/parent-child consistency on badge edit without need to sync (barring adding/deleting badges implied by non-child descendent relationship)
  backend/clubs/management/commands/sync.py
  backend/clubs/models.py
  backend/clubs/views.py
  backend/tests/clubs/test_views.py
Due: black, isort, flake8

Bump backend-check workflow
  .github/workflows/build-and-deploy.yaml
Due: none

Bump backend build actions
  .github/workflows/build-and-deploy.yaml
Due: none

Test reusable workflows branch
  .github/workflows/build-and-deploy.yaml
Due: none

Revert "remove frontend check again :skull:"
  .github/workflows/build-and-deploy.yaml
Due: none

Bump frontend check
  .github/workflows/build-and-deploy.yaml
Due: none

Use new react workflow
  .github/workflows/build-and-deploy.yaml
Due: none

Path conditions:
  black: any of: ^backend/ and \.py$
  isort: any of: ^backend/ and \.py$
  flake8: any of: ^backend/ and \.py$
  frontend: any of: ^frontend/
