Repository pennlabs/penn-clubs: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-lint-fix, frontend

ruff-format:
  name: Ruff Formatter
  entry: bash -c "export PIPENV_IGNORE_VIRTUALENVS=1 && cd backend && pipenv run ruff format ."
  language: python
  require_serial: true
  pass_filenames: false

ruff-lint-fix:
  name: Ruff Lint (Apply Fixes)
  entry: ruff check . --fix
  language: python
  require_serial: true

frontend:
  name: Frontend Linter
  entry: bash -c "cd frontend && bun run lint"
  language: system
  require_serial: false
  pass_filenames: false

small change to models + test_models
  backend/clubs/models.py
  backend/tests/clubs/test_models.py
Due: ruff-format, ruff-lint-fix

update models
  backend/clubs/models.py
Due: ruff-format, ruff-lint-fix

enable eventpermission to handle both event and eventgroup instances
  backend/clubs/permissions.py
Due: ruff-format, ruff-lint-fix

move create_thumbnail func to EventGroup model
  backend/clubs/models.py
Due: ruff-format, ruff-lint-fix

small optimization in RecurringEvent
  backend/clubs/models.py
Due: ruff-format, ruff-lint-fix

remove code field from event model
  backend/clubs/models.py
Due: ruff-format, ruff-lint-fix

update serializers.py
  backend/clubs/serializers.py
Due: ruff-format, ruff-lint-fix

Add test for cart total calculation given code discount
  backend/tests/clubs/test_ticketing.py
Due: ruff-format, ruff-lint-fix

Fix mobile responsivity for club management screens
  frontend/components/ClubEditPage/EventsCard.tsx
  frontend/components/ClubEditPage/TicketsModal.tsx
  frontend/components/ModelForm.tsx
  frontend/components/TabView.tsx
  frontend/components/common/Modal.tsx
  frontend/components/common/Table.tsx
Due: frontend

update populate.py + remove apply code removal migration
  backend/clubs/management/commands/populate.py
  backend/clubs/migrations/0123_remove_event_code.py
  backend/tests/clubs/test_commands.py
Due: ruff-format, ruff-lint-fix

update views.py
  backend/clubs/views.py
Due: ruff-format, ruff-lint-fix

update urls.py
  backend/clubs/urls.py
Due: ruff-format, ruff-lint-fix

make tests happy for now
  backend/clubs/models.py
  backend/clubs/serializers.py
  backend/clubs/views.py
  backend/tests/clubs/test_commands.py
  backend/tests/clubs/test_documentation.py
  backend/tests/clubs/test_models.py
  backend/tests/clubs/test_ticketing.py
  backend/tests/clubs/test_views.py
Due: ruff-format, ruff-lint-fix

Bump shared actions deploy to 0.1.8
  .github/workflows/build-and-deploy.yaml
Due: none

Bump shared actions deploy to 0.1.9
  .github/workflows/build-and-deploy.yaml
Due: none

Add discount code input when adding tickets to cart and add group + code discounts to summary
  backend/clubs/serializers.py
  backend/clubs/views.py
  frontend/components/Tickets/CartTickets.tsx
  frontend/pages/events/[id].tsx
  frontend/pages/tickets/[[...slug]].tsx
  frontend/types.ts
  frontend/utils.tsx
Due: ruff-format, ruff-lint-fix, frontend

Use built-in Next.js servers, bump Node/Bun/Next versions, use Bun for React check
  .github/workflows/build-and-deploy.yaml
  frontend/Dockerfile
  frontend/bun.lock
  frontend/package.json
  frontend/server.js
Due: frontend

Use image with bun for frontend check :(
  .github/workflows/build-and-deploy.yaml
Due: none

Remove cache since it's much slower than not caching with bun
  .github/workflows/build-and-deploy.yaml
Due: none

Fix reapproval queue settings in case where club submits reapproval request without additional changes to fields
  backend/clubs/serializers.py
  backend/tests/clubs/test_views.py
Due: ruff-format, ruff-lint-fix

add more tests
  backend/clubs/serializers.py
  backend/clubs/views.py
  backend/tests/clubs/test_views.py
Due: ruff-format, ruff-lint-fix

Update build-and-deploy.yaml
  .github/workflows/build-and-deploy.yaml
Due: none

Update build-and-deploy.yaml (copy from passing branch)
  .github/workflows/build-and-deploy.yaml
Due: none

Use uv
  .github/workflows/build-and-deploy.yaml
  .pre-commit-config.yaml
  README.md
  backend/Dockerfile
  backend/Pipfile
  backend/Pipfile.lock
  backend/clubs/admin.py
  backend/clubs/models.py
  backend/clubs/views.py
  backend/pyproject.toml
  backend/tests/clubs/test_ticketing.py
  backend/tests/clubs/test_views.py
  backend/uv.lock
Due: ruff-format, ruff-lint-fix

Fix name
  .github/workflows/build-and-deploy.yaml
Due: none

Fix directory issues and use modern codecov action
  .github/workflows/build-and-deploy.yaml
Due: none

Generate xml for code coverage
  .github/workflows/build-and-deploy.yaml
Due: none

add length limitations
  backend/clubs/models.py
Due: ruff-format, ruff-lint-fix

run bun install
  frontend/bun.lock
  frontend/components/ClubDetails.tsx
  frontend/components/ClubPage/LiveEventsDialog.tsx
  frontend/components/Settings/FairEventsTab.tsx
  frontend/components/Settings/WhartonApplicationTab.tsx
  frontend/pages/constitutions.tsx
Due: frontend

Use built-in Next.js servers, bump Node/Bun/Next versions, use Bun for React check (#799)
  .github/workflows/build-and-deploy.yaml
  frontend/Dockerfile
  frontend/bun.lock
  frontend/package.json
  frontend/server.js
Due: frontend

Only show master branch build status in README
  README.md
Due: none

Remove caching for uv-managed dependencies
  .github/workflows/build-and-deploy.yaml
Due: none

Use uv (#800)
  .github/workflows/build-and-deploy.yaml
  .pre-commit-config.yaml
  README.md
  backend/Dockerfile
  backend/Pipfile
  backend/Pipfile.lock
  backend/clubs/admin.py
  backend/clubs/models.py
  backend/clubs/views.py
  backend/pyproject.toml
  backend/tests/clubs/test_ticketing.py
  backend/tests/clubs/test_views.py
  backend/uv.lock
Due: ruff-format, ruff-lint-fix

Fix asgi-run to use uv
  backend/Dockerfile
  backend/scripts/asgi-run
Due: none

add location after first save
  backend/clubs/models.py
Due: ruff-format, ruff-lint-fix

Path conditions:
  ruff-format: any of: ^backend/ and \.py$
  ruff-lint-fix: any of: ^backend/ and \.py$
  frontend: any of: ^frontend/
